[2018-09-11 17:08] #1180 closed

[2018-09-11 21:43] mvines opened #1191 "Improve Budget NewContract edge case handling"
If the `key[1]` account has non-zero tokens or any userdata, Budget should refuse to install a contract to prevent:
1. Locking additional tokens into an existing contract
2. Locking up arbitrary accounts with knowledge of their public key

ref:
https://github.com/solana-labs/solana/blob/9d80eefb81e677fd72d9d2009d1d8631661bd277/src/bank.rs#L272-L287

[2018-09-12 02:43] mvines commented on #1184
Quick note since I'm thinking about it: `key[0]` should be implicit as it's always the wallet's key (and who signed the Transaction)

[2018-09-12 04:03] rob-solana commented on #1164
looks like the blob recycler fixes got us to 35 minutes, and once crashed, we have an unrecoverable ledger on leader

[2018-09-12 16:53] ericlwilliams opened #1197 "Economic finality modeling via lockout and stake functions"
Inspired by the calculations of double-spend attack probabilities as a function of % total hash power and block depth outlined in the bitcoin [white paper](https://bitcoin.org/bitcoin.pdf) w/ more detailed analysis [here](https://arxiv.org/pdf/1402.2009.pdf) and given that Solana is an availability preferring design - we're interested in:

- Can we parameterize the economic security of a transacti

[2018-09-12 19:12] rob-solana opened #1199 "Blob::recv_from fails to recycle on recv_from() timeout"

[2018-09-12 20:17] garious opened #1200 "PoH hash can't be mapped to Bank state in leader"
Problem:

Currently, after processing transactions in the TPU, those transactions are shipped to the RecordStage to be tagged with the PoH counter. Meanwhile, the BankStage will read the next batch of transactions and start processing them. By the time the bank learns the PoH hash of the first set of transactions, its accounts will be in an unknown state. And because we can't map a PoH hash to a B

[2018-09-12 21:45] #1199 closed

[2018-09-12 22:38] #712 closed

[2018-09-12 22:58] mvines commented on #1151
So I did this.  Sry

[2018-09-12 22:58] #1151 closed

[2018-09-12 23:06] mvines commented on #1150
It's back

[2018-09-12 23:06] #1150 closed

[2018-09-13 03:57] rob-solana opened #1202 "Blob::recv_from() should recycle on any error"
https://github.com/solana-labs/solana/pull/1198/files

@rwalker I think we need to recycle from this case too:
match recv_blob(socket, &r) {
    Err(_) if i > 0 => {
in packet::Blob::recv_from

[2018-09-13 05:38] mvines commented on #1169
Since we only have a single public testnet right now, I fixed by running the json-rpc-https-proxy on api.testnet.solana.com (and updated example-webwallet to use it) - https://github.com/solana-labs/example-webwallet/commit/76e1c2ad0aa828054b9708a39b1888718f6d0ac2

[2018-09-13 05:38] #1169 closed

[2018-09-13 05:51] mvines opened #1204 "Get rid of multinode-demo/wallet.sh"
The main reason `multinode-demo/wallet.sh` exists is to help with rsyncing leader.json.  But that shouldn't be necessary.  Instead we can use the same approach as `bench-tps` and give wallet a `--network` argument.

There's also a "reset" command that's implemented by `multinode-demo/wallet.sh`, which can just be deleted (with an update to `scripts/wallet-sanity.sh`).

Without `multinode-demo/wall

[2018-09-13 15:21] sakridge opened #1206 "bank.accounts length should be propagated to influx"
bank.accounts length is being logged now, but could be useful information in influx to see how fast/large the accounts table is growing.

https://github.com/solana-labs/solana/blob/ee74b367ce07f56e515ec7e14597e54f24be9c0d/src/bank.rs#L499

[2018-09-13 15:29] #1202 closed

[2018-09-13 16:19] sakridge opened #1207 "See if coalescing recyclers has any performance impact"
In theory could be more thread contention since now there is just a single gc array for blob allocators. Also memory migration between cores could be worse. Certain allocation spots may also have specific memory size requirements which could use more memory than necessary for smaller allocation spots. I suppose this is not an issue for blobs which are all the same size, but could be for Packets.

[2018-09-13 17:05] sakridge opened #1208 "bench-tps TPS summary output is broken"
Always reports 0:

[code]

[2018-09-13 17:07] garious opened #1210 "Pubkey duplication in Transaction"
`Transaction.keys` contains information that is also serialized into `Transaction.userdata`. Instead, change `Transaction.keys` from `Vec<Pubkey>` to `Vec<u16>`, where `u16` is a byte offset to the first instance of that Pubkey in `userdata`.

Also, consider making that `Vec<(u16, Option<u16>)>` to optionally pair that Pubkey with a Signature.

[2018-09-13 17:07] garious commented on #1210
@aeyakovenko, @mvines, sound about right?

[2018-09-13 17:08] garious commented on #1210
@sakridge, would SigVerify be able to work with this additional level of indirection?

[2018-09-13 17:32] CriesofCarrots opened #1212 "Refactor Wallet CLI"
`src/bin/wallet.rs` has expanded beyond simple argument parsing.
Move this extended functionality to `src/wallet.rs` and add tests to make it a robust module.

[2018-09-13 17:34] sakridge commented on #1210
@garious with modification, yes.

[2018-09-13 17:34] pgarg66 commented on #1141
The current code calls recv_from() system call for every UDP packet that's being received. Higher PPS (packets/second) means more invocations of system calls. The system call is inherently an expensive operation.

Linux supports recvmmsg() system call. This enables user space application to receive multiple packets via one system call invocation. http://man7.org/linux/man-pages/man2/recvmmsg.2.htm

[2018-09-13 20:58] garious opened #1214 "Difficult to decipher GitHub issues and PRs"
Problems:

* Issue assignee oftentimes needs to work to grok a given task in terms of an undocumented problem.
* Code reviewer oftentimes needs to work to grok a given solution in terms of an undocumented problem.

Proposed solution:

Add .github ISSUE_TEMPLATE.md and PULL_REQUEST_TEMPLATE.md to offer guidance on how we can better communicate what we did or what we should do. The templates should

[2018-09-13 21:41] #1141 closed

[2018-09-14 01:02] aeyakovenko commented on #1210
Why though?

On Thu, Sep 13, 2018 at 10:34 AM sakridge <notifications@github.com> wrote:

--
——
https://solana.com
https://t.me/tolyloom

[2018-09-14 01:16] mvines commented on #1210
This seems a little weird.  What does changing `Transaction.keys` in this way buy us beyond complexity?

[2018-09-14 01:17] garious commented on #1210
Much less bits => higher TPS, @aeyakovenko

[2018-09-14 01:35] aeyakovenko commented on #1210
What I am not a fan of with this approach is that a user writing this by
hand will need to recompute the offsets every time anything changes in the
userdata.

On Thu, Sep 13, 2018 at 6:23 PM Anatoly Yakovenko <anatoly@solana.com>
wrote:

--
——
https://solana.com
https://t.me/tolyloom

[2018-09-14 01:59] garious commented on #1210
One minor correction, instead of `Vec<(u16, Option<u16>)>`, I'd suggest making that two separate `Transaction` fields:

[code]

And if you choose to inline it (because the duplication is less offensive than misaligned byte offsets), then each item in each vector would be nicely 8-byte aligned.

[2018-09-14 02:45] mvines commented on #1210
The `userdata` isn't the actual contract though right?  It's the input that the contract consumes to move it to the next state, along with the list of keys of accounts the contract should use.

[2018-09-14 02:57] garious commented on #1210
@mvines, https://github.com/solana-labs/solana/blob/master/src/transaction.rs#L262

[2018-09-14 02:58] mvines commented on #1210
Yeah that's "the input that the contract consumes to move it to the next state".  It's not the contract itself, the word "instruction" there is a misnomer.

[2018-09-14 03:06] mvines commented on #1210
Calling it "/dev/stdin" would be better ;)

[2018-09-14 03:07] garious commented on #1210
I'm not seeing that. Maybe that's in Anatoly's architecture? Latest code is the original code, where instruction has a NewContract constructor, which is the full contract: https://github.com/solana-labs/solana/blob/master/src/transaction.rs#L156

[2018-09-14 04:35] garious commented on #1210
That data *is* the contract, but the contract doesn't necessarily execute. Later transactions provide data that allows the contract to progress. Indeed, the code that actually executes is embedded in the fullnode code. In the future, that code, which is the contract interpreter, will be added to the chain with new instruction. It'll probably be called `NewInterpreter` and would be linked to `NewCo

[2018-09-14 05:10] rob-solana opened #1217 "Empty ledger entries sometimes generated"
often a burst of empty entries can be found in the ledger, they take the form
[code]
these shouldn't be generated.

[2018-09-14 07:27] rob-solana commented on #1171
I have a "short" (87k entries) ledger that fails to verify with the error LastIdNotFound.  I've used ledger-tool to dig around in it.  The ledger format is uncorrupted: the index and the data file agree, but the bank is unhappy.

[code]

The last_id that's "not found" (let's call it ```3WPtc```) first appears in the ledger at index **49,199**.  The first use of ```3WPtc``` as a last_id comes at le

[2018-09-14 14:51] mvines commented on #1210
That last comment makes sense.  In the world of #1189, `NewInterpreter ` maps to using [System.CreateAccount](https://github.com/solana-labs/solana/blob/2d4a06e332907297caca1b495fc2ee6b84ad6729/src/system.rs#L16-L20) to initialize a `Pubkey` for use with Budget.  Then a Budget contract is moved into the Account `userdata` of that `Pubkey` with a `NewContract` transaction.

But coming back to the i

[2018-09-14 15:04] rob-solana commented on #1217
https://github.com/solana-labs/solana/blob/bcb3b3c21f19a141ee2fb2757d58aaa2fb66c14d/src/banking_stage.rs#L113
can generate empty vectors of transactions

https://github.com/solana-labs/solana/blob/bcb3b3c21f19a141ee2fb2757d58aaa2fb66c14d/src/record_stage.rs#L86
Passes on empty vectors, and/or creates them.

https://github.com/solana-labs/solana/blob/bcb3b3c21f19a141ee2fb2757d58aaa2fb66c14d/src/rec

[2018-09-14 15:33] aeyakovenko commented on #1210
It’s going to add a bunch of complexity to the contract code to try to figure out which keys where verified.  The code would need to deserialize the transaction userdata then compute the offset of each key and check that the offset is in the index array.

[2018-09-14 15:38] CriesofCarrots opened #1219 "WalletCommand results hard to test"
Problem:
The Wallet module `process_command` method prints various statements to stdout as its only output. The fact that it doesn't return any data makes it difficult to test.

Proposed Solutions:
- Return a string from `process_command` and then print it in the CLI module.
- Or, create a WalletResponse enum which returns whatever data from `process_command` in its native type. Then format into p

[2018-09-14 15:43] CriesofCarrots opened #1220 "Drone `run_local_drone` method is too large"
Problem: `run_local_drone()` is very large and hard to test.

Proposed Solution: simplify and split into multiple testable methods

[2018-09-14 15:43] CriesofCarrots commented on #1220
Perhaps move everything in the big for_each loop into a separate function

[2018-09-14 15:57] garious commented on #1210
@mvines, I'll need to play with that. That code looks a little backward from what I'd expect. Are you blocked by that? My first experiment would be to add an interpreter ID to the transaction. Maybe that's already there and I'm just confused by the terminology.

[2018-09-14 18:30] sakridge opened #1222 "packet::Blob::send_to can "leak" blobs if an error is encountered"
If we encounter the error case to this function we will return early and fail to recycle the rest of the blobs in the SharedBlobs vec.

[2018-09-14 18:30] sakridge commented on #1222
https://github.com/solana-labs/solana/blob/bcb3b3c21f19a141ee2fb2757d58aaa2fb66c14d/src/packet.rs#L548

[2018-09-14 18:31] sakridge commented on #1222
This error doesn't seem to be encountered in any current scenario that I can tell, so not an immediate problem.

[2018-09-14 19:23] pgarg66 opened #1224 "Occasional UDP packet drop on validator nodes"
Some packet drops are noticed on validator nodes due to rcvbuf_error. Most UDP traffic to validators consists of Blobs (broadcasted/forwarded/repaired). The first two category of data is received on replicate port.

The packet drop is not as significant as on the leader node. But, any dropped blob will trigger repair request and would impact the overall performance.

<img width="1482" alt="screen

[2018-09-14 20:29] garious commented on #1200
Note: the proposed solution, should we go that route, should likely fix https://github.com/solana-labs/solana/issues/1171. That is, assuming we move `register_entry_id()` from the WriteStage to the BankingStage.

[2018-09-14 23:56] #1224 closed

[2018-09-15 00:04] pgarg66 opened #1230 "Data plane only scaling to 100 nodes - incomplete implementation of Avalanche"
Currently all validators get a subset of the blobs from the leader node. Validators, then, forward/retransmit the blobs to the peer validator nodes. This is 1st level of Avalanche network.

This approach may not work very efficiently when the validator node count grows beyond a certain number. The network bandwidth of the leader may prevent it from achieving maximum TPS if it was broadcasting to a

[2018-09-15 03:16] mvines opened #1231 "Fix ci/test-large-network.sh"
3ca80c676cd18a3571ccee5cb62ecd22dd382952 disables `ci/test-large-network.sh` because it doesn't pass and is ignored in CI, so we had a large 96 core machine running for no reason.

When we want to bring ci/test-large-network.sh back, we should also dynamically start/stop the `ci-large` machine.

[2018-09-15 03:27] mvines commented on #404
#1232 is an example of why we need to do this

[2018-09-15 11:57] garious commented on #383
fyi, https://github.com/BurntSushi/cargo-benchcmp

[2018-09-17 15:30] aeyakovenko opened #1238 "Finality is blocked by write stage"
Write stage is in front of transmitting and broadcast stage.  This causes the network to effectively fall behind the leaders disk.  Since we are an A system, the leader can be optimistic about the network's ability to maintain copies of the packets even if its local disks fails

* write stage should eat the window
* vote stage should store the votes in redundant storage somewhere before votes are

[2018-09-17 15:58] mvines opened #1239 "Switch testnet-master over to AWS"
Let's ensure AWS support is really fully functional by switching testnet-master over to it.
We currently use a 4 x K80 instance on GCE but AWS doesn't have that exact config.  Also need to get more GPU quota on AWS.

[2018-09-17 16:26] #1170 closed, assigned to nobody

[2018-09-17 17:14] rob-solana commented on #1076
I'm going to close this because we haven't seen it for a while.

[2018-09-17 17:14] #1076 closed

[2018-09-17 17:53] #1204 closed

[2018-09-17 20:16] sakridge opened #1243 "Better channel counter architecture"
Performance counters are a bit ad-hoc and have to be manually added when adding/modifying a stage.

Couple ideas to improve that are to either have a channel wrapper which can then log how full the channel is at any given point or empty the channel at each stage similar to how we do in sigverify/banking_stage.

[2018-09-17 20:29] aeyakovenko commented on #1081
Another simple approach.

* leader rotation occurs every X poh counts
* seed is generated every Y poh counts
* seed is simply the sha(Y)

The only thing that a malicious network can modify is the set of active nodes, which is censorship resistant if X <<< Y and there is enough leaders rotating to allow everyone to submit a vote.

[2018-09-17 20:32] sakridge commented on #1164
Seems that heaptrack points to a banking_stage::process_packets allocation which is growing very large.

[2018-09-17 20:45] #1219 closed

[2018-09-17 21:50] aeyakovenko commented on #1243
draining channel?
send(Vec<A>)
recv() -> Vec<A>

[2018-09-17 21:57] rob-solana opened #1247 "tvu is not aware of forks"
in the case of a network partition, a validator visible to both networks (i.e. that can see multiple leaders at its tvu port), needs a way to:

- [ ] detect the fork
- [ ] store some amount of fork or pick a fork
- [ ] roll back in case the fork is abandoned

things to consider:
* blobs aren't signed (assume they will be eventually)
* we may need to run N windows, one for each possibly valid fork

[2018-09-17 22:33] garious commented on #1081
@aeyakovenko, do you mean the sha of the poh hash at each of the Y poh counts?

[2018-09-17 22:37] aeyakovenko commented on #1081
@garious no, the actual counter.  so the seed is basically known in advance.  the only thing the leader can change is the active set of nodes and their stake weight, which is computed over a longer period.  seed is basically Y

[2018-09-17 22:54] garious commented on #1081
So if Y is constant, then sha(Y) will always be the same.  Seems like you can remove that rule, and use every Yth poh hash as the seed.

[2018-09-17 22:56] garious commented on #1081
Also, does <<< mean "much less than"?

[2018-09-17 22:58] aeyakovenko commented on #1081
Y, changes, 100, 200, 300, 400...  It's just known ahead of time.  The difference with using sha(poh) is that poh can be manipulated at the moment of computation, so the bad leader can order or exclude nodes from rotation

[2018-09-17 23:00] garious commented on #1081
I see, Y as an absolute poh count. You said "Y poh counts".  You need another variable. Something like SUM(Yn).

[2018-09-17 23:01] garious commented on #1081
I'm on board with this technique.

[2018-09-17 23:05] aeyakovenko commented on #1081
yea, i like how simple it is.  we should try to optimize for fast leader rotation anyways, under 10s!

[2018-09-17 23:33] garious commented on #1081
I think your strategy breaks because the absolute poh count will change once a validator becomes a leader by mistake.  It'll never calculate the right leader again.  Instead, how about:

Hash the genesis seed once per entry and sample that chain every X entries. So:

[code]

And then say that h1 is the seed after X, h2 is the seed after 2*X, etc.  In this way, you could generate the leader schedul

[2018-09-17 23:35] aeyakovenko opened #1249 "dump iostat to graphana to monitor disk bottlenecks"
[code]
We need a dashboard that monitors the write stage, and disk for leaders and validators to observe if there is a disk bound bottleneck

[2018-09-17 23:36] aeyakovenko commented on #1081
@garious always rotate the seed at the expected height, no matter how many network timeout based leader switches occurred

[2018-09-17 23:43] garious commented on #1081
I see, expected height. Clever.

[2018-09-18 00:55] rob-solana commented on #1238
this will be part of addressing the OOM issue

[2018-09-18 01:01] rob-solana commented on #1164
per the Discord discussion:
[code]

write_stage is the system's bottleneck, which causes the channel between it and record_stage to grow without bound

to fix (ameliorate): move everything but ledger_writer stuff out of write_stage

1. move register_last_id() back to as early as possible that has "entry"
2. move to_blobs() to broadcast stage
3. have record_stage send entries to both broadcast and

[2018-09-18 01:08] mvines commented on #1191
Obsolete

[2018-09-18 01:08] #1191 closed

[2018-09-18 17:07] rob-solana commented on #1164
I think we should also move "having an entry" back to banking_stage

[2018-09-18 17:28] rob-solana opened #1254 "window size is hard coded"
window size is hard-coded which means that testing of window different window sizes requires a erbuild

[2018-09-18 17:34] jackcmay opened #1255 "Add support for loading dynamic contracts"
This issue tracks the incremental steps needed to support loading dynamic contracts in Pillbox.  Future enhancements are tracked by #1564

Design of dynamic contracts is being tracked by a couple of different issues (#943, #940, #1133)

Native refers to loading platform modules  (e.g. MacOs uses x86-64 Mach-0 modules).  These modules are loaded from files on the machine running Solana.  Their inte

[2018-09-19 03:22] garious opened #1261 "Clippy reporting bogus warnings"
The nightly clippy is reporting bogus warnings, so we're not treating them as errors. Because they aren't causing CI failures, folks are ignoring them. Move clippy from nightly to stable, where those warnings aren't reported and return to treating warnings as errors.

[2018-09-19 13:58] garious opened #1263 "Recycler is prone to errors"
The existing Packet and Blob recyclers require careful placement of `recycle()`. When we don't get it right, we see memory leaks that result in Out-of-Memory (OOM) faults.

Proposed solutions:
1. Implement Drop in the existing recycler
2. Migrate to a lifetime-aware recycler, which will require stages use a lifetime-aware thread such as crossbeam's scoped threads. https://github.com/garious/recycl

[2018-09-19 20:40] sakridge opened #1267 "[storage mining] Replicator client"
This is a new client that needs to:

- [x] startup, converge in the network
- [ ] Get current mining PoH hash and sign it with its identity
- [ ] Use that signing to ask a validator for its slice of the ledger to store and encryption key
- [x] download that slice and write it to disk
- [x] encrypt that slice with chacha CBC mode with configurable number of rounds
- [ ] respond to others who want t

[2018-09-19 20:47] sakridge opened #1269 "[storage mining] Validator storage validating"
- [x] Implement table for [encryption key] x [ledger slice] and interface for clients to ask for their slot
- [ ] Implement storage mining contract which accepts proofs of storage from miners and gives them tokens.
- [x] Call out to GPU code to verify 'x' many encryption keys and verify storage proof accuracy

[2018-09-19 21:57] garious opened #1274 "Malformed transactions crash the leader"
Need to at least audit all calls to `deserialize()` and ensure its error is being handled and not `unwrap()`ed.

[2018-09-20 04:29] mvines opened #1278 "Add RPC API to fetch contents of any account"
input: account public key
output: octets contained within the account userdata, account tokens, and account program_id

[2018-09-20 04:31] mvines opened #1279 "Update RPC 004 - tic-tac-toe"
Some of the terminology, steps in RFC 004 need a refresher based on recent commits.

[2018-09-20 17:36] mvines commented on #1181
Obsolete

[2018-09-20 17:36] #1181 closed

[2018-09-20 18:50] ericlwilliams commented on #1197
Economic finality dashboard WIP: https://solana.shinyapps.io/economic_finality/

[2018-09-20 20:58] #1278 closed

[2018-09-20 21:18] mvines opened #1285 "Enhance getConfirmation RPC API to include the transaction error code"
Right now Transactions can fail internally and have no way to report this failure, as the transaction is considered executed.

eg: https://github.com/solana-labs/solana/blob/a6c15684c9f66360c198ba0b2a5672f3382a5b1e/src/system_contract.rs#L59

We can have transactions report an error code that gets stored in the bank alongside the transaction signature, fetch-able by the getConfirmation API.  Trans

[2018-09-20 22:16] aeyakovenko opened #1289 "Accounts accessible by all instances of a program, not one"
Right now `program_id` is pointing to code without state.  The same `program_id` is used for calling any permutation of state.  Which forces the program to create its own namespace system for state (like a process id map) and defend against malicious users who can call the program with any object in the system.

We need an interface that takes a program_id, and creates a process_id which is what t

[2018-09-20 22:38] mvines opened #1291 "Update example-webwallet to latest solana-web3.js changes"
Once APIs settle back down again for 0.8, the example-webwallet needs to be ported to the changes.

[2018-09-20 22:58] mvines opened #1293 "Permit batching transactions"
Right now a `Transaction` contains a single command to a single program.  This means that more complex operations that require multiple commands to complete will run at the clockrate of finality.

The proposal to resolve this is to permit multiple instructions to be batched within a single Transactions.  Such a Transaction is only confirmed if all instructions within it successfully complete.

A s

[2018-09-20 23:01] aeyakovenko commented on #1293
@mvines the indecies should be signed as well.  I think we will need to change the entry point also

[2018-09-20 23:04] garious commented on #1293
Your SignedTransaction contains only the unsigned part.

[2018-09-20 23:05] garious commented on #1293
We've called it TransactionData in previous iterations.

[2018-09-20 23:06] garious commented on #1293
How about `signatures: Vec<PubKey, Signature>`? And then just don't include those pubkeys in `keys`.

[2018-09-20 23:07] garious commented on #1293
nevermind. I see how that'd break your Instruction definition.

[2018-09-20 23:11] mvines commented on #1293
I updated the sketch to include:
* TransactionData rename
* the indices for the signature pubkeys are now also signed

[2018-09-20 23:18] garious commented on #1293
I like it!

[2018-09-21 03:02] mvines commented on #1279
NB: an acceptable alternative would be to just implement a tic-tac-toe program.  We now have all the necessary facilities to do this.

[2018-09-21 15:08] garious opened #1298 "Clients don't get feedback about bad transactions"
If a transaction makes it past signature verification, binary format verification, and even Budget's verify_plan(), it still might fail in the contracts engine. At that point, its `signature` will still be in the `last_ids` queue, and the client will be able to confirm its signature was accepted (and fee collected), but not know that the transaction was rejected by the contracts engine.

Note that

[2018-09-21 15:08] garious commented on #1298
@mvines, fyi

[2018-09-21 15:08] mvines commented on #1285
Depends-on: #1298

[2018-09-21 15:13] garious commented on #1293
Any feelings about that `u8` index?  I find it easy to imagine a single batch containing far more than 256 public keys, although difficult in practice if we continue to limit transactions to single UDP packets. But what if we offered a way to submit very large transactions over TCP. Should we have a separate binary format for that? One that can index thousands or millions of pubkeys?

[2018-09-21 16:26] aeyakovenko commented on #1293
There are other ways to solve for huge transactions.  Users could upload
transactions that get put together and then executed atomically.

Large sessions are hard to defend against spammers, so the piecemeal
approach might be better for us anyways.

I just hate to waste those bits on zeros :)

On Fri, Sep 21, 2018 at 8:14 AM Greg Fitzgerald <notifications@github.com>
wrote:

--
——
https://solana.c

[2018-09-21 17:43] sakridge commented on #1222
That's why leak is in quotes. Yes failure to recycle is more correct. Anyway, not a problem now in theory :)

[2018-09-21 19:33] aeyakovenko commented on #1298
@garious i am stealing this.  the work to make bank mt safe is touching this shared data structure.

[2018-09-21 20:54] aeyakovenko commented on #1298
t

[2018-09-21 22:11] garious commented on #1263
Fixed in #1275

[2018-09-21 22:11] #1263 closed

[2018-09-21 22:11] garious commented on #1298
@aeyakovenko, Why did you close this?

[2018-09-22 00:06] #1075 closed

[2018-09-22 04:55] rob-solana opened #1307 "remove #[ignore] for window_send_late_leader_test() in window_service.rs"
https://github.com/solana-labs/solana/blob/a51c2f193e3cdba339e835a4e0b3114fad7856e6/src/window_service.rs#L478

line was added to get master building again in CI

[2018-09-22 04:57] rob-solana commented on #1200
fixed in #1300

[2018-09-22 04:57] #1200 closed

[2018-09-22 20:42] bbuenz commented on #388
@garious that still doesn't make it a VDF by the definitions of https://eprint.iacr.org/2018/601.
Definition 1 states: Verify must run in total time poly(log(t)) where t is the time it takes to evaluated. Total time roughly means total cpu time spent.

[2018-09-23 18:13] aeyakovenko commented on #388
They formalized their definition after us ;). We can swap in other VDFs instead of sha256, the recorder is agnostic of the kind used.  Our main concerns are: trustless setup, preimage resistance, low asic speed up for generation. And not so much the asymmetry between generation and validation.

[2018-09-23 18:16] aeyakovenko commented on #388
This is a more general definition

‘’’

1 What is a Verifiable Delay Function?
A verifiable delay function (VDF) [12, 3] is a function f : X → Y that takes a prescribed time to compute, even on a parallel computer. However once computed, the output can be quickly verified by anyone. Moreover, every input x ∈ X must have a unique valid output y ∈ Y.
‘’’
http://crypto.stanford.edu/~dabo/papers/VDFsu

[2018-09-23 22:15] jackcmay opened #1314 "Thread safety issue when loading dynamic modules on Linux"
Observed while using crate libloading

Given a multi-threaded test that loads a dynamic module, calls a function, and then unloads the module in a loop, the expected behavior is for the module to be loaded/unloaded and it's init/fini called respectively everytime.  Like so:

[code]

The expected behavior is observed when running on MacOS but not on Linux.

On Linux we observe the module's init/dei

[2018-09-24 05:12] jackcmay opened #1315 "Failing test, possible race condition: test replicator::tests::test_replicator_startup"
Occasional CI test failure seen in multiple PR CI results, usually in perf-stable:
- https://buildkite.com/solana-labs/solana/builds/3461#400bee3a-a645-4143-a242-d439ec6e305f
- https://solana-ci-gate.herokuapp.com/buildkite_public_log?https://buildkite.com/solana-labs/solana/builds/3461#stable-perf

[code]

[2018-09-24 16:19] jackcmay opened #1318 "Cargo audit fails (smallvec)"
smalvec is currently a dep of solana
solana -> jsonrpc-http-server -> hyper -> tokio-proto -> smallvec v0.2.1

tokio-proto has been deprecated archived so no chance of that being fixed.

jasonrpc has an open issue (https://github.com/paritytech/jsonrpc/issues/298) to update to the latest hyper which does not depend on tokio-proto.  Waiting for jasonrpc's issue to be closed.

[code]

[2018-09-24 20:48] pgarg66 opened #1325 "Identify ideal GPU configuration for cloud nodes"
The GCE scripts are configuring testnet with 4 K80 GPUs. The testnet performance for leader node is sub-optimal with these GPU cores. I tried using 2 V100 GPUs, and there was big jump in TPS performance.

4x K80 =>  ~130K TPS
2x V100 => ~250K TPS

This performance was not sustainable across network, as validators started lagging, and finality numbers were bad.

This ticket is to track performance

[2018-09-24 21:07] bbuenz commented on #388
Feel free to call it whatever you like. If you ask me, I would call it a delay function, proof of delay[http://www.jbonneau.com/doc/BGB17-IEEESB-proof_of_delay_ethereum.pdf] or iterated sequential function (see definition in our paper). You can always split up the computation and verify in parallel that is not a particular property of sha256. I don't know your particular application but perhaps yo

[2018-09-24 21:34] sakridge commented on #1315
I think it may be fixed now.

[2018-09-24 23:12] garious commented on #1298
I'll use this ticket to track the missing unit-tests on #1301, as well as running that error up to jsonrpc. I'll merge #1301 sooner than later since it duplicates some work in @aeyakovenko's PR.

[2018-09-25 00:59] mvines opened #1326 "Upgrade ci system images to Ubuntu 18.04"
We're driving 16.04 right now

Depends-on: https://github.com/solana-labs/solana/issues/1702

[2018-09-25 03:41] mvines commented on #1291
https://github.com/solana-labs/example-webwallet/commit/68a0b04b006f526f26f6351e67a44279eb35073e

[2018-09-25 06:13] rob-solana commented on #1318
[code]

[2018-09-25 06:14] rob-solana commented on #1004
cc #1318

[2018-09-25 06:20] rob-solana opened #1333 "solana crate blocked by jsonrpc"
published crates' dependencies must be published crates

update these to published crates or fork/pull them into Solana:
[code]

[2018-09-25 06:57] #1307 closed

[2018-09-25 15:36] aeyakovenko opened #1335 "Handle program runtime error handling"
This is related to #1157

Programs that execute need to pay a transaction fee, so that transaction needs to be encoded into the ledger.  Otherwise the network can be spammed.  Runtime errors are an important control flow mechansim
* developers need to be able to shortcut and fail the transaction programatically
* the runtime needs to communicate the error back up the stack to external apis

The pr

[2018-09-25 15:46] mvines commented on #1335
Let's define the width of the runtime error code (16bits?), lower 8 bits for system error codes and high 8 bits for program-specific error codes?

[2018-09-25 15:59] aeyakovenko commented on #1335
@mvines the signature's error state would also be storing the program index that caused the runtime error.
[code]
it will probably allocate at min 24 bytes for this thing. unless we just store it as bincode serialized.

[2018-09-25 16:31] #1315 closed

[2018-09-25 18:57] garious commented on #1333
@CriesofCarrots, we need you to push paritytech to make a release or find a way off the those dependencies.

[2018-09-25 19:07] #1279 closed

[2018-09-25 19:31] mvines commented on #1036
This is command-line based instead of a webapp, but it serves the same purpose: https://github.com/solana-labs/example-tictactoe

Wrapping this up as a webapp is left as an exercise to the reader, and we already have a webapp example at https://github.com/solana-labs/example-webwallet

[2018-09-25 19:31] #1036 closed

[2018-09-25 19:43] #1129 closed

[2018-09-25 20:12] garious commented on #1298
@aeyakovenko, I stole this back. Most of the work was done in #1301 and I plan to do the rest tomorrow.

[2018-09-25 20:13] garious commented on #1164
@sakridge, @pgarg66, @rob-solana, can you update this ticket?

[2018-09-25 21:28] pgarg66 commented on #1164
We are still depleting memory on the leader. The leader runs out of memory in ~1hr time (with our default testnet configuration)

We fixed some bugs (in PRs tagged with this issue).

My current analysis points at PacketRecycler causing the depletion of memory. I have added some statistics to the recycler to see when it's allocation more memory from heap, instead of reusing it from landfill. The ju

[2018-09-25 21:58] mvines opened #1337 "Document/implement pattern for a program storing a searchable dynamic list"
Imagine a program that holds a vector of structs.  Each struct has a unique id and some fields tagged as searchable.  It's also possible to fetch all the structs in the vector, but paging all the results back is ok if necessary.

Implement such a program to flush out all the details and provide a baseline pattern for others to build from.

[2018-09-25 22:01] #1217 closed

[2018-09-25 22:16] mvines opened #1338 "Add support for Budget `And` instruction to solana-web3.js"
Expose this: https://github.com/solana-labs/solana/pull/1329/files#diff-9c09d5b843120cf13d189e6d568d0e47R49

[2018-09-25 22:19] mvines opened #1339 "Add RPC mechanism to subscribe to transaction notifications"
To avoid front-end polling we need a streaming API that enables:
* [ ] Notification when a given transaction signature is confirmed
* [ ] Notification when userdata for a given account public key changes

[2018-09-25 22:23] mvines opened #1340 "Document/implement pattern for upgrading a program"
Use case:
1. Program A is deployed
2. Users make use of it, and discover a bug
3. Bug is fixed, program A` now needs to be deployed.

How do we migrate all the Users and account data over to the program A`.

[2018-09-25 22:32] mvines opened #1341 "Document/implement pattern for determining the current wall clock time UTC"
Wall clock time is something that must be feed into the network by a trusted source, and the source I trust may not be the source that you trust.

This implies that there will be a set of agents periodically submitting timestamp transactions to update the current notion of time.

Let's build a "time agent" that does exactly this.  People who want to only trust "their time" can then run a copy of t

[2018-09-25 22:35] mvines opened #1342 "Document/implement pattern for logging and transaction out parameters"
Depends-on: #1339

Program logging and return parameters are ultimately managed by a convention of writing to an Account userdata then fetched from the front-end.  Let's produce a baseline example of this.

[2018-09-25 22:41] mvines opened #1343 "Document/implement ERC20 equivalent"
Describe Solana's version of ERC20

[2018-09-25 22:41] #918 closed

[2018-09-25 22:45] mvines opened #1344 "Run a master testnet for SDK development"
http://testnet.solana.com/ but for master.  The instances doesn't even need to be GPU enabled, and certainly no benching.  It's just frustrating to have to spin up a testnet locally when working on SDK stuff.

Such a network should probably only reset between 12AM-5AM to avoid outages.   A rolling update once leader rotation is ready would be even better though!

[2018-09-25 22:45] garious opened #1345 "Can't daisychain Budget expressions"
Problem:

The Budget DSL goes straight from And/Or expressions to payments. You can say "if a and b, then pay z", but can't say "if a and b and c, then pay z".

Proposed solution:

Replace `Payment` in Budget's `After`, `Or` and `And` expressions with `Box<Budget>`.

[2018-09-25 22:58] mvines opened #1346 "Try using capnproto for Transaction data serialization"
https://github.com/solana-labs/example-tictactoe/ uses CBOR to serialize/deserialize data across the front-end <=> program boundary.

CBOR is nice as it's schema-less and smaller than JSON (but just as expressive).  But the wire format is larger than something like protobuf that assumes all parties share the schema, and if you're paying by the bit then you want your userdata to be as small as feas

[2018-09-25 23:05] mvines commented on #445
What's the purpose of this issue?

[2018-09-25 23:27] aeyakovenko commented on #445
@mvines to track the consensus thing. i need to update the rfc

[2018-09-25 23:28] aeyakovenko commented on #1335
@mvines rust's enums are 8 bytes :), so

[2018-09-25 23:28] #1335 closed

[2018-09-25 23:33] garious commented on #1335
Weird, they must of changed that. Last I checked, Rust enums would only be 8-bytes if you added `CRepr`. Otherwise it's at the compiler's discretion and I thought the compiler used just 1 byte for an enum until it got past 256 items.

[2018-09-26 01:02] pgarg66 commented on #1164
I am seeing some weird behavior with PacketRecycler. It seems to allocate more recyclables from heap every 10 minutes. See this graph:

Purple line is the allocation from heap. Blue line is size of recycler at the time an entry is dropped.

<img width="1394" alt="screen shot 2018-09-25 at 5 53 33 pm" src="https://user-images.githubusercontent.com/40076733/46051218-fcbf2400-c0ec-11e8-93b8-da1101319

[2018-09-26 01:03] rob-solana opened #1347 "banking_stage lacks 2 tests"
- [x] running banking stage with tick duration and entries produces a verifiable ledger
- [x] ticks PoH entries appear in the bank's last_id table <- current bug

[2018-09-26 01:47] mvines opened #1348 "Signals: a mechanism for programs to create/dispatch transactions"
See the **Signals** section of https://medium.com/solana-labs/high-performance-memory-management-for-smart-contracts-aa9b3bc950fb

Basic use case is we need programs to be able to schedule one or more transactions

[2018-09-26 01:47] mvines commented on #1340
The Solidity way is to create a parent contract that delegates all calls to the upgradable/swappable child.  We can probably do the same once Signals are available.
Depends-on: #1348

[2018-09-26 02:28] aeyakovenko commented on #1335
https://docs.google.com/presentation/d/1q-c7UAyrUlM-eZyTo1pd8SZ0qwA_wYxmPZVOQkoDmH4/mobilepresent?slide=id.p

[2018-09-26 02:37] garious commented on #1335
https://d3m3vilurr.gitbooks.io/the-unsafe-rust-programming-language/content/data.html

[2018-09-26 04:12] aeyakovenko commented on #1335
@garious. How old is that book? “Note: this is a hypothetical optimization that is not yet implemented in Rust 1.0.0”

[2018-09-26 14:17] garious commented on #1335
Programming in Rust, "Enums in Memory," page 215:

And then it goes on to show a picture of the *tag* being stored in 1 byte.

[2018-09-26 15:57] sakridge opened #1350 "cargo bench disabled in CI"
We are not running bench in CI. At one time it was taking 18minutes to build, now that seems to be down to ~10-11 minutes to build/run. We are considering this is still too long.

Some ways to reduce the time:
- More hardware - 16 threads/ssd cuts the time down to ~5 minutes
- Better caching - We remove the target directory because we do a `git clean`, this could be preserved but there are some po

[2018-09-26 15:58] sakridge commented on #1350
Enabling PR: https://github.com/solana-labs/solana/pull/1322

[2018-09-26 16:40] pgarg66 commented on #1164
I disabled recycler (by not adding recyclables back to landfill). The memory usage on leader is below 5% for last 20 minutes. Also TPS seems to be better (160K). It does not suggest that recycler have a memory leak. But, maybe the size of recycler is just growing due to some condition.

[2018-09-26 17:19] ericlwilliams commented on #1197
Moving to research repo

[2018-09-26 17:19] #1197 closed

[2018-09-26 17:45] mvines commented on #1344
master.testnet.solana.com is live.  There's no https json rpc proxy yet though...

[2018-09-26 20:06] mvines commented on #1338
Fixed via https://github.com/solana-labs/solana-web3.js/pull/10

[2018-09-26 20:06] #1338 closed

[2018-09-26 20:53] #1347 closed

[2018-09-26 21:11] rob-solana commented on #1171
<sigh> still an issue at ca962371b8d379dd12c602b2a99d779103859721

STR, using multinode-demo:

setup
start drone and leader
run the client (90 seconds)
start the validator -> boom

[2018-09-26 21:27] mvines opened #1359 "Expose PoH height to programs"
Similarly to the `block.number` in Solidity, we can expose the current PoH height as input to a program.  This can be used as a rough approximation of time, and alleviates the need for an Oracle (#1341) in some use cases

[2018-09-26 22:45] garious commented on #1157
@aeyakovenko, the bank currently collects the fee before executing the transaction, but then doesn't store it if the program fails. I think that it should clone that account before execution, and store only that one if there's a failure. After that, it should put the transaction on the ledger so that way the validators know to collect the fee as well.

[2018-09-27 01:30] #1298 closed

[2018-09-27 01:39] rob-solana commented on #1171
nevermind, red herring.  issue was with write_stage(), which was reversing entry vectors before writing them

#1366

[2018-09-27 01:39] #1171 closed

[2018-09-27 02:00] #1285 closed

[2018-09-27 05:44] borromeotlhs commented on #1339
Interesting.  where is this streaming API supposed to land, and what components will it talk to?  Is it to act as a read only mechanism, a la "On Optimistic Methods for Concurrency Control"?

[2018-09-27 06:16] mvines commented on #1339
It’ll likely be first exposed in documentation form in doc/json-rpc.md and then rolled up into
https://github.com/solana-labs/solana-web3.js for convenience.

Definitely real-only, it’s just a way to interrogate the current state of the ledger (up to the latest finalized transactions, pending or in-flight transactions would not be visible).  To mutate a transaction must be submitted.

[2018-09-27 12:11] garious commented on #1293
A more conservative design:

[code]

Differences from existing code:
* bytecode hosts `Vec<Instruction>`, not `Instruction`.   ...or one type of `Instruction` in that language is `Box<Vec<Instruction>>`.
* `program_id` is renamed `interpreter_id`, suggesting it is a particular type of program - one that implements `invoke(accounts, bytecode)`. The representation that was compiled to `bytecode` mig

[2018-09-27 14:10] mvines commented on #1291
done

[2018-09-27 14:10] #1291 closed

[2018-09-27 15:11] garious commented on #1326
@mvines, can we get this into Pillbox? OS upgrades are such a hassle. Would love to bite the bullet sooner than later.

[2018-09-27 15:15] mvines commented on #1326
Sure, it's just some background work

[2018-09-27 17:19] borromeotlhs commented on #1339
I saw that.  I think that I was looking for: https://github.com/solana-labs/solana/blob/9c47e022dcbff00488fcc7582859eba95a8db490/src/rpc.rs

I found it, so am now just snooping around solana-web3.js, the tictactoe example, the above file.

I just like these little snippets to occupy my 'compile time', and am thinking that either:
https://github.com/claudijo/json-rpc-server-stream
OR
https://github

[2018-09-27 18:50] #1333 closed

[2018-09-27 18:55] garious opened #1377 "Optimize contract engine for concurrency"
1. [ ] Optimization: parallel execution of batches of transactions on multiple threads (in #739 this boosts perf from 300k to 500ktps in the engine)
2. [ ] Optimization: #950

See PR #1368 for both issues

[2018-09-27 18:57] garious opened #1378 "Make ELF callable via pubkey"
Add a way to upload an interpreter (large compiled userdata) to a single account so that it can be used as a `program_id` in subsequent transactions.

[2018-09-27 18:58] garious commented on #953
Added 2 new issues under Pillbox for the remaining work

[2018-09-27 18:58] #953 closed

[2018-09-27 18:59] pgarg66 commented on #1325
We should consider switching testnet-master to 2 V100 GPUs.
Performance with 4 K80 GPUs
<img width="923" alt="screen shot 2018-09-27 at 9 36 25 am" src="https://user-images.githubusercontent.com/40076733/46168167-8e917300-c24c-11e8-85fc-f91a5bbd4424.png">

Performance with 2 V100 GPUs
<img width="928" alt="screen shot 2018-09-27 at 11 58 19 am" src="https://user-images.githubusercontent.com/400767

[2018-09-27 19:06] pgarg66 commented on #1325
@mvines , thoughts?

[2018-09-27 19:07] mvines commented on #1325
Sure, we can switch `testnet-perf` to 2 V100s as well for symmetry, once 0.9 branches.

[2018-09-27 19:08] pgarg66 commented on #1325
Would you change the setup? If so, you can take over this ticket.

[2018-09-27 19:17] mvines commented on #1164
re-opening, self-assigning to validate on 0.9 branch

[2018-09-27 22:21] #1261 closed, assigned to garious

[2018-09-27 23:19] garious opened #1383 "dynamic_library tests break cargo-cov"
[code]

[2018-09-28 05:19] mvines commented on #1325
Done

[2018-09-28 05:19] #1325 closed

[2018-09-28 05:19] mvines commented on #1164
Looks good on 0.9

[2018-09-28 05:19] #1164 closed

[2018-09-28 06:40] mvines opened #1386 "testnet-sanity needs a “zone” arg"
testnet sanity on 0.9 is failing because it’s looking in us-west1 (the default zone) instead of us-east1:
https://buildkite.com/solana-labs/testnet-sanity/builds/2811#fd8d4b4a-9add-41eb-aaf0-beb412a7a079

testnet-deploy receives a zone argument, testnet-sanity needs the same.  See
https://github.com/solana-labs/solana/blob/v0.9/ci/testnet-deploy.sh#L47

[2018-09-28 06:46] mvines opened #1387 "scripts/wallet-sanity.sh needs to reset its id between runs"
Testnet-sanity is failing on master/0.9 because we don’t clear the wallet id anymore, which causes this assertion to fail:
https://github.com/solana-labs/solana/blob/v0.9/scripts/wallet-sanity.sh#L37

Example failure:
https://buildkite.com/solana-labs/testnet-sanity/builds/2810#a41ee78f-a809-4eb2-ae69-7d9de8818776

[2018-09-28 13:56] CriesofCarrots commented on #1387
Ah yes. Options here include: deleting `.config/solana/id.json` before the first `solana-wallet` command; running `solana-keygen` at the top of wallet-sanity; or checking wallet balance first thing and spending any tokens >0
@mvines do you have a preference?

[2018-09-28 14:07] mvines commented on #1387
Running keygen to just explicitly create a new wallet seems nice.   Can you take this issue?

[2018-09-28 14:07] CriesofCarrots commented on #1387
Yep!

[2018-09-28 14:39] mvines commented on #1386
8d9223294936432d5e4a8dc5319a42baa79b51c3

[2018-09-28 14:39] #1386 closed

[2018-09-28 14:45] mvines commented on #1387
Hmm, this still reproduces with #1388

[2018-09-28 14:47] mvines commented on #1387
Ah, the network just needs to be redeployed first I think

[2018-09-28 14:57] mvines commented on #1387
Yep redeploy got things unstuck

[2018-09-28 14:57] #1387 closed

[2018-09-28 15:18] mvines opened #1389 "Complete tic-tac-toe example"
This issue tracks the completion of the tic-tac-toe example for v0.9

[2018-09-28 21:02] jackcmay opened #1392 "Incompatible intrinsics between rustc and llc"
Compiling rust code with rustc and passing it to llc to be converted to bpf assembly can result in what looks like a conflicting definition of llvm intrinsics

[code]

Issue seen when running rustc 1.29.0 but also after aligning the llvm versions pretty closely:

[code]

[code]

[2018-09-28 21:26] jackcmay opened #1393 "Rustc outputs LLVM IR that contains llvm intrinsics that should be inlined"
This results in external call references in the BPF assembly code:

This is normally taken care of by the linker who will implementations of the necessary intrinsics into the resulting binary/shared module.  In our case, we are compiling to BPF which stops at the .o stage and does not continue to the final linked binary/shared module.

Possible solutions:
- Custom compilation pass that inlines ref

[2018-09-28 21:35] jackcmay opened #1394 "Rustc's LLVM IR output emits function that is incompatible with BPF"
Calling slice::from_raw_parts() and then compiling that into LLVM IR results a function that returns a complex type.  LLC does not know how to convert that function to BPF.

This issue can be worked around by increasing the optimization level > 0 (e.g. `-opt-level=2') which results in the function being inlined but that is not a preferred solution.

[code]

[2018-09-28 21:46] jackcmay opened #1395 "C to BPF compilation fails when including stdint.h"
Building a BPF program from C  using both clang and llc fails when pulling in std headers such as stdint.h

Looking at the linux BPF examples its clear that this is not expected since they include headers such as stdint.h.  This could be a case of referring to wrong headers or mayer a MacOS specific issue

[code]

[code]

One workaround is to self define the needed types (like uint64_t)

[2018-09-28 21:49] jackcmay opened #1396 "BPF stack limit of 512 bytes enforced by llvm might be too constrictive"
http://lists.llvm.org/pipermail/llvm-commits/Week-of-Mon-20170116/420316.html

[2018-09-28 22:02] pgarg66 opened #1397 "Validators crash when node count is high (e.g. 150)"
Some validators crash when network has high node count. The following crash was observed with 150 validators.
[code]

This is because the gossip response are bigger than blob size.

[2018-09-28 22:34] jackcmay commented on #1396
Any program that wishes to use more than 512 bytes of stack would fail to build.

[2018-09-28 22:38] jackcmay commented on #1396
The 512-byte limit comes from that fact that Linux imposes a 512-byte stack limit.  BPF is being and planned to be used outside the kernel and in uses cases that have nothing to do with the Linux kernel.  Therefore LLVM should not impose a stack limit tied to one platform or one use case.

A good fix would be to allows callers to override the default limit.

[2018-09-28 23:53] #1004 closed

[2018-09-28 23:53] #1318 closed

[2018-09-29 01:03] mvines opened #1403 "Bring back Cargo.lock"
We should lock down our deps to avoid random bustage, especially on release branches but it's worthwhile for master as well.

There is tooling, dependabot, that helps us upgrade dependencies in a controlled fashion.

[2018-09-29 01:05] mvines commented on #1403
cc: #1402

[2018-09-29 01:50] mvines commented on #1389
Everything within this repo needed is now done.  Remaining work is in the tic-tac-toe example repo itself, will keep this issue open until that has completed as well

[2018-09-29 04:17] garious commented on #1392
LLVM has been notoriously bad about bitcode compatibility across versions.  In this case, it looks like they've respected semantic versioning and bumped the major number between rustc 1.26 and 1.29. Seems fair to not expect compatibility here. What happens when you use the llc from llvm-7?

[2018-09-29 15:40] aeyakovenko opened #1405 "Time based last_id for banks"
The bank's last_id queue is based on number or entries that have passed through the bank's pipeline.  Because of stalls its really easy to generate more entries then there are slots in the queue, and because of stalls the queue no longer represents a uniform passage of time.
This is pretty obvious in just the banking stage bencher
[code]

The verified chunks loop can easily blow through the last_i

[2018-09-29 17:51] garious commented on #1405
Proposal 2 looks great. Also consider defining zero transactions to mean "tick".

[2018-09-29 19:55] garious opened #1406 "Migrate to Rust 2018"
The Rust team plans to make Rust 2018 available to the stable channel on December 6th.

[2018-09-30 00:01] jackcmay commented on #1392
Yup, that was the next step, tried it now and the intrinsic incompatibilities go away :-)

[2018-09-30 00:01] #1392 closed

[2018-09-30 19:45] #1210 closed

[2018-10-01 14:53] aeyakovenko commented on #1377
covered in #950

[2018-10-01 14:53] #1377 closed

[2018-10-01 14:56] mvines commented on #1389
Done. https://github.com/solana-labs/example-tictactoe

[2018-10-01 14:56] #1389 closed

[2018-10-01 17:56] rob-solana commented on #950
this issue and the mt-bank PR don't look in sync anymore.  are they?

[2018-10-01 17:59] rob-solana commented on #1405
My (perhaps naive) concern is that this may prevent an EntryData from representing a batch of transactions that can be executed in parallel.

[2018-10-01 18:13] garious commented on #1405
Seems like a reasonable concern. If it's time to rotate leaders, I think the current leader would prefer to split the tx batch to squeeze them in and take the fees.  Otherwise, I think the leader would simply write the Tick and then write full batch just after.

[2018-10-01 19:18] aeyakovenko commented on #1405
@rob-solana an entry cannot contain non parallizable transactions.  #950 ensures that as well

[2018-10-01 19:51] rob-solana commented on #1405
proposal 2 with an empty transaction vector is exactly the definition of Entry today, right?

[2018-10-01 21:27] garious commented on #1395
Looks like a sysroot problem to me.  We should probably be cross-compiling to an old version of Linux.  Are you familiar with LLVM's "triple" and sysroot options?

[2018-10-01 21:27] #1383 closed

[2018-10-01 21:38] rob-solana commented on #1405
"the flag", do you mean the predicate for whether to call register_entry_id?

[2018-10-01 21:55] garious opened #1409 "Confusing names in the codebase"
`Crdt` is one of many Conflict-free Data Types. It should named something that reflects its data, not properties of how that data is composed. `NetworkInfo`? `ClusterInfo`?

`Account` is a strange term for the thing held by the Bank, owned by a Pubkey, and stores the owners tokens and arbitrary data.  It could use a word that describes rented computer memory. But if not in the naming paradigm of b

[2018-10-01 22:42] pgarg66 opened #1410 "Add provision to run multinode testnet and collect performance numbers for a PR"
Code changes can potentially impact network performance (TPS, finality, max node count, etc). Some changes target to improve the performance, while other might unknowingly improve/degrade the performance. It'll help with PR review if prior to merging it's performance impact could be measured. Also, same performance analysis is needed before making a public release.

The authorized users (e.g. Sola

[2018-10-01 23:10] aeyakovenko commented on #1405
1. @rob-solana yea, in `bank.process_entries` only call `bank.register_entry_id` if `entry.transactions.is_empty()`
2. @rob-solana we can fix those.

[2018-10-02 03:37] rob-solana commented on #1405
means that those chaining tests need to add their own calls to register_entry_id(), because there's no banking stage...

[2018-10-02 05:37] mvines commented on #1274
http://lcamtuf.coredump.cx/afl/

[2018-10-02 14:51] aeyakovenko opened #1412 "move Last IDs HashMap out of the bank"
The data structure used for duplicate detection should be moved out of the bank.
[code]

[2018-10-02 15:06] garious commented on #433
I've not been able to get grcov or llvm-cov to report coverage from the coverage files output by `cargo-cov`.  Rust doesn't ship with llvm-cov and so I manually installed it via llvm-7, which is what Rust depends on. But still it seems only `cargo-cov report` knows how to read the files `cargo-cov test` generates.

[2018-10-02 15:14] garious commented on #1412
This change is meant to be purely organizational. Both the `last_ids` VecDeque and the `last_ids_sig` HashMap should be moved along with their respective RwLocks. It's not clear to me if the RwLocks can stay in the bank. I *think* they could, but we'd have to review potential thread contention issues that might arise.

[2018-10-02 15:43] garious commented on #72
A little cleaner, if a `len()` method reacts to changes in the length of `sigs`, then there's no need for a separate mulitsig instruction:

[code]

This might, however, require an `until`, `once` or `after` annotation:

[code]

[2018-10-02 15:47] #1133 closed

[2018-10-02 16:06] garious commented on #1340
So program A' would be published under a new program_id. The original program would need to support registration of an upgraded program_id. That program_id would need to come from a signed pubkey that the program author trusts. When the next tx targeting one of the program's processes, the program can reassign ownership to the new program_id and then reschedule the same tx for processing (using a

[2018-10-02 16:19] garious commented on #1168
@pgarg66, fyi

[2018-10-02 16:42] garious commented on #1378
Depends on #940

[2018-10-02 20:15] garious commented on #950
No, one of @aeyakovenko's comments on that PR said that he considered it out of scope.

[2018-10-02 20:40] garious commented on #1184
@mvines, does anything depend on this?

[2018-10-02 20:44] mvines commented on #1184
No, not at the moment.  We can boot this from 0.10 for now.

[2018-10-02 20:46] garious commented on #1184
Cool, I also unassigned @CriesofCarrots. No need for individual backlogs.

[2018-10-02 21:29] marco-c commented on #433
That's strange, cargo-cov should simply use -Zprofile, which should be supported by grcov. We are generating coverage reports for grcov itself using -Zprofile (but without cargo-cov).

Mind sending me the gcno/gcda files that you generate, so I can see if grcov is somehow failing to parse them?

[2018-10-02 21:45] mvines opened #1414 "Add one-liner to start a local testnet from the sdk"
Suggestion:
[code]

This would start one container for the drone, one for the leader, and maybe even a container for a validator.  CI can publish edge/beta/stable dockerhub images, like it does for snaps right now.

[2018-10-03 01:10] mvines commented on #1414
cc: beb4536841556c92bd620b998ac83156552f4838

[2018-10-03 02:20] mvines opened #1418 "sdk catch-up"
Once the code churn on master for 0.10 slows, it’ll be time to update the sdk with the Transaction ABI changes and surface new features that came in after 0.9 forked off.

In the mean time use this issue to collect the list of changes that have an SDK impact.

[2018-10-03 04:53] mvines commented on #1346
https://capnproto.org/ looks like possible alternative to protobuf

[2018-10-03 21:06] garious commented on #433
Got it working now @marco-c, thanks for the push. The run when I used grcov, I mistakenly ran `cargo cov test --lib` instead of `cargo +nightly test --lib`. I'm seeing the same output from your released macOS binary as I do when building it from source (on homebrew's latest llvm package). If I run into any trouble, I'm now in position to send you a PR. :)

[2018-10-04 06:09] jackcmay opened #1423 "Solana depends on fork of rbpf but should depend on parent"
Switch this dependency to the rbpf parent when all changes have been mainlined

Cargo.toml:
[code]

[2018-10-04 16:13] jackcmay opened #1424 "CI Failing unpredictably on test: fullnode::tests::test_validator_to_leader_transition"
ci/docker-run.sh solanalabs/rust-nightly:2018-09-28 ci/test-nightly.sh

[code]

[2018-10-04 16:36] aeyakovenko opened #1425 "library to verify ownership of a eth and other account keys"
underwriter does the following
[code]

Sol can be in a staked account, and its up to the external clients to check if the eth address actually has X eth in it.  once thats validated the client has a guarantee that X eth wont be spent without destroying Y sol.

tag: @mvines @jackcmay @sakridge

[code]

The underwriter makes money when the sell the contract, and on settlement.  For settlement the pa

[2018-10-04 16:43] mvines commented on #1425
Note that you (the eth account holder) doesn't need to actually spend the eth.  An external client just needs to present a valid signed eth transaction to the sol program in order to get slashed.

[2018-10-04 18:26] rob-solana opened #1426 "new feature: forking bank"
To track trees of forks in the TPU and perform rollback, the Bank needs to be fork-able.  The bottom bank represents the last rollback point.

new functions needed?  new type needed?
BankFork::new(bank: Arc<Bank>, tick: Entry)
BankFork::process_entries() -> Result<()>
BankFork::collapse() -> (Bank, Vec<Entry>)

Internally Bank needs to understand how to chain account state.

Internally Bank needs

[2018-10-04 19:03] garious commented on #1426
I think you can incrementally get there from the current Bank. It could be extended with a `last_bank: &Bank` and `id: Hash`.  The concept of a zero balance is currently deleting its entry in the HashMap. Instead, it could be `0` tokens until a `collapse()` on the bottom bank.

One approach to consider the use `Cow` to lazily clone each account. That might allow us to change less code. It'll be a

[2018-10-04 22:42] rob-solana opened #1428 "nodes don't vote on a PoH cadence, they vote on a time basis"
in order to support rollback, forks, and checkpoints efficiently and prevent DoS by spam, the network will only honor a restricted set of fork points, which need to correspond to a restricted set of voting levels of PoH

[2018-10-04 22:51] pgarg66 opened #1429 "Implement secure enclave for signing votes on validators"
Validators sign votes using their private key. If the key is compromised, and a malicious node starts voting with the key, the stake of the original validator may get slashed due to voting on two (or more) branches.

The private key should be contained in a space that's not accessible to general programs running on CPU. For example, SGX enclaves can be used to contain the key, and sign the votes.

[2018-10-04 23:33] pgarg66 commented on #1429
We need to sign a commercial license with Intel before we can release SGX enclave. More details are here: https://software.intel.com/en-us/sgx/commercial-use-license-request

[2018-10-04 23:58] aeyakovenko commented on #1428
@garious we might actually need to change back to the "synchronous entry producer and account unlock" implementation for checkpointing.

[2018-10-05 17:05] garious commented on #433
@rob-solana, @mvines, @marco-c, code coverage status:

* `cargo +nightly cov test --lib && cargo +nightly cov report` works well with on MacOS and Linux with minimal installation dependencies. It's just a little odd that it requires clang's libprofile to be installed. Not sure why that wouldn't be distributed with Rust.
* `grcov` and `lcov` works great on MacOS but not on Linux. Their Linux build

[2018-10-05 17:12] rob-solana opened #1431 "erasure doesn't tolerate forks"
data blobs have PoH information that allows us to figure out who the parent blob is, in the case of a fork (i.e. 2 different blobs at the same blob_idx/ledger height).

possible fixes:
* move FEC into the blobs themselves, so that PoH can (maybe?) be used to put the blobs in order before calling recover()
* use blob_id (i.e. leader that issued the blob) to group blobs by fork instead of PoH
* try

[2018-10-05 17:16] rob-solana opened #1432 "ledger doesn't carry blob_id/leader_id or leader signature"
nodes being recovered from the ledger over repair (i.e. outside the RAM window) still need to see the blob_id of the original issuer/leader, and to verify the signature of the blob

to support bringing those nodes up, blob_id needs to be saved in the ledger for playback during repair from the ledger

[2018-10-05 17:28] rob-solana opened #1433 "window doesn't work with forks"
when a blob at a specific height arrives, the window sticks it blindly in the slot that corresponds to its blob_idx without regard to the blob_id or whether it chains in PoH

possible fixes:
* introduce a new stage before window that is responsible for watching for and dispatching/de-multiplexing forks (possible that forking entire TVU is correct), could use blob_id or PoH chaining
* restructure W

[2018-10-05 17:33] rob-solana commented on #433
so good...

test driving it on WSL

[2018-10-05 21:40] mvines commented on #1418
#1435 affects the SDK

[2018-10-05 23:54] pgarg66 commented on #1429
Submitted a request for IAS API key to Intel, with a self signed certificate. This will be sufficient for initial unit testing.

[2018-10-05 23:55] pgarg66 commented on #1429
SGX Remote Attestation workflow and sample: https://software.intel.com/en-us/articles/code-sample-intel-software-guard-extensions-remote-attestation-end-to-end-example

[2018-10-06 21:03] garious commented on #1424
I've seen that too. @carllin, can you take a look?

[2018-10-08 03:36] pgarg66 commented on #1410
https://github.com/mvines/ci-gate/pull/58

[2018-10-08 06:11] mvines commented on #1418
#1439

[2018-10-08 19:57] mvines commented on #1346
(moving out, we can hand-serialize for now...)

[2018-10-08 20:43] pgarg66 commented on #1429
Intel's response to IAS API Key request:
"Thank you for contacting Intel® Trusted Services Infrastructure.

This email is to confirm that we have received the information we need to fulfill your request. It is being processed and will be completed as quickly as possible. Your case number is 45498."

[2018-10-08 20:46] pgarg66 opened #1447 "RFC for validators signing their votes using an enclave"
RFC documenting use case and sequence diagram for signing of votes on validator nodes, that are using an enclave to host their private key.

[2018-10-08 20:47] pgarg66 commented on #1447
https://github.com/solana-labs/solana/issues/1429

[2018-10-08 23:31] garious commented on #1378
@CriesofCarrots, @mvines, I unassigned @jackcmay here. One of you can implement this without stepping into the code he's working on. Just extend SystemProgram with a way to target a particular offset within the userdata.

[2018-10-08 23:33] mvines commented on #1378
Hmm, I don't think we want to extend the SystemProgram in this way.  The ELF should have exactly one entrypoint

[2018-10-08 23:54] garious commented on #1378
It'd still have just one entry point. This is just about getting the bits of a large userdata into a single account.

[2018-10-08 23:56] mvines commented on #1378
Ah, yes.   This is part of the "load" instruction Jack and I have talked about.  Was planning to see if @CriesofCarrots could take this on after her current pubsub work

[2018-10-09 00:59] jackcmay commented on #1378
I see this is a generic operation (could apply to storage, programs, whatever) that just loads an account with data over multiple transactions.

[2018-10-09 01:03] mvines commented on #1378
I'm not convinced we should open this up as a general purpose facility to populate account userdata.  I'm worried this opens up an attack vector for programs:
1. Load up a system account with attack data
2. Assign the attack account to the victim program
3. Transact with the victim program using the attack account.
4. Profit

Right now programs can assume that either an account will be all zeros,

[2018-10-09 01:37] garious commented on #1378
How is that different than what you can do with the API as-is?

[2018-10-09 01:55] mvines commented on #1378
Only programs can write into account userdata right now, and as a user you can only give a program a zero initialized buffer.

The difference between sending data to a program on standard input versus writing into the program's heap.

[2018-10-09 12:58] garious commented on #157
Might end up more like this where accounts are passed in and state is passed through account userdata:

[code]

[2018-10-09 16:32] jackcmay commented on #1378
@greg I'd like to stay assigned to this ticket since I'm already a lot of the way through the bulk of it.  What someone could work on on the side is a way to load a large amount of data into an account.  This would require breaking up the data into packets and reassembling them into the account.  Could be as simple as providing an offset and data chunk for each packet.

@mvines I see your point ab

[2018-10-09 16:48] mvines opened #1453 "Define workflow for metrics dashboard branching"
We need to mirror the release channel workflow for dashboards, to avoid broken dashboards on stable branches when new dashboard features are added or when metrics are changed.

The dev testnets should only show up in the master dashboard.

Ideally the grafana configuration is stored in the repo too, and we deploy it to grafana

[2018-10-09 16:56] mvines commented on #1378
Yeah this (aka, https://github.com/solana-labs/solana/issues/1378#issuecomment-428015467)  could be a separate, parallel effort.

Yep for sure.  By default we want that to be true.  The program itself can be more liberal itself if it so chooses.

[2018-10-09 17:05] garious commented on #1378
I get the feeling we're of mixed opinions of what this ticket is tracking. @jackcmay, can you update to it to best describe what you're implementing. @mvines, is there another ticket already tracking this "can't load account with large data" issue? If no, can you create one and assign that to @CriesofCarrots?

[2018-10-09 17:29] jackcmay commented on #1378
This ticket covers exporting an interface that allows for calling a program by providing the pubkey of the program one wishes to call and the state they wish to call it with.

[code]

Where accounts contain the program pubkey, state pubkey, and any other account that the contract wants to access.

[2018-10-09 17:34] jackcmay opened #1454 "Need mechanism to load an account with data"
There is a limit to the amount of data that can be sent over a transaction.  For sending larger amounts of data we need a mechanism to break the data into smaller chunks over multiple transactions and a way to assemble them back together on the other side.

This mechanism will be used for loading program bits, calling program inputs, and possible other uses such as storage.

[2018-10-09 17:35] jackcmay commented on #1378
https://github.com/solana-labs/solana/issues/1454 Opened and assigned to @CriesofCarrots.  @CriesofCarrots let me know before you start work on this as I might be in a position to take it over.

[2018-10-09 17:44] garious commented on #1378
That looks good to me, @jackcmay. Just `accounts` can be named `keys` doesn't need the `&`. Also, all constructors should start with `new_`.

[2018-10-09 18:04] pgarg66 commented on #1410
Apply "testnet" label to a PR (open or merged). It'll trigger an instance of testnet. Buildkite will automatically remove the "testnet" label.

<img width="460" alt="screen shot 2018-10-09 at 10 50 01 am" src="https://user-images.githubusercontent.com/40076733/46688018-2d08c700-cbb1-11e8-9187-572699b161d5.png">

A link to testnet buildkite will be posted to PR as a status message.
<img width="685"

[2018-10-09 18:05] #1410 closed

[2018-10-09 18:12] pgarg66 opened #1456 "Measure benchmark differences for a given code change"
We need a way to detect performance impact of code changes (submitted as PR). Solana codebase has benchmark tests for various performance critical portions of the code. We need a mechanism to automatically run these benchmark tests for a given PR, and compare them to the tip of master branch.

[2018-10-09 18:12] jackcmay commented on #1378
How about this (name change and program and state keys are more explicit)?

[code]

[2018-10-09 18:21] mvines commented on #1378
My vote:
[code]

We use `program_id` instead of `program` everywhere else.  `account[0]` may be `state` by convention but we don't need to bake that assumption in.

[2018-10-09 18:34] pgarg66 opened #1457 "Add support for custom buildkite pipelines for public events"
Solana will host hackathon events, where attendees may want to try their code change to break/hack Solana's testnet. We need a mechanism to submit their PRs to a build system where it runs against a testnet instance.

This testnet instance should not overlap with CI pipelines.

[2018-10-09 18:45] mvines commented on #1418
#1458

[2018-10-09 18:50] pgarg66 commented on #1457
Heroku app, influxDB, and buildkite will require some manual configuration.

1. Define a _newlabel_ that can be applied to PRs (or use an existing one, that's not being used)

**Heroku**
1. Add <newlabel> to CUSTOM_PR_LABEL_BUILDS
2. Add "solana-_newlabel_" to BUILDKITE_PIPELINE_PUBLIC_LOG_WHITELIST

**InfluxDB**
1. Configure the database for the new label. Use testnet-_newlabel_ as the database t

[2018-10-09 18:51] pgarg66 commented on #1457
@aeyakovenko , this can be used for hackathon events. Some config is needed, but no code changes are required.

[2018-10-09 18:51] #1457 closed

[2018-10-09 19:32] garious commented on #1378
Any reason why we don't toss this into SystemProgram?

Also, it's been standard practice to use move semantics when the data it just going to be dropped into a struct. Saves a bunch of cloning:

[code]

[2018-10-09 19:34] garious commented on #1378
Wheel fully reinvented? https://github.com/solana-labs/solana/blob/master/src/transaction.rs#L53

[2018-10-09 19:41] mvines commented on #1378
`Transaction::new()` looks great

[2018-10-09 19:49] mvines commented on #1341
#1359 is what we need in 0.10, so moving this out for now

[2018-10-09 19:52] mvines commented on #1337
Depends-on: #1348 (so the program can implement `realloc`)

[2018-10-09 19:53] #1343 closed

[2018-10-09 20:48] pgarg66 commented on #1447
1. Node boots up and loads the enclave
2. Untrusted code in the node performs remote attestation for the enclave
- Generate a quote from enclave
- Submit the quote to Intel's IAS
- Verify the report from IAS
3. Untrusted code asks enclave to generate a private/public keypair. The public key is exported to the untrusted code.
4. Balance is added to the public key
5. Untrusted code calls enclave's A

[2018-10-09 20:56] aeyakovenko commented on #1447
it can just generate without waiting for 2.

a transaction authorizing a stake to be voted with that key

it can start signing without waiting for 4.

2 and 4 can be done asynchronously.   A step thats missing is that the enclave image needs to have some metadata that is the "genesis" or bootstap block which contains a PoH entry and a list of known validators.  The attestation that the image is bo

[2018-10-09 23:00] mvines commented on #1418
Need to also expose native programs in the SDK (SystemProgram::Load), #1461 is the start of that

[2018-10-09 23:08] jackcmay commented on #1378
Yup, I'm matching that

On Tue, Oct 9, 2018, 12:41 Michael Vines <notifications@github.com> wrote:

[2018-10-10 04:19] jackcmay opened #1463 "CI unstable test: banking_stage::tests::test_banking_stage_entryfication"
---- banking_stage::tests::test_banking_stage_entryfication stdout ----
thread 'banking_stage::tests::test_banking_stage_entryfication' panicked at 'assertion failed: `(left == right)`
  left: `2`,
 right: `1`', src/banking_stage.rs:393:9
note: Some details are omitted, run with `RUST_BACKTRACE=full` for a verbose backtrace.
stack backtrace:
   0: std::sys::unix::backtrace::tracing::imp::unwind_ba

[2018-10-10 17:40] garious commented on #1359
@jackcmay, can you keep this ticket in mind as we standardize the interface to programs and integrate with the bank? There might be a small handful of data that we want to expose to programs, such as PoH height. We need to be care to ensure that any data passed in is done so consistently between the leader and validator nodes.  And @aeyakovenko, this is another argument for stalling PoH Ticks once

[2018-10-10 20:51] #1339 closed

[2018-10-10 23:33] CriesofCarrots opened #1468 "RPC leader addresses"
The RPC service is not appropriately getting the leader drone and transactions addresses as the leader (potentially) changes.
These need to be determined dynamically, rather than set statically at boot.

[2018-10-11 17:21] garious opened #1470 "The runtime can't apply program-defined credit operations concurrently"
When transferring native tokens (sols), the runtime will allow you to credit the same account *concurrently* from two transactions within the same Entry. The runtime handles this case explicitly.

Problem for program-defined tokens:

Parallel credits to the same account is not available to program-defined tokens, such as erc20 tokens.  That required program_id also indicates that only one contract

[2018-10-11 17:22] garious commented on #1470
@jackcmay, @mvines, @aeyakovenko, @CriesofCarrots fyi

[2018-10-11 17:43] garious commented on #1463
@aeyakovenko ^^^

[2018-10-11 17:53] garious commented on #72
The smart contract engine allows operations like M-N Mulisig to be written in a general purpose programming language. Here's a Lua implementation that executes on the new `solua` program:

[code]

[2018-10-11 17:57] garious commented on #72
Closing this. Our goal of creating a new concurrent smart contracts language is no more. Instead, we created a concurrency-friendly smart contracts *engine*, and will provide various safe execution environments, such as a BPF interpreter for C programs and a safe subset of the Lua interpreter for Lua programs.

[2018-10-11 17:58] #72 closed

[2018-10-11 17:59] garious commented on #1131
@rob-solana you mentioned wanting to take this one from me earlier? Assign it to @carllin?

[2018-10-11 18:02] garious commented on #1081
This is now implemented as a function of entry height, not its hash.

[2018-10-11 18:02] #1081 closed

[2018-10-11 18:32] garious commented on #1470
@aeyakovenko, a `signed` flag would solve the same problem that the old `pending` vector solved - running contracts that were authorized to spend a fixed amount of tokens. Adding a `signed` flag is a cleaner solution though, because it leaves the account in `accounts`, allowing users to credit it with additional tokens.

[2018-10-11 18:38] rob-solana commented on #1131
👍

[2018-10-11 18:39] rob-solana commented on #1131
vote at specific PoH tick counts, let's call 'em "voting rounds"

[2018-10-11 18:39] rob-solana commented on #1131
CC #1428

[2018-10-11 18:39] garious commented on #1405
Fixed in https://github.com/solana-labs/solana/pull/1441

[2018-10-11 18:39] #1405 closed

[2018-10-11 18:40] garious commented on #1293
Fixed in #1309

[2018-10-11 18:41] mvines commented on #1293
Wait, not so fast!  We can't have a transaction signed by multiple keys yet.

[2018-10-11 19:01] garious commented on #1293
It couldn't before. Shouldn't that be a separate ticket?

[2018-10-11 19:02] mvines commented on #1293
If you want.  The multiple key requirement is right in the initial issue description though:
[code]

[2018-10-11 21:06] rob-solana opened #1474 "PoH ticks are generated at a specific Hz, need to be generated at a specific hash-loop count"
Problem:

PoH ticks are generated at a specific Hz, so the "difficultly" (in Bitcoin terms) is implicitly and dynamically adjusted by the leader. This creates a problem when validators are attempting to create "virtual ticks" that they'd all synchronize on if the leader entry doesn't get its 2/3+1 vote.

Proposed solution:

Fullnodes could plan to use the same PoH count for each Tick. This may be

[2018-10-11 21:08] rob-solana opened #1475 "Validators not filtering entries by the expected leader"
to be able to synthesize a forked ledger in the case of a designated leader timeout, validators need to be running a PoH service, generating PoH ticks

a PoH service instance should always be running, as an object that's part of the most recent vote's state in order to kickstart the process of becoming a leader off that vote

[2018-10-11 23:20] aeyakovenko commented on #1470
@garious you can do a batched spend or credit to the same account with a single TX.  what kind of transaction are you trying to build?

[2018-10-12 16:44] mvines commented on #1340
Another approach would be a have a "name server" contract that maps a name into a pubkey.  Clients need to always perform a name look-up for the desired program.  This way the client is always aware of when an upgrade occurs.

The "name server" contract is updated by whatever scheme it wants (central authority, m/n votes).  Program data migration could be gnarly, and would need to be managed durin

[2018-10-12 19:38] pgarg66 commented on #1456
The benchmark results will get uploaded as build artifacts to CI pipeline.
<img width="494" alt="screen shot 2018-10-12 at 12 36 01 pm" src="https://user-images.githubusercontent.com/40076733/46890383-896f1f00-ce1b-11e8-89f1-cb1ea3ec6515.png">

The results will be compared with the results from tip of the branch. The artifacts will have details on each benchmark
<img width="1035" alt="screen shot

[2018-10-12 20:42] CriesofCarrots opened #1484 "Unreliable CI Failure: test_boot_validator_from_file"
---- test_boot_validator_from_file stdout ----
thread 'test_boot_validator_from_file' panicked at 'assertion failed: `(left == right)`
  left: `500`,
 right: `1000`', tests/multinode.rs:465:5
note: Some details are omitted, run with `RUST_BACKTRACE=full` for a verbose backtrace.
stack backtrace:
   0: std::sys::unix::backtrace::tracing::imp::unwind_backtrace
             at libstd/sys/unix/backtra

[2018-10-12 20:55] pgarg66 commented on #1456
@garious , just FYI

[2018-10-12 20:57] garious commented on #1456
Cool. No benchcmp though?

[2018-10-12 20:59] pgarg66 commented on #1456
The data uploaded to influxDB is not in bench format. We can add code to reconstruct the bench like data from the database, but it might be ugly. If this change doesn't give enough information, I'll look into adding benchcmp.

[2018-10-12 22:13] #1456 closed

[2018-10-12 22:45] aeyakovenko opened #1485 "RFC that covers design options for signals and dynamic dispatch"
Create an RFC for signals that covers the following possible design choices.

- [ ] 1.a, static, TX specifies all the options for possible dynamic instructions to fire
- [ ] 1.b, dynamic, some userdata thats generated by an Ix has a list of Pubkeys that should be in the signal
- [ ] 2.a, immediate, the effect of the signal is as if it was fired within the batch of instructions that created it as p

[2018-10-12 23:31] aeyakovenko opened #1488 "Bench-TPS client is messy"
https://github.com/solana-labs/solana/blob/master/src/bin/bench-tps.rs
Is getting really big and gnarly.  It should be possible to break it up into a library with well tested primitives and a binary.

[2018-10-13 14:59] aeyakovenko commented on #1454
@jackmay, the contract for loading should take a (start,Vec<data>) as the userdata

[2018-10-13 15:00] aeyakovenko commented on #1431
@rob-solana, won’t all forks be virtual?

[2018-10-13 15:47] aeyakovenko commented on #1463
@rob-solana ^ i am not sure i grok why this test is sensitive to ticks

[2018-10-13 17:23] mvines opened #1495 "programs using KeyedAccount should receive the full Transaction details"
Currently programs only receive their particular instruction in the Transaction, which prevents it from observing the instructions that will execute atomically in its Transaction

cc: https://github.com/solana-labs/solana/pull/1482#issuecomment-429519625

[2018-10-14 01:33] aeyakovenko commented on #1432
Why do they care?

[2018-10-14 04:15] aeyakovenko opened #1498 "Out of Bank vote processing creates state that is not part of the Bank"
Vote state transitions can be implemented as program's that modify Accounts in the Bank like a regular program.

@rob-solana @carllin  I am not sure if this is the right path.  This function basically does out of VM computation (i think:))

[code]

I think a more robust approach would be to move this out of budget_program, and have the votes be a separate program which validatos vote with.
[code]

[2018-10-14 13:45] aeyakovenko commented on #1397
fixed in #1493

[2018-10-14 13:45] #1397 closed

[2018-10-14 13:49] aeyakovenko commented on #1426
@rob-solana i think the validator bank should fork, not the leaders.  process_entries are synchronous, you have a small amount of state to fork.

[2018-10-14 13:51] aeyakovenko commented on #1409
@garious i think Account is still appropriate.  we can't stray to far from mainstream

[2018-10-14 16:33] rob-solana commented on #1431
these cases are of concern, I think
1. leader schedule partition, where 2 leaders think they're next
2. slashable leader (i.e. 2 different data blobs for the current period)

[2018-10-14 16:54] aeyakovenko commented on #1431
@rob-solana how will two leaders be next?  L1 and l2 have different start points

[2018-10-14 17:15] rob-solana commented on #1431
in a partition that lasts long enough for a new leader schedule?

[2018-10-14 17:20] rob-solana commented on #1432
what is "split the enum"?

this issue is more focused on repair outside the window, i.e. from the ledger, wherein the id of the sender isn't known because it's not saved in the ledger.

perhaps this is a non-issue.  many of these issues were filed before the new fork strategy was devised

[2018-10-15 14:38] garious commented on #1495
This title is a proposed solution, and the description describes a problem that may not be a problem. Ideally, instructions would be processed in isolation.  Another proposed solution might be a new mutex instruction, as described in the comment that the description references.

[2018-10-15 15:15] garious opened #1503 "solana v0.9.0 not on crates.io"
We did the work to ensure we weren't referencing any source repos in Cargo.toml. Why didn't the crate get published when we tagged v0.9.0?

[2018-10-15 15:20] garious commented on #1498
I was thinking we'd do this refactoring as part of Tabletops to do protocol upgrades. If we want to do this in Pillbox, please keep @jackcmay in the loop and advising on us where to put new programs.

[2018-10-15 15:23] jackcmay commented on #1495
Sending the full transaction structure to programs is cumbersome especially
with #1482 where we want to add additional accounts for chained loaders.
We may have to rethink the transaction structure and/or send something
different to programs that still contain all the information they need.

On Mon, Oct 15, 2018 at 7:38 AM Greg Fitzgerald <notifications@github.com>
wrote:

[2018-10-15 15:28] garious commented on #1474
@rob-solana, I reverse-engineered the problem your solving as best I could, and used it to write a description for this ticket. If it's accurate, can you please update the title of this ticket to specify the problem and not a potential solution?

[2018-10-15 15:30] garious commented on #1498
@aeyakovenko, can you update the title of this ticket to specify the problem created by Vote's current location? That'd help me determine whether we need to be prioritizing this work for Pillbox.

[2018-10-15 16:02] garious opened #1505 "Do empty entries create problems for code that expects ticks?"
We have a test that ensures an entry is generated even if all transactions are rejected.

https://github.com/solana-labs/solana/blob/master/src/bank.rs#L1519

It was my idea to define a Tick as an entry with zero transactions. I wonder, was that the wrong call? Can someone perform an attack by sending a bunch of bad transactions and use it to flood the last_ids queue?

[2018-10-15 20:56] pgarg66 opened #1508 "Validators are running out of memory on testnet"
Validators are OOMing after about 5 minutes of runtime.
[code]

[2018-10-15 20:57] pgarg66 commented on #1508
@aeyakovenko , @garious FYI

[2018-10-16 03:11] garious opened #1510 "Account userdata inaccessible as files in Lua"
Some of Lua's dynamic loading is only available to binary chunks loaded from files. Wouldn't this be nice?

[code]

or

[code]

[2018-10-16 20:14] jackcmay opened #1513 "Unreliable test failure observed on CI: test_boot_validator_from_file"
---- test_boot_validator_from_file stdout ----
--
  | thread 'test_boot_validator_from_file' panicked at 'assertion failed: `(left == right)`
  | left: `500`,
  | right: `1000`', tests/multinode.rs:465:5
  | note: Some details are omitted, run with `RUST_BACKTRACE=full` for a verbose backtrace.
  | stack backtrace:
  | 0: std::sys::unix::backtrace::tracing::imp::unwind_backtrace
  | at libstd/sys/

[2018-10-16 20:36] rob-solana commented on #1474
#1428

[2018-10-16 20:40] rob-solana commented on #1474
duplicate of #1428

the problem is that the network protocol to support the TDMA-style leader rotation, forking is not implementable if nodes do not agree on a num-hashes-per-tick hyper parameter

[2018-10-16 21:02] jackcmay opened #1517 "CI unstable test: test_leader_restart_validator_start_from_old_ledger"
---- test_leader_restart_validator_start_from_old_ledger stdout ----
Error: JoinError(Any)
thread 'test_leader_restart_validator_start_from_old_ledger' panicked at 'assertion failed: `(left == right)`
  left: `1`,
 right: `0`', libtest/lib.rs:326:5
note: Some details are omitted, run with `RUST_BACKTRACE=full` for a verbose backtrace.
stack backtrace:
   0: std::sys::unix::backtrace::tracing::imp:

[2018-10-16 22:38] garious commented on #1505
Thanks!

[2018-10-16 22:38] #1505 closed

[2018-10-17 14:37] garious opened #1526 "Token amounts wasting a bit by using i64"
Problem:
When the contract engine was added, the use of an `i64` type for tokens instead of a `u64` became pointless. Each program would need to define an associative operation on the type held in its userdata so that it could coalesce from the right in forked banks. And since that operation would probably require deserialization, it's looking especially unlikely that we'd go that route.

Proposed

[2018-10-17 14:48] garious commented on #160
Change SDK's API to operate on sols, not satoshis. Encode as a fixed point number, with the top 30 bits for the integer part. The sum of all tokens should then be 1,073,741,823.9999999999417923. And I believe the smallest amount would be 0.5^34?  5.820766091346741e-11, which means essentially no room for inflation and transaction fees can get at least a million times smaller than the proposed fee.

[2018-10-17 14:49] garious commented on #160
Depends on #1526

[2018-10-17 14:55] garious opened #1527 "Mining rewards aren't dispersed to active set"
Problem:
No incentive to run a fullnode as a validator

Proposed solution:
Add a `MiningPool` program that validators can submit vote accounts to and be rewarded for their votes.

[2018-10-17 14:55] garious commented on #1527
Depends on #160

[2018-10-17 15:20] garious opened #1528 "Not clear which part of the bank is the runtime"
Problem:

We talk about the "runtime" in the contracts engine RFC, but it's not in a module or a struct of its own. It's some set of Bank methods acting on a subset of Bank state. Without that separation, it'll be difficult to ask others to scrutinize that mission-critical code.

Proposed solution:

Split the bank. `execute_and_commit_transactions()` everything it calls to a new runtime.rs module.

[2018-10-17 15:27] garious opened #1529 "Bank notifications sent too early"
Problem:

If the last instruction fails in a single transaction, notifications from earlier successful transactions will have already been sent.

Proposed solution:

Move notifications until *at least* all instructions have been successfully executed. After `store_accounts()` would probably be better, so that the bank can reject malicious writes to userdata.

[2018-10-17 15:33] garious opened #1530 "Demonstrate program upgrades"
- [ ] Distinguish bpf-based upgrades from native-based upgrades. Do we want to migrate all programs to bpf or add a governance model around trusting upgrades to native programs?
- [ ] Demonstrate voluntary upgrade where a client uses its signature to authorize a `program_id` re-assignment of an account it controls, such as an erc20 account.

[2018-10-17 15:34] garious commented on #1530
@jackcmay, looking in your general direction for this one.

[2018-10-17 15:38] garious commented on #1293
@aeyakovenko, do you plan to upgrade the `signature: Signature` field to `signatures: Vec<Signature>`? That'll require changes to the GPU code. Can we ask @sakridge to take care of it?  Once that's in place, adding `signed_keys: Vec<u8>` to instructions can be added without affecting GPU code.

[2018-10-17 15:41] garious commented on #1495
@mvines, can we close this one? rejected?

[2018-10-17 15:51] mvines commented on #1495
I think we want this still, perhaps not for v0.10 but I'll know that in a couple days once I'm further along with my current work

[2018-10-17 15:54] garious opened #1531 "Can't bundle AfterSignature and ApplySignature instructions in single transaction"
Problem:
Can't currently implement multisig in a single transaction.

Proposed solution:
Change Transaction's `signature: Signature` to `signatures: Vec<Signature>`. Sigverify should use the first `signatures.len()` of `account_keys` for the respective pubkeys.

TODO: Decide if the signed data should be the same for all signatures, or if all signatures after the first simply sign the first signatu

[2018-10-17 15:55] garious commented on #1293
Added #1531 to track just that sigverify work.

[2018-10-17 15:56] garious commented on #1531
@aeyakovenko, @mvines, comments on the TODOs?

@sakridge, once we have the details pinned down, would you mind making the change to sigverify for us?

[2018-10-17 15:58] garious commented on #1495
But we don't want the program interface (`process()`) to depend on `Transaction`. Is there a reasonable subset of those fields the runtime could pass in instead?

[2018-10-17 16:14] aeyakovenko commented on #1531
@garious that works!  Since instructions are offsets you can mix and match whichever you want.

@sakridge can you generalize the interface to the gpu to take a blob of data and arrays of sigs and key and data offsets into the blob?

[2018-10-17 16:15] aeyakovenko commented on #1293
@garious, yes, we need some way to pass a vector of signatures in the tx.

[2018-10-17 16:30] mvines commented on #1495
Yeah it likely can be carved up.  Perhaps some flavour of:
[code]

[2018-10-17 19:08] mvines opened #1536 "Debug flaky sdk test"
Revert https://github.com/solana-labs/solana-web3.js/commit/a739ed665ad7e07c458f621e89d9feb2db88fde2 and figure out why it fails sometimes (observed locally and on Travis).  I'm seeing some flaky tests in other SDK-based projects too.

[2018-10-18 02:39] garious commented on #1531
Regarding the second TODO, I think we only need to add a `signed` field KeyedAccount.

[2018-10-18 04:09] mvines commented on #1359
(bump to 0.11, doesn't need to block 0.10 anymore)

[2018-10-18 04:10] mvines commented on #1342
Done

[2018-10-18 04:10] #1342 closed

[2018-10-18 04:10] mvines commented on #1340
(bump to 0.11, doesn't need to block 0.10 anymore)

[2018-10-18 04:10] mvines commented on #1337
Done

[2018-10-18 04:10] #1337 closed

[2018-10-18 06:13] mvines commented on #1418
https://github.com/solana-labs/solana/pull/1501

[2018-10-18 15:08] garious opened #1542 "Publish solana_program_interface to crates.io"
Do we want to change its name? solana-pdk?  Program Development Kit?  Maybe somehow bacronym it to pdx? :)

[2018-10-18 15:23] aeyakovenko commented on #1359
@garious when votes are gossiped around they need a height as well, although that could just be in the vote's userdata.

[2018-10-18 15:30] mvines commented on #1542
`solana-sdk` seems nice enough, `common/` moves to `sdk/common/` too?   This makes room for `sdk/examples/`, etc

[2018-10-18 15:52] #1513 closed

[2018-10-18 15:53] mvines commented on #1513
Dup of #1484

[2018-10-18 16:59] mvines opened #1544 "Dynamic programs don't know who they are"
Currently a dynamically loaded program has no way of determining its program_id.  This is a problem for when it wants to validate that the accounts somebody has passed in actually belong to it.

Seems like the program_id must be supplied to the program's `process` entrypoint on every transaction

[2018-10-18 17:17] garious commented on #1542
That sounds good to me, thanks!

[2018-10-18 17:18] garious commented on #1542
@jackcmay, if you agree, can you do the renaming?

[2018-10-18 17:35] jackcmay opened #1545 "Bank does not enforce immutable executable account userdata"
Once finalized executable account userdata must be enforced as read-only.

[2018-10-18 21:14] jackcmay commented on #1255
#1462
#1514
#1520
#1521
#1533

[2018-10-18 21:18] jackcmay commented on #1423
Resolved by #1511

[2018-10-18 21:18] #1423 closed

[2018-10-18 21:42] jackcmay opened #1548 "TicTacToe still using built-in programs. Switch over to C based BPF"
Most of the fundamental support for BPF based TicTacToe written in BPF are in place.  But there are some remaining action items that need to be completed.  This issue focuses on getting TicTacToe running end-to-end with BPF.  Not to be confused with #1255 which covers a final BPF solution.

The following is the list of remaining steps to connect the dots:

- [x] Add support for loading BPF program

[2018-10-18 21:42] jackcmay commented on #1548
@mvines Please add anything I may have missed (especially related to the client side)

[2018-10-18 21:47] mvines commented on #1548
ouch, could we bring in tinyCBOR? https://github.com/intel/tinycbor

[2018-10-18 21:48] jackcmay commented on #1548
That's the CBOR library I was planning to try, not sure what kind of effect its going to have on the BPF.

[2018-10-18 21:53] mvines commented on #1548
Seems like we'd want to build on-chain shared objects for that kind of thing, which yeah may mean bpf linking of some fashion.  The VM proper shouldn't have an opinion on serialization formats or even libc IMO.

[2018-10-18 21:59] jackcmay commented on #1548
A run-time lookup of APIs via a VM trap that returns an interface is one way (IQI hehe).  Another way would be for the loader to be passed accounts with any dependent libs and to the resolutions

[2018-10-18 22:46] garious commented on #1531
Regarding the first TODO, we're leaning toward signing the same data in every signature and not signing the first signature (or any sort of stacking). That way all signatures can be generated concurrently.

[2018-10-19 03:22] garious opened #1551 "Can't batch System instructions"
SystemProgram ignores the instruction's `accounts` field and accesses the Transaction's `account_keys` field directly. That means, for example, you can't batch two independent `Move` instructions in one transaction.

[2018-10-19 19:14] pgarg66 opened #1555 "bench-tps is not able to find the leader"
In testnet, bench-tps gets stuck looking for leader. It works for a few iterations, and then it stops with the following message:
[code]

[2018-10-19 22:39] mvines commented on #1326
Still looking for my 🍀.  No progress to report, not forgotten of course, just no time thus far

[2018-10-20 16:17] aeyakovenko opened #1558 "Programs do not have access to a secure random source"
Programs that want to implement a random based strategy need access to a random source that cannot be influenced.

* Program can select a virtual tick in the future as its random source.
* The value of the tick cannot be influenced based on branch selection.

A transaction can't know which entry it will be in, but it knows which leader is scheduling it.  So given the current executed period of the

[2018-10-20 16:47] pgarg66 commented on #1555
Not an issue. It was a side effect of another bug. Fixed with https://github.com/solana-labs/solana/pull/1557

[2018-10-20 16:47] #1555 closed

[2018-10-20 16:49] pgarg66 opened #1559 "Airdrop fails on testnet intermittently"
When a new testnet is deployed, airdrop fails when testnet is started the first time.

[code]

It succeeds on a subsequent retry (./net.sh restart).

[2018-10-20 16:50] pgarg66 opened #1560 "Wallet sanity test is failing intermittently"
Wallet sanity fails intermittently on testnet with the following stack trace:

[code]

[2018-10-22 00:10] ericlwilliams opened #1562 "Solana proof of work initial design notes"
Initial proof-of-stake (i.e. using in-protocol asset, SOL, to provide secure consensus) design ideas outlined here. Solana will implement a proof of stake reward/security scheme for node validators on the network. Solana's Proof of History (PoH) network is an availability preferring, partially synchronous network with a chain-based Proof of Stake consensus design. In addition to environmental (i.e

[2018-10-22 01:18] ericlwilliams opened #1563 "Solana proof of stake initial design notes"
Initial proof-of-stake (i.e. using in-protocol asset, SOL, to provide secure consensus) design ideas outlined here. Solana will implement a proof of stake reward/security scheme for node validators on the network. Solana's Proof of History (PoH) network is an availability preferring, partially synchronous network with a chain-based Proof of Stake consensus design. In addition to environmental (i.e

[2018-10-22 15:29] garious commented on #1563
Thanks @ericlwilliams! Can you move this to a PR creating a new file, rfcs/rfc-009-staking.md? And then change this issue to something that only describes the problem(s) being addressed, such as "No economic incentive to converge on a fork".

[2018-10-22 15:34] jackcmay opened #1564 "Improve support for dynamic programs"
This issue tracks the incremental steps needed to support loading dynamic contracts.

Design of dynamic contracts is being tracked by a couple of different issues (#943, #940, #1133)

Native refers to loading platform modules  (e.g. MacOs uses x86-64 Mach-0 modules).  These modules are loaded from files on the machine running Solana.  Their intent is for proof of concept and potentially longer-ter

[2018-10-22 15:35] #1562 closed

[2018-10-22 15:36] jackcmay commented on #1454
Fixed by #1556

[2018-10-22 15:36] #1454 closed

[2018-10-22 15:45] ericlwilliams commented on #1563
@garious makes sense.  closing/moving this issue and will open another

[2018-10-22 15:45] #1563 closed

[2018-10-22 15:51] jackcmay opened #1565 "BPF loader not available by default"
Solana should load the BPF loader at boot using a known pubkey so clients don't have to loader their own instance  Can we use a key similar to SystemProgram where its a hardcoded small number (E.g. 5)?

Where is a good place in the boot-up sequence to do that?

@mvines @garious

[2018-10-22 15:53] jackcmay commented on #943
Tracked by #1255 and #1564

[2018-10-22 15:53] #943 closed

[2018-10-22 16:00] ericlwilliams opened #1567 "No economic incentive for validator consensus"
In PoW systems, miner's capital expenditure off-chain aligns their incentives with that of a healthy blockchain in order to recoup those costs in the form of block rewards.  PoS systems intend to provide similar incentives but through in-network capital leveraged as value-at-risk.  A high level outline of our current thinking of how PoS in Solana may look can be found in [rfcs/rfc-009-staking.md](

[2018-10-22 16:49] garious commented on #1565
First thought on where to load the loader: https://github.com/solana-labs/solana/blob/master/src/fullnode.rs#L384

Yes, hardcoded small number sounds good. Consider even making it `1` and bumping back whatever's in that slot.

[2018-10-22 17:19] pgarg66 commented on #1168
Moving it to Tabletop, given instability we are fighting with the current testnet.

[2018-10-22 20:38] jackcmay opened #1569 "C-based BPF programs have inherent restrictions, need review"
The current implementation of the C-based BPF programs were written as a prototype.  We are planning to open up the ability for others to write their own C-based BPF programs.  Our examples and general model should be reviewed internally first.

https://github.com/solana-labs/solana/tree/master/programs/bpf

[2018-10-22 20:39] jackcmay commented on #1569
@mvines, @garious

[2018-10-22 21:21] jackcmay commented on #1565
@greg The BPF loader is added as a sequence of transactions (SystemCreate, Write, .., Write, Finalize).  What did you have in mind for the code location you suggested?

[2018-10-22 21:49] mvines commented on #1565
How about building this into https://github.com/solana-labs/solana/blob/master/src/bin/genesis.rs?  Other hard-coded native programs eventually could move out from bank.rs into genesis transactions as well (storage program, vote program, etc).

[2018-10-22 22:39] mvines commented on #1536
Should help: https://github.com/solana-labs/solana-web3.js/pull/31

[2018-10-22 23:31] rob-solana commented on #1431
depends on #1433 being fixes

[2018-10-22 23:40] rob-solana opened #1571 "ledger is append only"
background:

a skip-list view of PoH allows the ledger to encode forks observed by by a node, but the forks may vary in length

problem:

ledger doesn't support random-access writing that would be required to persist forks as they arrive over the network

[2018-10-23 00:28] jackcmay commented on #1565
@mvines
I'm planning to add the BpfLoader built-in here for now but we can move it later to genesis:

https://github.com/solana-labs/solana/blob/45cfa5b574eab362113f41d2fc573b0d1cf1bf0f/src/bank.rs#L197

[code]

[2018-10-23 00:43] jackcmay opened #1572 "Built-in programs have overlapping ids and temporary programs are in same id namespace"
BudgetProgram and StorageProgram have overlapping program_id's and the rest are sequential from 0.

Instead, any built-in program that is not intended to stay in the bank could be moved to a larger number to give room for the addition of newer built-ins that are intended to stay.

I would propose:
SystemProgram: 0
NativeLoader: 1
BpfLoader: 2

BudgetState: 256
StorageProgram: 257
TokenProgram: 258

[2018-10-23 00:56] garious commented on #1565
process_transaction() should reject your tx if it's not after that register_id() in Bank::new()

[2018-10-23 01:06] jackcmay commented on #1565
I'm not making a tx, I'm inserting the bpf_loader() account directly into the accounts HashMap.

[2018-10-23 02:08] mvines commented on #1565
Just try to make it general enough to encourage others to use the same facility to add future pre-loaded programs (https://github.com/solana-labs/solana/pull/1552, *wink wink nudge nudge*) and to eventually boot programs from bank.rs hard coding

[2018-10-23 02:16] garious commented on #1565
I don't see how the genesis block solution would work for programs targeting the native loader. Can Windows execute the ELF?

[2018-10-23 05:38] jackcmay commented on #1559
@CriesofCarrots Can we disable this test until its fixed, hitting this during PR CI?

[2018-10-23 05:38] mvines commented on #1536
Pushed a couple more fixes into solana-web3 today as well, situation seams to have improved significantly but need a little more test driving before loading this issue

[2018-10-23 05:40] jackcmay commented on #1484
Still seeing this issue in CI, can we disable until resolved?

[2018-10-23 05:43] mvines commented on #1572
Seems like a nice cleanup to do at a low pri.  There's a minor SDK impact so in some ways just doing it like now would be nice

[2018-10-23 05:44] mvines commented on #1484
yes please!

[2018-10-23 05:45] mvines commented on #1559
Got a link to a PR CI that failed due to this?  Disabling this in CI is a little scary in that this is super basic functionality.  If the wallet can't even airdrop then we're ☠️

[2018-10-23 05:48] mvines commented on #1560
@pgarg66 is this a dup of #1560?   The backtrace here without a log for context is pretty rough to triage

[2018-10-23 05:53] mvines commented on #1326
sry 👢

[2018-10-23 05:57] mvines commented on #1293
Closing, as what remains here is #1531

[2018-10-23 05:57] #1293 closed

[2018-10-23 05:58] mvines commented on #950
@aeyakovenko, are we optimized?  Anything more that needs to be done here?

[2018-10-23 06:00] mvines commented on #1569
sgtm, we can do this work after 0.10 branches but keeping the issue in 0.10 since seems like something for early next week.

[2018-10-23 06:02] mvines commented on #1531
Assigning to @sakridge as it seems like generalizing the sigverify interface is the next step here.

@sakridge - is this something doable this week, or should we punt this issue from v0.10?

[2018-10-23 06:40] mvines commented on #1565
@jackcmay want me to do the sdk side of this?  (also cc: https://github.com/solana-labs/solana/issues/1418)

[2018-10-23 07:47] jackcmay commented on #1484
Ignored in #1576

[2018-10-23 16:05] pgarg66 commented on #1508
This issue has morphed into overall testnet stability. The validators are no longer running out of memory, after changing the node machine type. But testnet stops after some time.

[2018-10-23 16:07] pgarg66 commented on #1559
I've seen it fail mostly in testnet deployment. So CI may not have a log for it. I'll share more logs next time it happens.

[2018-10-23 17:56] pgarg66 commented on #1559
Here are some more logs. These are when the testnet is first started, after a fresh deployment.

[code]

[2018-10-23 17:58] pgarg66 commented on #1559
Another piece of info: if I restart the testnet, it boots up fine (no errors wrt Airdrop)

[2018-10-23 18:00] mvines commented on #1559
/home/pankaj_solana_com/pgarg66/solana/net/log/leader-35.185.251.59.log have anything in it?

[2018-10-23 20:23] mvines opened #1581 "Expose pubsub in the SDK"

[2018-10-23 20:23] mvines opened #1582 "Expose transactions with multiple instructions in the SDK"
cc: https://github.com/solana-labs/solana/pull/1381

[2018-10-23 20:24] mvines opened #1583 "Update SDK for recent Budget program changes"
cc: https://github.com/solana-labs/solana/pull/1501

[2018-10-23 20:24] #1418 closed, assigned to mvines

[2018-10-23 21:07] #445 closed

[2018-10-23 22:29] rob-solana opened #1589 "leader_unknown in WindowSlot outdated"
with a specific, on-chain leader schedule, leader_unknown is an anachronism and should be removed

[2018-10-23 23:00] garious commented on #420
@aeyakovenko, can this be closed?

[2018-10-23 23:03] pgarg66 commented on #1508
This issue is most likely fixed. I am leaving it open for time being. Will close it if does not resurface around pillbox release time.

[2018-10-23 23:16] garious commented on #1503
@mvines, can you ensure the crates.io publishing automation is ready for v0.10.0?  Perhaps my making an attempt to publish v0.9.0?

[2018-10-24 00:22] #420 closed, assigned to aeyakovenko

[2018-10-24 03:31] garious commented on #1011
Blocked by generic_array upgrades in https://github.com/dalek-cryptography/curve25519-dalek/pull/201 and https://github.com/dalek-cryptography/ed25519-dalek/issues/46

[2018-10-24 16:26] #1582 closed, assigned to mvines

[2018-10-24 16:56] CriesofCarrots commented on #1559
@pgarg66 , can you send me a copy of that first log from the successful restart?

[2018-10-24 17:10] garious opened #1593 "Can't query number of confirmations since Transaction accepted"
Problem:

If one were to build a block explorer, they'd likely want to query the number of confirmations that have occurred since the transaction was accepted onto the ledger.

Proposed solution:

Defined a concept of "finality height" to mean the number of times consensus has been reached. Make it possible to query both the height when the transaction was first finalized and the current finality

[2018-10-24 17:15] CriesofCarrots opened #1594 "RPU still hanging around"
Problem:
The JSON RPC service offers a better method for data requests than the RPU. But the ThinClient module (and by extension, bench_tps and multinode tests) still depends on the RPU for various requests.

Solution:
Remove the RPU and replace it with RPC.

[2018-10-24 17:38] pgarg66 commented on #1559
@CriesofCarrots , do you want copy of the leader log? Also, does it need to be _first_ successful restart, or any restart that was successful?

[2018-10-24 21:32] jackcmay commented on #1565
Addressed by #1573

[2018-10-24 21:32] #1565 closed

[2018-10-24 21:34] mvines opened #1598 "The max transaction size of 512 is a little limiting"
I ran into a simple case where I was unable to fit 3 reasonably sized Instructions in a Transaction and remain under the 512 byte limit.   A couple options to consider here:
1. There's a ton of wasted space in the Transaction wire format right now (64bit numbers were 8 bits will do, etc)
2. Should we bump the max PACKET_SIZE to something a little bigger, like 1k?

Fixing (1) would have kept me und

[2018-10-24 21:43] mvines commented on #1598
#1531 will make this worse too once a transaction can have multiple signatures

[2018-10-24 21:46] jackcmay commented on #1378
@garious Anything left to do for this issue?

[2018-10-24 22:39] mvines commented on #1503
We might need to fix https://github.com/solana-labs/solana/issues/1542 first

[2018-10-24 23:34] sakridge commented on #1531
@mvines it should be doable, let me prioritize this work.

[2018-10-25 02:43] mvines commented on #1378
Yeah this appears to be done

[2018-10-25 02:43] #1378 closed

[2018-10-25 02:44] mvines commented on #940
Effectively done

[2018-10-25 02:44] #940 closed

[2018-10-25 02:45] mvines commented on #964
Gonna close this as there's nothing actionable here.  If something new pops up, let's file a new issue

[2018-10-25 02:45] #964 closed

[2018-10-25 02:49] mvines commented on #1255
@jackcmay this is done right?  And if so, this issue is too?

[2018-10-25 03:28] sakridge commented on #1598
I update the cuda library to take the packet size as input argument, so rust side should be able to be modified without changing the cuda lib once #1602 merges.

[2018-10-25 03:52] mvines commented on #1503
cargo workspaces are something of a footgun.  Once we started using them for common/ and then in programs/ we ended up in a place where to publish to crates.io we now need to publish the common/ and programs/* creates to crates.io.

Publishing common/ to crates.io seems ok and we want to anyway (#1542), but publishing `programs/*` crates seems excessive.    To avoid this we need to remove all the

[2018-10-25 04:30] garious commented on #1503
Can you move programs to a separate repo?

[2018-10-25 04:30] garious commented on #1503
And bpf_loader back to src/

[2018-10-25 04:32] garious commented on #1503
Nm about moving the other programs. Sounds like that's not required

[2018-10-25 07:35] jackcmay commented on #1255
All of the changes we need have been mainlined as of this week (no panics, customizable verifier, etc...).  Waiting for the rbpf create owner to push a new version so we can switch back to crates.io.  He has given us confirmation that it will be done by the end of the month and he has been actively involved in code review, etc... so I don't have any reason to doubt it will be done.  Waiting on an

[2018-10-25 09:59] jackcmay commented on #1255
Woot, rbp 0.1.0 released
#1605

[2018-10-25 09:59] #1255 closed

[2018-10-25 17:51] #1214 closed

[2018-10-25 17:55] garious opened #1608 "Programs don't publish Instruction schema"
#### Problem

It's difficult to migrate a JavaScript DApp frontend to Solana from Ethereum. The Solidity compiler generates a JSON description of the contract and a javascript library uses it to generate classes that automatically generate and send conforming transactions to the Ethereum network. In Solana, the frontend author manually defines JavaScript constructors for those instructions.

####

[2018-10-25 18:14] pgarg66 commented on #1508
Closing the ticket, as 100 node testnet has been running fine for last 30 minutes

![image](https://user-images.githubusercontent.com/40076733/47521159-19af5a00-d847-11e8-8973-1f56196b1359.png)

[2018-10-25 18:14] #1508 closed

[2018-10-25 19:52] mvines commented on #1542
This'll be fixed as a part of #1503

[2018-10-25 19:52] #1542 closed

[2018-10-25 19:55] mvines commented on #1503
#1612

[2018-10-25 19:58] mvines commented on #1503
Next step is to wait until v0.10 branches off master tonight, try to publish a `0.10.0-pre.1` release and see what happens.  On success we'll see five crates on crates.io all with the same semver:
[code]

[2018-10-25 20:08] mvines commented on #1581
PSA: This work will likely occur after v0.10 branches, maybe even after v0.10.0 is released.  But it's an SDK item so the release cycle is different and it will ship immediately when it's ready

[2018-10-25 20:08] mvines commented on #1583
PSA: This work will likely occur after v0.10 branches, maybe even after v0.10.0 is released.  But it's an SDK item so the release cycle is different and it will ship immediately when it's ready

[2018-10-25 20:12] sakridge commented on #1177
Fixed by https://github.com/solana-labs/solana/pull/1588

[2018-10-25 20:12] #1177 closed

[2018-10-25 20:14] sakridge commented on #1207
Recyclers were removed and experimentation showed they did not help in larger node experiments.

[2018-10-25 20:58] jackcmay opened #1613 "C-based BPF programs use hard-coded values for helper functions"
#### Problem

Solana C-based BPF programs use hard-coded values for helper functions.

[code]

#### Proposed Solution

Instead they should probably use run-time relocations based on symbol name

[code]

Doing so would require parsing the elf and fixing up the code based on the relocations found.  Solana BPF loader and the BPF vm currently take a buffer of program bytes and not the whole elf.  In o

[2018-10-25 20:58] #1559 closed

[2018-10-26 00:17] mvines commented on #1503
New publishing infra works: https://crates.io/search?q=solana

[2018-10-26 00:17] #1503 closed

[2018-10-26 00:44] mvines opened #1615 "localnet docker image is sensitive to poor network conditions"
I was using https://hub.docker.com/r/solanalabs/solana/ from a poor hotel wifi connection recently and it was unusable, the leader and/or drone was not starting correctly.

Need to replicate those conditions, perhaps find wifi with captive portal and don't login, and debug.

Could be a problem for hackathon/conference-like environments where wifi can be poor

[2018-10-26 16:49] aeyakovenko opened #1619 "Gossip shares redundant data between nodes"
# PR #1546

#### Problem

Any request for updates to a random node will likely result in receiving mostly redundant information.  This problem is will severely limit how large the network can grow.  Even using a version filter results in redundant data sent.  If every node votes, and all the votes are gossiped, it is expected that N updates are received by each node.  A simple version filter will

[2018-10-26 18:06] CriesofCarrots commented on #1560
@pgarg66 , I haven't been able to replicate this panic. Do you have any suggestions to make it more likely to happen?

[2018-10-26 18:32] pgarg66 commented on #1560
Most likely it's the same. It was complaining about ':' being the extra character in the command.

[2018-10-26 18:45] CriesofCarrots commented on #1560
Hmm, I don't see any obvious ways wallet-sanity would pick up an errant ':'
If you see it again, would you shoot me all the wallet-sanity output?

[2018-10-26 19:20] mvines opened #1624 "testnet-perf is not stable"
testnet-perf on v0.10 seems to stay up for ~30min before dying.  The dashboard shows OOMs and panics.

[2018-10-27 02:44] #1572 closed

[2018-10-27 05:43] mvines commented on #1583
https://github.com/solana-labs/solana-web3.js/pull/46

[2018-10-27 05:43] #1583 closed

[2018-10-28 00:07] mvines commented on #1581
https://github.com/solana-labs/solana-web3.js/pull/47

[2018-10-28 16:48] mvines opened #1628 "RPC API documentation: switch from markdown to OpenAPI"
Using [OpenAPI](https://en.m.wikipedia.org/wiki/OpenAPI_Specification) to express our RPC API will open a world of front-end visualization tools that are much more presentable and friendly than markdown.

Refs:
* https://sourcey.com/spectacle/
* http://rebilly.github.io/ReDoc/
* https://swagger.io/tools/swagger-ui/

[2018-10-28 23:57] mvines commented on #1581
1. Shipped in https://github.com/solana-labs/example-tictactoe/commit/f2f3f256af9d0fa494b8a00ba0d890fac646d6f5
2. Tic-tac-toe example updated to use account notifications at https://github.com/solana-labs/example-tictactoe/commit/f2f3f256af9d0fa494b8a00ba0d890fac646d6f5

[2018-10-28 23:57] #1581 closed

[2018-10-29 16:43] mvines opened #1630 "BPF C headers/makefiles are not accessible downstream"
eg, programs/bpf/c/sol_bpf_c.h is replicated in https://github.com/solana-labs/solana-web3.js/blob/master/test/bin/noop.c.

As a start we can use a tarball publishing mechanism like what we use for perflibs.

[2018-10-29 18:49] mvines commented on #1630
cc: https://github.com/solana-labs/solana/pull/1633

[2018-10-29 20:55] mvines commented on #394
Moving to v0.11 since snap devmode prevents us from publishing to the stable snap channel.

![image](https://user-images.githubusercontent.com/1281082/47679751-3bc81580-db82-11e8-8d9a-7a77ebda374b.png)

[2018-10-29 22:13] pgarg66 opened #1640 "Restarting bench-tps causes testnet failure"
#### Problem
Testnet runs bench-tps (clients) for a certain duration (e.g. 600 seconds). The bench-tps exits after this duration, and gets restarted.

After some restarts, the client seems to be sending more packets (transactions) to testnet when compared to previous runs (e.g. 250k packets/second, instead of 200k packets/second). This increase in traffic is causing more load on each stage of pipe

[2018-10-29 22:14] pgarg66 commented on #1640
https://github.com/solana-labs/solana/pull/1639

[2018-10-30 21:03] carllin opened #1654 "Vote program doesn't enforce single vote account registered per validator"
#### Problem

The Vote contract currently doesn't check that a previous vote account hasn't already been registered
for  a particular validator when processing VoteInstruction::RegisterAccount.

#### Proposed Solution

[2018-10-30 21:06] carllin opened #1655 "VoteState tracks only votes, not lockout or rewards"
#### Problem

Create a staking contract to manage account the active set of validators and the stakes/rules for these validators. Currently, stake is just the number of tokens in a validator's accounts.

#### Proposed Solution

The following algorithm for staking is considered:

The program maintains a data structure `votes` with 32 entries that supports both queue and stack operations and front t

[2018-10-30 21:59] mvines opened #1657 "Add bpf method to print a c string"
`sol_print()` is nice but I just want to print a string some of the time.

[2018-10-31 17:13] jackcmay opened #1673 "Airdrops failing in CI"
#### Problem

[code]

https://solana-ci-gate.herokuapp.com/buildkite_public_log?https://buildkite.com/solana-labs/solana/builds/4478#stable-perf

#### Proposed Solution

[2018-10-31 17:34] CriesofCarrots commented on #1673
The solana-wallet requests in wallet-sanity can end up going to any of the nodes active during the test. Troubleshooting by @carllin suggests that what we are seeing here are cases where `solana-wallet balance` request is sent to the validator before replication of the successful airdrop has completed. If so, a delay or retry should resolve this issue.

[2018-10-31 17:42] mvines commented on #1673
The balance request goes to the leader, so not sure this theory holds

[2018-10-31 18:01] CriesofCarrots commented on #1673
The balance request goes to the RPC port 8899, which is open on both leader and validator.

[2018-10-31 20:21] rob-solana commented on #84
wow!  blast from the past.  covered in #1426

[2018-10-31 20:21] #84 closed

[2018-11-01 06:46] mvines commented on #1569
We'll be reviewing this a part of upcoming demos, but I'm not really sure what else is actionable here so closing.  Please re-open if there's something specific that we should be doing

[2018-11-01 06:46] #1569 closed

[2018-11-01 06:51] mvines commented on #1624
testnet-perf looks pretty good this evening, @pgarg66 is there anything else you're looking at for v0.10 stability?

[2018-11-01 15:19] mvines commented on #1657
Correction,  I just want to print a string **most** of the time.

[2018-11-01 15:29] garious commented on #1531
@sakridge, how's this one looking? Can we plan for it coming in sooner than later or is back on the back burner?

[2018-11-01 16:59] mvines commented on #1624
https://buildkite.com/solana-labs/testnet-sanity/builds?branch=v0.10 is perma-red with:
[code]

[2018-11-01 17:28] #1673 closed

[2018-11-01 22:02] mvines commented on #1624
Looks fixed to me!

[2018-11-01 22:02] #1624 closed

[2018-11-02 20:46] garious opened #1694 "Client retries not updating last_id"
#### Problem

Transactions from Rust clients may be getting rejected when it requires multiple retries. The transaction's `last_id` is never updated, so one it's too old, all retries will be rejected:

https://github.com/solana-labs/solana/blob/master/src/thin_client.rs#L132

#### Proposed Solution

Extend `Transaction::sign()` with `last_id: &Hash`, and update any client usages to query for the l

[2018-11-02 23:36] mvines commented on #1548
Fixed

[2018-11-02 23:36] #1548 closed

[2018-11-03 04:27] garious opened #1700 "v0.10.0 docs are broken"
#### Problem

A typenum in a dependency causes a compiler error. Most likely this: https://github.com/rust-lang/rust/issues/52873

#### Proposed Solution

What for a rustc 1.30.1 release, upgrade, and publish a v0.10 Pillbox patch release

[2018-11-03 05:07] rob-solana opened #1701 "bank.rs Accounts accounts field is pub"
#### Problem
accounts of bank::Accounts is a public member, used by leader_scheduler and others, fails encapsulation, will likely expose incorrect behavior when the bank is on a checkpoint

#### Proposed Solution
expose methods to external customers for their use case, in particular: leader_finality_service, remove "pub" from bank::Accounts.accounts

[2018-11-05 03:03] mvines opened #1702 "Upgrade to cuda 10.0"
CUDA 10.0 is out and we're using CUDA 9.2, which doesn't support Ubuntu 18.04.

[2018-11-05 17:47] #1426 closed

[2018-11-05 19:08] CriesofCarrots opened #1706 "Return to paritytech/jsonrpc"
#### Problem
We are currently maintaining our own fork of `jsonrpc`.

#### Proposed Solution
Paritytech recently published a new version of `jsonrpc` to crates.io, which could allow us to get off our fork.
However, the new package does not include @carllin 's proposed changes (https://github.com/paritytech/jsonrpc/pull/331), so if those fixes are critical to solana and don't get included on crates

[2018-11-06 00:06] sakridge commented on #1531
@garious @mvines Should the `keys` argument to `Transaction::new_with_instructions` be a slice of Keypair then? `keys: &[Keypair]` and then it signs with all those keys in the slice?

[2018-11-06 00:47] garious commented on #1531
@sakridge, yes, exactly

[2018-11-06 01:51] mvines commented on #1694
FYI: in the SDK, we reuse the same last id until the next second: https://github.com/solana-labs/solana-web3.js/blob/9b82d9304f08b4c248dad95504f84b4d8c72d2d2/src/connection.js#L372

[2018-11-06 02:00] garious commented on #1694
Another good example of a sign() method that'd be better with a last_id parameter. :)

[2018-11-06 03:30] #1594 closed

[2018-11-06 18:30] rob-solana opened #1717 "merge window and ledger"
#### Problem
A ledger and window keyed by entry_height does not accommodate forks or the skip-list form of the ledger as transmitted by rotating leaders.

#### Proposed Solution
Move ledger and window to rocksdb, keyed by <leader_period, index> where index is relative to the leader period.  The db should persist blobs directly in order to retain the signatures of the leaders for repair responses.

[2018-11-06 18:39] rob-solana opened #1718 "remove dead code entry_writer.rs"
#### Problem
entry_writer.rs isn't in use, bloats our tree

#### Proposed Solution
remove entry_writer.rs

[2018-11-06 18:46] rob-solana opened #1719 "index blobs with leader period and blob index"
#### Problem
current blob indexing assumes a single ledger of consecutive blobs/entries, i.e. a single true ledger, that doesn't accommodate temporary partitions/forking inherent in leader rotation.

#### Proposed Solution
blobs broadcast by the leader need to include the leader period index as well as the blob index (which will be updated to be relative to the period)

[2018-11-06 19:37] carllin commented on #1706
That change should not be critical. In the future we won't be shutting down and restarting the RPC services anymore, so I think we can switch back to the Parity version for now.

[2018-11-06 20:42] #1718 closed

[2018-11-06 21:58] garious commented on #1551
Somewhat depends on #1531. Using `accounts` would allow the same user to move tokens to multiple destinations, but adding multiple signature support would allow different users to move tokens to different destinations within the same transaction.

[2018-11-06 23:53] sakridge commented on #1551
Hmm I was just looking at messing with this stuff as part of the signatures change.

[2018-11-07 00:38] garious commented on #1551
Sounds great!

[2018-11-07 17:15] mvines commented on #1657
Done!

[2018-11-07 17:15] #1657 closed

[2018-11-07 22:36] #1447 closed

[2018-11-08 03:47] mvines commented on #1123
I don't think we need this anymore, the SDK essentially exercises this

[2018-11-08 03:47] #1123 closed

[2018-11-08 03:51] mvines opened #1741 "Perf testnet TPS is significantly less on AWS than GCP"
"perf" testnet TPS on AWS is about an order of magnitude slower on than on GCP.  Unclear if this is a due to the instance types, instance OS image, or ____?

This blocks moving testnet-perf from GCP to AWS.

Once debugged, move testnet-perf to AWS

[2018-11-08 03:52] mvines commented on #1239
Add done except for #1741

[2018-11-08 03:52] #1239 closed

[2018-11-08 05:38] mvines opened #1742 "Network Version is incorrect in metrics dashboard"
Most of the testnets have moved from snap to tarball builds, but unfortunately the network version metrics datapoint is only implemented for snap builds currently [1].

The tarball does contain a `version.txt` with the SHA1 of the build, so all the info is already available for `net/net.sh` to use.

Fix should also go into v0.10 and another v0.10 tag made, to correct the version on the current tes

[2018-11-08 16:07] garious commented on #1702
@sakridge, is this something you're able to easily test-drive?

[2018-11-08 16:09] mvines commented on #1702
That’s be great to confirm that perf-libs works fine with 10.  Maybe it Just Works?

There’s hours of infra plumbing that I can handle when the source is gtg.

[2018-11-08 17:10] sakridge commented on #1702
If there a an instance already setup with the driver on it and whatnot I can test if it works.

[2018-11-08 18:27] rob-solana opened #1745 "TVU does not verify PoH"
#### Problem
validators do not verify that Entries are linked with PoH

#### Proposed Solution
add PoH verification to replicate_stage, initially with CPU, but later with GPU or enclave

[2018-11-08 19:17] sakridge commented on #1702
I updated newton to 18.04 and cuda 10, verify seems to work fine:

[code]

[2018-11-08 19:35] sakridge commented on #1702
`cargo test --features="cuda"`
also working fine

[2018-11-08 20:36] CriesofCarrots commented on #1706
Due to unpublished dependencies, paritytech has not published the jsonrpc-ws-server crate, which we use in our notifications service. Thus we're still stuck on our fork for now. Will reopen if/when this changes.

[2018-11-08 20:37] #1706 closed

[2018-11-08 21:30] garious commented on #160
fyi, instead of `satoshis`, the things currently called `tokens` should be called `protons`. If the SDK APIs are going to expose the concept of `sols`, it should map each to `2^34 protons` in the transaction.

[2018-11-08 23:00] #1719 closed

[2018-11-09 02:38] garious commented on #1702
Awesome, let's run with it!

[2018-11-09 04:08] mvines commented on #1341
Closing until #1359 is not enough

[2018-11-09 04:08] #1341 closed

[2018-11-09 05:24] mvines opened #1751 "Add CI to autopublish the architecture book to github pages on master commits"
cc: https://github.com/solana-labs/solana#building-the-solana-book
cc: https://solana-labs.github.io/solana/

[2018-11-09 05:46] mvines commented on #394
The stable snap channel issue has been mitigated by switching to tarball releases for the testnet.  Longer term we need to decide if we want to ditch snaps all together or keep them around for tinkering.

[2018-11-09 09:14] #1751 closed

[2018-11-09 14:20] garious commented on #1700
https://blog.rust-lang.org/2018/11/08/Rust-1.30.1.html

[2018-11-09 15:46] #1700 closed

[2018-11-09 17:36] garious commented on #1011
Looking doable now with ed25510-dalek's 1.0.0-pre.0 release.

[2018-11-09 19:31] mvines opened #1760 "v0.10.3 rust docs are broken"
After fixing #1700, rust docs are still broken :-/
[code]
See https://docs.rs/crate/solana/0.10.3/builds/126226

[2018-11-09 20:03] #1760 closed

[2018-11-09 20:40] mvines commented on #1760
:tada: https://docs.rs/solana/0.10.4/solana/

[2018-11-12 01:57] #1529 closed

[2018-11-12 17:12] mvines commented on #1742
Fixed

[2018-11-12 17:12] #1742 closed

[2018-11-12 17:17] mvines commented on #1168
Done, see this morning's run at https://metrics.solana.com:3000/d/testnet/testnet-hud?orgId=2&var-testnet=testnet-edge-perf&from=1542031477893&to=1542034960126

TPS in this run is terrible, which is being tracked at #1741

[2018-11-12 17:17] #1168 closed

[2018-11-12 18:02] mvines opened #1781 "v0.11 solana-web3.js SDK catchup on beta channel"
One v0.11 moves from edge to beta channel, we need to adapt the downstream users to the non-backwards compatible changes:

* [ ] Change token type from i64 to u64: https://github.com/solana-labs/solana/pull/1704
* [x] Account field renaming that affects JSON RPC API, and native program SDK: https://github.com/solana-labs/solana/pull/1780
* [ ] ...

[2018-11-12 21:53] aeyakovenko commented on #1527
@garious @ericlwilliams this is the approximation we are experimenting with.
1. Each Voter maintains an array of size N of the N most recent votes
2. A new vote X is added
   1. pop_front any votes with a lockout < X.height
   2. double the lockout of any remaining votes
   3. push_front the new vote
   4. if the array size > N, pop_back the oldest vote

The rewards of the voting program are organ

[2018-11-12 22:28] mvines opened #1786 "Convert tic-tac-toe demo program to use the stamps concept"
Before a user can play tic-tac-toe they need platform tokens to drive the game.  At the moment this means an airdrop, in the future it means obtaining tokens from another user, an exchange, or ___?  Avoiding this barrier for programs that are willing to *fund* the user for the purposes of interacting with them is highly desirable.

https://github.com/solana-labs/solana/pull/1754 is an attempt to s

[2018-11-12 22:35] mvines opened #1787 "Remove cuda support from snap buid"
Instead of fixing #394, let's just ditch CUDA support from the snap build entirely (and therefore enable full snap confinement).   We've seen that snap build runs slower than a tarball on the metal anyway, so it's unlikely that anybody will ever use the snap build for a performance-enabled full node in the near future.  Most of our CI has already moved away from snaps as well.

Cuda support in sna

[2018-11-12 22:53] sagar-solana opened #1789 "Fix TPS regression"
#### Problem
Something broke with master over the weekend. TPS on gce testnets seems to average out to num validators.

#### Proposed Solution
Debug and fix the broken tip.

[2018-11-12 22:56] mvines commented on #1326
net/ has now switched over the 18.04.  The CI machines are still 16.04-based, but I don't see much hurry to upgrade them at this time.  This'll happen organically the next time we need to rebuild the CI images.  Punting this work to a future date since it's lowpri

[2018-11-12 22:59] mvines commented on #1789
@sagar-solana how are you starting the testnet?  Are you using the GPU-enabled snap build?

[2018-11-12 23:01] sagar-solana commented on #1789
No I'm not running with Cuda.

`./gce.sh create -n 10 -c 2 -p testnet-dev-sagar
./net.sh restart -o noValidatorSanity -o noLedgerVerify
`

[2018-11-12 23:02] mvines commented on #1789
oh good, that excludes a bunch of recent changes I was concerned about

[2018-11-13 03:50] mvines commented on #522
Fixed a while ago

[2018-11-13 03:50] #522 closed

[2018-11-13 03:51] #394 closed

[2018-11-13 04:58] #1702 closed

[2018-11-13 05:00] sagar-solana commented on #1789
I have a pretty broken local testnet but I was able to possibly spot one part of this problem.

With https://github.com/solana-labs/solana/pull/1759 it seems like bench-tps is unable to validate any transfers beyond the first. Currently working on reverting it.

Here's how to repro -
[code]
The output from client.sh(bench-tps, really) eventually loops forever with "no signature" messages.

[code]

[2018-11-13 06:06] mvines opened #1800 "snap: enable strict confinement"
It would be nice to enable strict confinement so the Solana stable snap can be published to the snapcraft store.   Right now this isn't possible because of the ancillary daemons in the snap, daemon-oom-monitor and daemon-net-stats, that require unusual information (/var/log, /proc) that a normal snap can't access.  Perhaps there's a snap plug we can enable?

[2018-11-13 06:34] #1789 closed

[2018-11-13 15:27] garious opened #1801 "Unused bits in transaction"
#### Problem

We're using 8 bytes to represent the length of each of Transaction/Instruction's many vectors. That's likely 7 bytes of used space per vector since the transaction is sent over UDP (64k), the length of those vectors are unlikely to require more than 8-bits and almost certainly won't need more than 16 bits. Since our theoretical TPS is bound by transaction size, we should expect a sig

[2018-11-13 19:30] mvines opened #1802 "BPF+LLVM limitation: can't return a C struct by value"
This sample BPF program:
[code]
fails to compile with llvm-7.0:
[code]

Seems like the function foo is unable to return the struct foo by value.

[2018-11-13 19:45] mvines opened #1803 "BPF+LLVM limitation: can't pass a C struct by value to another translation unit"
This sample BPF program:
[code]
fails to compile with llvm-7.0:
[code]
Seems like the function foo from another source file is unable to accept the struct foo by value.

[2018-11-13 19:48] jackcmay commented on #1802
This is a similar error message seen when attempting to compile rust to BPF.

[2018-11-13 20:07] jackcmay commented on #1802
[code]
http://llvm.org/doxygen/BPFISelLowering_8cpp_source.html

[2018-11-13 20:09] jackcmay commented on #1803
[code]
http://llvm.org/doxygen/BPFISelLowering_8cpp_source.html

[2018-11-13 20:20] mvines commented on #1346
capnproto is looking quite promising.  There is:
1. A C backend at https://github.com/mikegarts/c-capnproto-1 which produces quite reasonable looking serde code
2. A JS backend at https://github.com/capnp-js that looks nice

Upon trying to use the C backend in a BPF project I was immediately blocked by the following LLVM+BPF issues: #1396, #1802 and #1803 🤕

Once these are resolved, it should be d

[2018-11-13 20:22] jackcmay opened #1804 "BPF Programs results in invalid relocation with multiple calls to sol_log()"
Simple BPF program:

[code]

Results in:
`LLVM ERROR: Unsupported relocation: try to compile with -O2 or above, or check your static variable usage`

Notes:
- O2 optimiazation level is being used
- Commenting out one of the `sol_log()` calls makes the compiler/linker happy.
- The following program compiles/links fine:

[code]

[2018-11-13 20:34] #1613 closed

[2018-11-13 20:34] jackcmay commented on #1613
BPF ELF symbol linking solved this

[2018-11-13 20:44] mvines opened #1805 "BPF+LLVM: Add support for BPF shared objects"
A single .o is too limiting

[2018-11-13 20:45] mvines opened #1806 "BPF: add a libc"
We need to supply a libc that provides the basic functionally that all C programs depend on, replacing the limited set of libc-like functionality currently found in solana_sdk.h.

Some options:
* https://www.musl-libc.org/
* http://www.sourceware.org/newlib/

Depends-on: #1805

[2018-11-13 20:50] mvines commented on #1346
Here's the capnproto interface definition I was using to uncover the blocking issues:
[code]

[2018-11-13 20:54] mvines opened #1808 "Add BPF JIT support"
Support for JIT to native instructions should improve performance considerably.

[2018-11-13 20:59] jackcmay commented on #1805
I have the changes to support LLVM LD's creation of BPF based .so but they are in a local clone of the LLVM github mirror.  Even if we forked LLVM to hold our changes temporarily expecting our users to build LLVM is probably to cumbersome.  We could provide a binary... @mvines any other ideas?

[2018-11-13 21:02] mvines commented on #1805
Yeah I think for now we simply need to provide LLVM binaries for our main two environments,  macOS and Ubuntu 18.04 (sry WSL...), until the LLVM changes can be upstreamed and released in an official upstream version.   This can take the form initially as a tarball attached to a github release in our fork of the LLVM github mirror.

[2018-11-13 21:04] mvines commented on #1805
Actually better: let's just provide a docker image containing our forked LLVM.  That'll work everywhere.
@jackcmay -- if you get the solana LLVM fork operational I'm happy to do the docker plumbing and hookup with bpf.mk

[2018-11-13 21:14] mvines commented on #1359
To achieve this, looks like we'll need to augment `native_loader::process_instruction()`, as well as the native program entrypoints with another argument containing "extra info" for instructions, such as `bank. tick_height()`, to avoid a backwards dependency from the loaders into the bank

[2018-11-13 23:49] jackcmay commented on #1805
Steps to sync and build the Solana LLVM forks:
[code]
To rebuild lld
[code]

I haven't submitted my lld changes there yet, still need to complete my modifications to rbpf/solana to use the ELF shared objects (rather then .o's)

[2018-11-13 23:50] jackcmay commented on #1805
@mvines For the docker work, want to teach me to fish?

[2018-11-14 01:11] jackcmay opened #1811 "test_rpc_new fails locally, ignoring for now"
#### Problem
most of rpc.rs's tests appear to be integration tests, and partly disabled because of interaction with others, which leaves the module without important unit tests

#### Proposed Solution
possible to trivially move the addresses off hard-coded ports, but probably better to refactor rpc.rs to isolate I/O.

[2018-11-14 01:13] jackcmay opened #1812 "test_replicate fails locally, ignore for now"
#### Problem

#### Proposed Solution

[2018-11-14 01:14] mvines commented on #1805
Sure!  So we want something that looks like the shellcheck docker image that we use [here](https://github.com/solana-labs/solana/blob/master/ci/shellcheck.sh#L16).   This is a multi-stage Dockerfile, https://github.com/koalaman/shellcheck/blob/master/Dockerfile, that builds shellcheck in one image, then copies the resulting binary to a second image to keep the overall size down.

Also get familiar

[2018-11-14 16:43] mvines opened #1815 "Employ tick_height in tic-tac-toe demo app"
tic-tac-toe can use tick_height in two ways:
* remove the use of wallclock in keep alive messages (and thus avoiding the need for both players to have close to the same NTP time)
* enable the dashboard to properly order the list of previously played games

cc: #1813

[2018-11-14 18:29] rob-solana commented on #1745
Sagar, can you please add tests on top of #1746?

[2018-11-14 18:33] #1359 closed

[2018-11-14 20:13] garious opened #1818 "Migrating to ed25519-dalek causes TPS regression"
#### Problem

* Migrating to ed25519-dalek caused bench-tps to fail with "no signature" messages, indicating signature verification probably failed.

https://github.com/solana-labs/solana/issues/1789

#### Proposed Solution

Revert the reverted PR and debug

[2018-11-14 21:00] mvines opened #1819 "JSON RPC airdrops are broken"
This fails with "Internal error":
[code]
but this doesn't:
[code]

`solana-wallet` doesn't use the RPC API to make an airdrop request and instead goes directly to the drone, so that's one difference.

Suspected root cause is f683817b48167d403dfe5ce779793ba413d9ce88, where the thin_client now uses the JSON RPC API to fetch a last_id or check a signature.

Blocks: https://github.com/solana-labs/sola

[2018-11-14 21:04] mvines commented on #1819
In the failure case, https://github.com/solana-labs/solana/blob/master/src/thin_client.rs#L235 blocks until the 10 second read timeout at https://github.com/solana-labs/solana/blob/master/src/wallet.rs#L672 expires, at which point the airdrop signature is found and successfully returned.  But by that time, an "internal error" is already reported to `curl`

[2018-11-14 21:17] mvines commented on #1819
I'm tempted to just move the drone in the direction of #1754 instead of debugging this loop.  In the world of #1754, the drone's requestAirdrop API just returns a pre-signed transaction back to the caller, and the caller is then responsible for submitting it to the cluster and babysitting the response.

[2018-11-14 23:29] CriesofCarrots commented on #1819
I looked at this a bit. I was able to reproduce the error only intermittently. Were you able to make it fail every time, @mvines ?
I tried setting a timeout on the rpc_request client in hopes it might help kick out of the stall, but did not seem to have an effect.

[2018-11-14 23:46] mvines commented on #1819
On edge.testnet.solana.com it’s intermittent for me.  But with a local drone+leader it’s a consistent fail.  I’m going to overhaul the drone interface to avoid this entirely: the client will pass in their pubkey, desired token amount, and a last_id then the drone will create, sign and return a system move transaction for the caller to submit.

[2018-11-15 03:51] jackcmay commented on #1808
Measurements indicate from 175 MIPS as interpreted to 1870 MIP JITT'd

[2018-11-15 04:38] mvines opened #1823 "SDK: Support multiple signatures for transactions"
Once #1782 lands, expose in the SDK

[2018-11-15 04:42] mvines commented on #402
This is done

[2018-11-15 04:42] #402 closed

[2018-11-15 07:17] sagar-solana commented on #1745
Oops just saw this. I'll add tests.

[2018-11-15 21:12] rob-solana opened #1826 "ci/test-stable.sh rebuilding in an untouched tree"
#### Problem
as of c81a3f6ced1125030bf895bf213e7978b4abeb4e
local tree checks take too long because ci/test-stable.sh is rebuilding way too much.

suspicion is bpf_c expressed as a feature only some of the time

#### Proposed Solution
bisect issues with changes to test-stable.sh, bpf_c, programs, to identify issue, perhaps decompose solana

[2018-11-15 21:14] rob-solana commented on #1826
thx

[2018-11-15 21:15] sakridge opened #1827 "Programs should use signed_key() to get the signed key instead of fixed offsets"
#### Problem

Tokens should only be able to be deduced from a key which is signed in a transaction.

#### Proposed Solution

Update programs to use signed_key() interface instead of fixed offsets

[2018-11-15 21:50] mvines opened #1830 "SDK: remove requestAirdrop from the JSON RPC API"
The JSON `requestAirdrop` API is really just a thin wrapper around a drone, and makes unfortunate assumptions about where the drone is running and it's port.  With #1754 and the potential for many drones running around, we should fully decouple the drone from the RPC API and make the users fully aware of the drone they decide to use.

Note that the drone itself may choose to implement something th

[2018-11-15 21:57] mvines opened #1831 "Boot drone from src/"
With a pinch of shuffling, it should be possible to move the drone out of src/ into it's own drone/ crate, depending only on the sdk/.

[2018-11-15 22:11] rob-solana commented on #1826
I've de-featurized bpf_c (i.e. just made it the default, period) but am still getting rebuilds of all of solana's crates for every issuance of "cargo ...".  the issue appears to be that cargo can't tell whether solana_bpf_loader needs to be rebuilt, and so always rebuilds it, triggering rebuilds of all of its dependencies

[2018-11-15 22:31] mvines opened #1832 "Remove airdrop from bin/fullnode"
It’s a weird dependency that the fullnode itself attempts an airdrop, one that will never work on main net.  Instead we should be able to use the wallet to airdrop some tokens to the leader/validator in bashland so that when the fullnode boots it already has tokens, which sets us up nicely for when the drone is no longer around.

[2018-11-15 23:09] garious opened #1834 "Rename tokens to lamports"
#### Problem

Term token is currently used for a fractional "sol", which is also called the "native token".  Confusing.

#### Proposed Solution

- [x] Purge use of LAMPORT as an acronym. It should be referred to simply as the Solana runtime
- [x] Rename `tokens` parameters to `lamports`
- [x] Purge ERC20 qualifications. They are "tokens" - fungible is implied. `sols` are "native tokens". non-fungi

[2018-11-16 01:13] #1819 closed

[2018-11-16 01:57] sagar-solana opened #1838 "Packet and Streamer errors when running validators or bench-tps"
#### Problem
It appears that https://github.com/solana-labs/solana/pull/1546 has introduced a bug where running local testnet, the following warnings flood the logs with the following messages. The logs are not benign.
[code]

#### Proposed Solution

[2018-11-16 02:05] sagar-solana opened #1840 "Transactions don't seem to be working"
#### Problem

Transactions are no longer being recorded correctly after https://github.com/solana-labs/solana/pull/1782 was merged .

Running bench-tps is unable to confirm any token transfers (one of the first things it does).
The following output from bench-tps occurs only when multiple signature support for transactions is added.
[code]

Note- Another change has broken something else as well an

[2018-11-16 21:42] mvines opened #1845 "Clippy gone wild"
Did we pick up a new version of clippy somehow?  All test-stable CI is currently red on a spew of `error[E0658]: scoped lint clippy::doc_markdown is experimental (see issue #44690)` clippy lints.

Revert d4e252d7504f179c74ed2a426149f12deb8e2b03 once this issue is debugged and clippy is back to normal

[2018-11-16 21:47] garious commented on #1845
1.30.1 is still the latest and to my knowledge, we only see upgraded plugins when the compiler is upgraded.

[2018-11-17 04:42] #1831 closed

[2018-11-17 15:56] aeyakovenko opened #1854 "ContactInfo is one giant structure for all the services"
#### Problem
ContactInfo in https://github.com/solana-labs/solana/blob/master/src/contact_info.rs is one giant structure for all the possible services, which may not all be operational for different kinds of nodes.  Right now we work around this problem by setting the address of the invalid services to 0.

#### Proposed Solution

1. Break up https://github.com/solana-labs/solana/blob/master/src/cr

[2018-11-17 15:58] aeyakovenko commented on #1619
closed in #1546

[2018-11-17 15:58] #1619 closed

[2018-11-17 16:12] aeyakovenko opened #1855 "Gossip messages are not signed"
#### Problem
Gossip lacks signature verification for messages, which means data can be spoofed.

#### Proposed Solution

Follow the design pattern for the sigverify stage.  It might be possible to fit all the values as Transaction userdata. and just use it directly.

Alternative is to build something that looks like the signing portion of the transactions inside the CrdsValue enum:

https://github

[2018-11-17 18:33] mvines commented on #1845
v0.10 was afflicted by this too.  From https://hub.docker.com/r/solanalabs/rust/tags/ I see that the 1.30.1 docker image was updated a couple days ago.  We probably picked up a new clippy-preview (cc: https://github.com/solana-labs/solana/blob/master/ci/docker-rust/Dockerfile#L24)

[2018-11-17 20:55] sakridge commented on #1854
@aeyakovenko Storage is the interface that replicators would provide. For example something like I have 'xxx' signature, give me the transaction that it corresponds to in your data set. Or whatever interfaces we need for something like the block explorer.

[2018-11-17 23:18] mvines commented on #1845
encoding_rs v0.8.11 appears to have been the culprit, fortunately encoding_rs v0.8.12 is now available

https://github.com/hsivonen/encoding_rs/releases

[2018-11-17 23:25] garious commented on #1845
About time we check Cargo.lock files into release branches?

[2018-11-17 23:26] mvines commented on #1845
Yeah, master too.  Getting broken like this sucks

[2018-11-17 23:30] garious commented on #1845
Sure, we can see how that plays out. I worry that'll be overconstraining for any downstream dependencies.

[2018-11-17 23:36] mvines commented on #1845
How about removing Cargo.lock before publishing to crates.io.  This way we don't get random bustage and downsteam users don't get boxed in

[2018-11-17 23:40] garious commented on #1845
I like it!

[2018-11-17 23:48] mvines commented on #1845
Oh well look at that.  `cargo package` strips a Cargo.lock file already.  ❤️

[2018-11-17 23:54] #1845 closed

[2018-11-18 00:15] mvines commented on #701
I'm pretty happy with `RELEASE.md`, a little bit of manual documented steps but nbd.  All the error-prone stuff is now automated

[2018-11-18 00:15] #701 closed

[2018-11-18 00:20] aeyakovenko opened #1861 "Gossip not using stake weights when selecting peers"
#### Problem
Both push and pull overlays pick peers at random.  Which is susceptible to sybil attacks.

#### Proposed Solution

Weight for random selection should be:  (time since last picked) * (stake weight)

tag: @sagar-solana @rob-solana

[2018-11-18 00:41] mvines commented on #1208
No longer an issue

[2018-11-18 00:41] #1208 closed

[2018-11-18 01:19] mvines opened #1864 "Employ program_id in tic-tac-toe demo dashboard to validate games"
When the tic-tac-toe demo dashboard processes a Command_UpdateDashboard command, it does not validate that the provided game account belongs to it.

However as of #1863 we now have the facility to do this.  The dashboard program should check that the `program_id` provided to its entrypoint match both the owner of the dashboard and game accounts

[2018-11-18 03:42] #1544 closed

[2018-11-18 03:57] #1838 closed

[2018-11-18 16:57] mvines commented on #1495
NB: the list of keys that signed the Transaction should also be surfaced

[2018-11-18 17:04] garious commented on #1495
Why?

[2018-11-18 19:44] sagar-solana commented on #1745
@rajgokal, why'd you reopen this?

[2018-11-18 19:47] #1781 closed

[2018-11-18 19:47] #1745 closed

[2018-11-18 21:12] garious commented on #1801
Given a transaction with only a `SystemInstruction::Move`, this optimization would drop the transaction size by 42 bytes (6 vecs * 7 bytes). Given transaction sizes packet sizes 277 to 540 bytes, I'd estimate a TPS boost between 8% and 18%.

[2018-11-18 23:55] #1823 closed

[2018-11-19 00:19] mvines commented on #1864
Done, 1 liner

[2018-11-19 18:18] aeyakovenko opened #1867 "Thin clients can't verify finality of transactions"
#### Problem

A client that can't do PoH verification would not be able to verify that transactions are on the same branch as votes that guarantee finality for those transactions.

#### Proposed Solution

Clients can verify that the votes are at least voting in unison on the same LastId, without proving that the LastIds connect.

1. Each vote should contain a deterministic hash of the votes presen

[2018-11-19 20:53] garious opened #1870 "Can't register as a light client"
#### Problem

A node can join the network as a validator or a replicator, but not as some entity that only receives a proof of history (entries with no transactions) or a proof of finality (votes).

#### Proposed Solution

Allow nodes to subscribe to different types of proofs. A validator implies "all proofs". A light client implies the entries with no transactions, but a transactions hash instead

[2018-11-19 20:58] garious opened #1871 "No description of a light client"
#### Problem

Clients shouldn't need to trust the cluster, as thin clients do, but they are unlikely to distrust it so much as to require full ledger validation. Currently they are forced to pick one or the other and currently they all chose the thin client.

#### Proposed Solution

Write an RFC that describes a light client. It should describe the various proofs the ledger provides, and what comb

[2018-11-19 20:59] garious commented on #1871
@aeyakovenko, @pgarg66, this seems like a dependency of a secure staking client.

[2018-11-20 17:22] jackcmay opened #1878 "Cargo rebuilds when going between root and workspace members"
#### Problem

CI rebuilds when switching between the root and workspace members.

A minimal recreation is here:
https://github.com/jackcmay/sandbox_rust_rebuilds/blob/master/README.md

Filed a rust issue here:
`https://github.com/rust-lang/cargo/issues/6337`

#### Proposed Solution

Fixed in beta 1.31 via https://github.com/rust-lang/cargo/pull/6170

[2018-11-20 17:23] #1878 closed, assigned to jackcmay

[2018-11-20 17:29] jackcmay commented on #1878
Beta comes out early December

[2018-11-20 19:53] sakridge commented on #492
Haven't seen this in a while.

[2018-11-20 19:53] #492 closed

[2018-11-20 23:07] garious opened #1879 "No design of a node that can support a block explorer"
#### Problem

JSON RPC API isn't sufficient for a block explorer. A service needs to observe the gossip network and sit in the same spot as a validator to receive all the transactions in real-time.

#### Proposed Solution

Add an RFC that describes a new command-line tool solana-httpd, a spy node and web server.

[2018-11-21 18:01] jackcmay commented on #1826
Looks like rebuilding is fixed in rust beta 1.31 due early
January.

I did see that CI was taking much longer (10 vs 2 mins) to build with beta in docker even though locally beta took the same time.

[2018-11-21 18:10] jackcmay opened #1881 "CI unstable test: test_leader_validator_basic"
#### Problem

#### Proposed Solution

[2018-11-21 23:50] aeyakovenko opened #1884 "Create RFC for programs to reduce their in memory usage"
#### Problem
Result of discussion in #1868

Programs that store state on chain take up RAM in solana.  This RAM is fully replicated through all the validators that are validating the ledger.  Because it is fully replicated, it is expensive.  We need a design for reducing the cost of storing the state in RAM.

#### Challenges
The Account userdata that is owned by the program memory can't change unl

[2018-11-22 00:06] garious commented on #1884
I wonder if it'd be sufficient to simply move userdata into a different data structure in the bank, so that the validator can swap it to disk.

[2018-11-22 00:46] aeyakovenko commented on #1884
@garious A local disk swap is still just fully replicated state.  Should we call it FRS instead of RAM?

[2018-11-22 03:09] rob-solana opened #1887 "local testnet demo fails if bench-tps is built in release mode"
#### Problem
bench-tps stalls out at the initial token distribution phase when built in release mode

#### Proposed Solution
??

#### STR
[code]
Eventually, the client will stall, emit an error similar to:
[code]
Running everything in debug mode works fine.  Running the client in debug mode and the network in release mode works fine.

[2018-11-23 13:55] mvines commented on #1879
It would be nice to consider debugger requirements in this RFC as well, the requirements should be very similar to the block explorer.  But if that balloons the scope of this issue too much then feel free to 302.

For the debugger we need the ability to do the following in some form:
1. Fetch the current poh height
2. Fetch the contents of an account at the given poh height
3. Fetch the contents o

[2018-11-23 14:18] mvines commented on #1495
Oh because a program instruction would like to know what keys signed it, as well as who signed the instructions that came before and after it in the single atomic Transaction.

[2018-11-23 14:33] mvines commented on #1815
https://github.com/solana-labs/example-tictactoe/commit/ae874e9b3330bc58996bee9d457ed21fd5bf9fe0

[2018-11-23 14:33] #1815 closed

[2018-11-23 14:37] mvines commented on #1564
@jackcmay - I think it would be nice to create separate issues for the renaming two items here because BPF loader hardening and inter-contract signaling could have pretty different timelines, then close this one as done.

[2018-11-23 15:01] mvines commented on #1453
* http://docs.grafana.org/http_api/dashboard/
* http://docs.grafana.org/http_api/auth/
* https://github.com/m110/grafcli

[2018-11-23 15:49] mvines commented on #1453
Default grafcli doesn't work with Graphana 5 (cc: https://github.com/m110/grafcli/issues/24).  The `experimental-v5` branch of grafcli works but it wants to write into `/etc`.  How about no.   I forked and patched that: https://github.com/mvines/grafcli/commit/376fb7229b932b94eeb53b4d486f0aa997479dc1

[2018-11-23 16:00] mvines commented on #1453
cc: https://github.com/m110/grafcli/pull/26

[2018-11-23 23:46] rob-solana commented on #1887
first indication of a failure is often in leader.log:
[code]
with enhanced logging in system_program.rs it appears that the source account has (in various failures) 1, 2, or 3 tokens, haven't seen more than that

[2018-11-24 12:35] carllin opened #1899 "Transition BroadcastStage to use RocksDb"
#### Problem
Currently BroadcastStage still uses the old window/erasure generation. This means

1) During leader rotation, leader->validator transitions will break because items inserted into the current broadcast window won't be in the RocksDb database

2) Blobs broadcasted don't have a real "slot height", which is needed for identifying leader periods.

#### Proposed Solution
In order to support

[2018-11-24 16:31] mvines opened #1901 "Suggest a unittest framework for BPF C/C++ programs"
There was recently a silly logic [bug](https://github.com/solana-labs/example-tictactoe/commit/a9518932f324d9b6244caabce289eca2315b9ba7) in the C version of tic-tac-toe, which is no surprise since that version of the tic-tac-toe program has no unit tests.  The Rust version did not have this bug and even had a [test](https://github.com/solana-labs/example-tictactoe/blob/ae874e9b3330bc58996bee9d457e

[2018-11-26 00:10] #1453 closed

[2018-11-26 05:04] mvines commented on #1901
I’m test driving https://github.com/Snaipe/Criterion now, seems pretty decent and has minimal opinions.

[2018-11-26 15:20] #1528 closed

[2018-11-26 17:39] jackcmay opened #1913 "Harden BPF loader"
Security review should be performed on the BPF loader and runtime environment

[2018-11-26 17:44] jackcmay commented on #1564
Breaking two items from this list out:
* "Harden the BPF loader" being tracked by https://github.com/solana-labs/solana/issues/1913
* "Add support to the loader for inter-contract signaling" being tracked by https://github.com/solana-labs/solana/issues/1348

[2018-11-26 17:45] #1564 closed

[2018-11-26 20:52] aeyakovenko commented on #1551
@garious @jackcmay i think spawn is the only culprint
[code]

[2018-11-27 05:05] aeyakovenko opened #1924 "RFCs 0002-consensus.md and 0004-leader_rotation.md are a confusing"
#### Problem
The two RFCs are confusing, incomplete and overlap in information.

#### Proposed Solution

* RFC 0002-branch_generation.md
This should cover how a leader starts generating a new branch, transmits virtual ticks, how a validator collects the branches and votes.

* RFC 0004-leader-rotation.md
This should cover how leaders are picked, how they are rotated, and what state is kept in the b

[2018-11-27 07:06] mvines opened #1926 "CI unstable test: banking_stage::tests::test_banking_stage_entryfication"
This test has been observed to fail twice today.  Eg:
https://buildkite.com/solana-labs/solana/builds/5429#a9cbf8af-bbea-4b1b-9cfd-70b7900baa7f

[2018-11-27 07:08] garious opened #1927 "Mutable unsigned accounts passed to programs"
#### Problem

Accounts referenced by unsigned keys and executable accounts are passed into programs using the same data structure as accounts referenced by signed keys. They are therefore mutable, which requires them to be cloned before being passed to programs. That'll be really slow for large accounts, such as executable accounts.

#### Proposed Solution

Pass programs immutable references to ex

[2018-11-27 15:02] garious opened #1928 "Runtime depends on legacy programs"
#### Problem

Runtime can't be moved to the SDK without pulling the "legacy" programs along with it.

#### Proposed Solution

Make `execute_transaction()` a method of a new `Runtime` object so that it can host legacy programs in a state variable. Add a `register_legacy_program()` method and use it from the Bank to register the legacy programs.

[2018-11-27 15:02] garious commented on #1928
This is an easy one. I'll implement it tomorrow if nobody beats me to it.

[2018-11-27 15:17] garious commented on #1928
Alternatively, turn the legacy programs into proper Account-based, native programs.

[2018-11-27 20:31] mvines opened #1930 "runtime: Incorrect token summation for Instructions with duplicate accounts"
When runtime.rs checks for an UnbalancedInstruction, it `.sums()` the tokens for all instruction accounts without consideration for duplicate accounts.  eg,
[code]

If an Instruction references the same account multiple times (example-tictactoe did this) then the resulting `.sum()` may be incorrect and result in an unwarranted UnbalancedInstruction error.  Arguably the Instruction should not dupli

[2018-11-27 21:22] pgarg66 opened #1931 "Accounts with 0 balance retain state in checkpoint'ed bank"
#### Problem
Checkpoint'ed bank doesn't drop the account when the balance reaches 0. It updates the balance to 0, and retains the account. However, it also retains the program assignments and userdata for the account, consuming RAM and resources.

#### Proposed Solution
When the balance drop to 0, replace the account with Account::default()

[2018-11-27 22:17] #1931 closed

[2018-11-27 22:33] aeyakovenko commented on #1924
@rob-solana i am working on a PR for this

[2018-11-27 23:58] mvines opened #1934 "CI unstable test: rpc::tests::test_rpc_send_tx"

[2018-11-27 23:58] mvines commented on #1934
https://buildkite.com/solana-labs/solana/builds/5437#cf4158e4-072a-48b9-bc56-15662a6ac2b9

[2018-11-28 00:44] pgarg66 opened #1935 "RFC for rendezvous of vote signing service with a validator node"
#### Problem

Vote signing service is undocumented.

#### Proposed Solution

Define protocol between the vote signing service and a validator node. It should include startup sequence, runtime sequence and protocol message definitions.

[2018-11-28 01:37] mvines commented on #1934
https://buildkite.com/solana-labs/solana/builds/5438#41919cc4-d4d3-45c3-891b-0f14b1d202b4

[2018-11-28 02:08] mvines commented on #1598
I just ran into this again, gonna need to fix this sooner than later

[2018-11-28 05:43] rob-solana commented on #1887
more tracing of what's going on shows that the bench-tps "funding" phase has a tendency to spiral into "all fail", and thus an infinite loop of retries, which means that we never transition to the "work" phase, nor do we ever exit (no funding phase timeout)

[2018-11-28 05:44] rob-solana commented on #1887
release mode looks to have been a red herring

[2018-11-28 06:45] #1887 closed

[2018-11-28 07:59] rob-solana opened #1941 "Yeah, you're right. Only remaining problem I see is no check that key 0 is signed."
_Originally posted by @garious in https://github.com/solana-labs/solana/pull/1916#issuecomment-442287643_

[2018-11-28 15:08] mvines commented on #1827
https://github.com/solana-labs/solana/pull/1942 addresses this issue for system, budget is also addressed.  The remaining programs all need auditing/fixing still

[2018-11-28 15:56] #1941 closed

[2018-11-28 18:29] jackcmay opened #1944 "CI unstable test: wallet::tests::test_wallet_request_airdrop"
#### Problem

#### Proposed Solution

[2018-11-28 19:29] mvines commented on #1598
👢 back to The Future for now.   When this comes up again let's ensure that #1801 is fixed before considering an increase

[2018-11-28 21:41] mvines commented on #1934
https://buildkite.com/solana-labs/solana/builds/5458#b802c20b-9110-439e-a984-66cb9e8a4972

[2018-11-28 21:49] mvines commented on #1944
https://buildkite.com/solana-labs/solana/builds/5461#3a9a9a4b-bc51-4c49-a66d-192a653e9db5

[2018-11-28 22:20] #1935 closed

[2018-11-28 22:24] pgarg66 opened #1948 "New JSON RPC based vote signing service"
Need a new vote signing service that exports a JSON RPC endpoint

Reference: https://github.com/solana-labs/solana/blob/master/rfcs/0009-enclave.md

[2018-11-28 22:26] pgarg66 opened #1949 "JSON RPC API for vote signing service"
Code and test JSON RPC APIs that a validator can use to access vote signing service.

Reference: https://github.com/solana-labs/solana/blob/master/rfcs/0009-enclave.md

[2018-11-28 22:28] pgarg66 opened #1950 "Validator registration request processing in vote signing service"
Code and tests for validator registration request processing in vote signing service.

Reference: https://github.com/solana-labs/solana/blob/master/rfcs/0009-enclave.md

[2018-11-28 23:39] sagar-solana opened #1952 "Gossip prune messages are subject to replay attacks"
#### Problem
Prune messages in Gossip are subject to reply attacks since they have no signature and origin/destination verification.

#### Proposed Solution
Prune messages should be signed and should only be processed if the node that received the message is the intended destination for it.

[2018-11-28 23:57] mvines commented on #1786
Done, see https://github.com/solana-labs/example-tictactoe/commit/d9faee6118489f50e28c71703e85b09682c3e680

The player funding works as follows:
1.  The player passes their public key to the dashboard server
2. Dashboard server constructs a transaction that atomically (a) assigns the player's account to the tic-tac-toe program, and (b) transfers 1 token to the player's account.    Dashboard server

[2018-11-28 23:57] #1786 closed

[2018-11-29 00:13] mvines commented on #1530
I realized that right now a program can be "upgraded"/"replaced" by allowing it to self-destruct by forcing the program account's tokens to `0`, and then re-loading a new program into the account.  Still thinking about whether this is something nice or not.

But in either case, this kind of "upgrade" wouldn't be atomic and program users would see transaction failures during this time (and at the m

[2018-11-29 01:17] mvines commented on #1934
https://buildkite.com/solana-labs/solana/builds/5474#e137ccdf-9093-454c-bc34-99b0fd7a1307

[2018-11-29 03:15] mvines commented on #1827
The remainder of this issue is now blocked until signed keys are surfaced through `sdk/`

[2018-11-29 04:16] mvines commented on #1551
Fixed by #1916

[2018-11-29 04:16] #1551 closed

[2018-11-29 17:03] garious commented on #1924
@aeyakovenko, I'm somewhat blocked by this. Is your PR coming this week?

[2018-11-29 18:58] mvines commented on #1944
https://buildkite.com/solana-labs/solana/builds/5488#9bf971d9-0122-4384-9d97-66bfb3be90ca

[2018-11-29 19:10] rob-solana opened #1959 "Reinstate multi-threaded tests, remove --test-threads=1 from runs of "cargo test --lib" in the CI scripts"
#### Problem
solana unit tests do not co-exist well in a multi-threaded environment, as a result, they have to run serially, which is slow.
Socket addresses, http servers, http keep-alive clients seem to be the main sticking point

#### Proposed Solution
root out MT issues and turn --test-threads=1 off in CI

[2018-11-29 23:25] rob-solana commented on #1474
all of the code is in place for generating ticks at a specific hash count except for a network hyper-parameter config for it and the default of turning it on

[2018-11-29 23:32] #1944 closed

[2018-11-29 23:38] rob-solana commented on #1571
#1717

[2018-11-29 23:38] #1571 closed

[2018-11-29 23:42] rob-solana commented on #1717
@carllin working on this in the form of db_ledger on rocksdb

cc #1888 #1900 #1885 #1875 #1851 #1792 #1712

[2018-11-29 23:48] rob-solana commented on #1431
this rolls into #1717, is essentially a duplicate, so closing here

[2018-11-29 23:48] #1431 closed

[2018-11-29 23:50] rob-solana commented on #1247
this "uber" issue is not serving its intended purpose.  overall tracking for the work is here instead:
https://github.com/solana-labs/solana/projects/4

or in RFCs describing consensus, voting, and the ledger

[2018-11-29 23:50] #1247 closed

[2018-11-30 00:05] rob-solana opened #1969 "bank to export votes and vote data necessary to pick branches"
current prev_id, tick_height (probably does already)
vote stack, for each vote:
 *lockout
 *prev_id
 *tick_height?

[2018-11-30 00:07] rob-solana commented on #1475
a PoH service instance should always be running, as an object that's part of the most recent vote's state

[2018-11-30 00:10] mvines commented on #1928
*yonk*

[2018-11-30 00:14] rob-solana commented on #1433
obsoleted by #1717

[2018-11-30 00:14] #1433 closed

[2018-11-30 17:20] mvines commented on #1827
ttt updated here: https://github.com/solana-labs/example-tictactoe/commit/2b90dc430038b6a934036c16082cc46f968edb99

We're done here!

[2018-11-30 17:20] #1827 closed

[2018-11-30 19:55] jackcmay commented on #1826
Closing this issue, not able to recreate the longer builds outside of CI, we'll deal with 1.31 when it comes out.

[2018-11-30 19:55] #1826 closed

[2018-11-30 20:51] #1924 closed

[2018-11-30 23:07] #1948 closed

[2018-11-30 23:15] pgarg66 opened #1975 "Validator vote sign request processing"
Process validator's new vote signing request.

- The request contains voting transaction, and all verification data (as described in Ancestor Verification)
- The request is signed with validator's private key
- The service will drop the request if signature of the request cannot be verified
- The service will verify the voting data
- The service will return a signed transaction (or signature for t

[2018-12-01 20:00] #1855 closed

[2018-12-02 14:57] aeyakovenko opened #1982 "Blockhash in transactions makes cross chain atomic swaps unreliable"
#### Problem

The blockhash in transactions makes cross-chain atomic swaps unreliable. The Solana half of the swap is valid for a short time. While the external chain transaction is replayable until it’s committed.

#### Proposed Solution

Make the blockhash optional in transactions. These transactions would fully spend an account since they are replayable.

[2018-12-02 15:51] aeyakovenko opened #1983 "ASIC attack vectors with fork generation algorithm"
#### Problem

A much faster virtual ledger generator could outrun several leaders prior to its slot.

In itself it is not a problem, and following forks generated with slower nodes could be appended to the faster one without problems. The following problems arise:

* Validation message censorship
This would prevent certain validators from earning a reward.

* General transaction censorship
The lea

[2018-12-02 20:14] mvines opened #1985 "bpf-sdk DOCKER=1 builds fail"
STR:
[code]

Given that we now have native Linux and macOS clang binaries one possible solution would be to just retire the docker build environment.

[2018-12-03 05:11] #1985 closed

[2018-12-03 15:39] aeyakovenko opened #1990 "Slot rotation vs Vote period"
#### Problem

The RFCs conflate slot rotation and voting period.  It makes sense to schedule a single leader for multiple voting periods to amortize the cost of rotation, but to treat each voting period as a rollback point.

#### Proposed Solution

Fix the RFCs.

tag: @rob-solana @carllin

[2018-12-03 20:32] aeyakovenko commented on #1091
Fixed in 0.10

[2018-12-03 20:32] #1091 closed

[2018-12-03 20:40] mvines opened #1993 "Expand program instruction return codes from bool to u32/u64"
#### Problem
Program Instructions don't have a way to report useful error codes when something goes wrong with the inputs into an Instruction, they can only report pass/fail.

#### Proposed Solution
Expand ProgramError to include a `UserDefinedError<u32>` enum item, then expose in the `getSignatureStatus` JSON RPC API.

[2018-12-03 20:43] mvines opened #1994 "Expose more ProgramError enum items in the getSignatureStatus JSON RPC API"
#### Problem
bank.rs current maps all `ProgramError` to a single error code resulting in information loss in the getSignatureStatus JSON RPC API.
[code]
#### Proposed Solution
Expand out all the `ProgramError` enum items into individual JSON RPC error codes

[2018-12-03 20:43] mvines commented on #1994
cc: #1993

[2018-12-03 20:45] rob-solana commented on #1990
Would like to nail down terminology to use to make distinct when leaders rotate and when validators vote.

Should a slot be some multiple of voting periods, or should the length of a leader slot, as expressed in voting periods, be something random?

Making distinct slots and periods also means that not every vote requires a checkpoint, because no fork can arise in the middle of a leader's broadcas

[2018-12-03 20:50] aeyakovenko commented on #1990
@rob-solana
* slot, rollback point
* fortnight, multiple slots that a is leader consecutive

[2018-12-03 20:50] rob-solana commented on #1990
checkpoints are relatively expensive (currently a deep copy() of last_ids)... without making a checkpoint, the next vote can't contain a hash of state updates for the voting period....

[2018-12-03 20:51] rob-solana commented on #1990
I suppose the bank could checkpoint the accounts delta separately for each vote, and only checkpoint last_ids at rollback points...

[2018-12-03 20:53] rob-solana commented on #1990
is the length of a fortnight a network hyper parameter or stake-based?

[2018-12-03 21:08] rob-solana commented on #1990
slot's a terrible name for a voting period...

[2018-12-03 21:12] aeyakovenko commented on #1990
@rob-solana, voting needs to be fast for fast confirmations. We can make the deep copy cheaper

[2018-12-03 21:15] aeyakovenko commented on #1990
Fortnight is just the placeholder name for a chunk of time to be defined later

[2018-12-03 21:19] rob-solana commented on #1990
how about "turn"?

[2018-12-03 22:10] pgarg66 opened #1997 "Implement OpenEnclave based vote signing code"
#### Problem
Azure platform supports OpenEnclave natively. Need a variation of signing service code that can be compiled with Open Enclave SDK

[2018-12-03 22:12] pgarg66 opened #1998 "Integrate TowerBFT code to vote signing enclave"
#### Problem
TowerBFT code implements branch selection algorithm.

#### Proposed Solution

Pull it into vote signing enclave.

[2018-12-03 22:16] pgarg66 opened #1999 "Implement remote attestation for vote signing enclave"
#### Problem
Add provisions to use Intel's IAS APIs to perform remote attestation of signing enclave.

[2018-12-03 22:17] pgarg66 opened #2000 "Integrate fullnode code with vote signing service"
#### Problem
Update fullnode/validator code to call into vote signing service to sign voting transactions.

[2018-12-04 00:34] garious commented on #1990
How about replacing the term *voting period* with *block interval*?

[2018-12-04 05:36] mvines commented on #1993
#2003 makes progress here for native programs by turning the `bool` into `ProgramError`, but there's still no facility for a program to return a custom error code that is not defined by sdk/

[2018-12-04 05:44] mvines opened #2004 "Prototype a BPF implementation of the system program"
As of #2003, the system program is a dynamic program like all the rest.  But it's still native.  Let's level up and demonstrate that the BPF loader can also be used to implement the system program.

Beyond a neat little hack, this will enable us to run some interesting benchmarks comparing TPS between the native system program, an interpreted bpf system program, and a jitted bpf system program.

[2018-12-04 15:37] garious opened #2005 "Passing data between instructions is clunky and requires tokens"
#### Problem

In #2003, we see the return value of the entrypoint is `Result<(), ProgramError>`. That `()` effectively means that no data is communicated from a successful instruction. To pass data from one instruction to another, one must use an account. It's the Solana equivalent of writing to a file at an agreed upon path in one function and then reading that file from another. That aspect is c

[2018-12-04 17:40] mvines commented on #1530
So I think the “feature” discussed in previous comment should be considered harmful and prohibited.  If the loader of the program can yank and replace it at any time, they essentially have full access to all tokens that have ever been assigned to that program.  This means that whenever an executable account hits zero tokens, that program_id probably should be blacklisted.  Unfortunately this would

[2018-12-04 18:13] garious commented on #1530
I don't think we want executable accounts to live forever. They're probably the ones we *least* want to live forever, since they are very useless one a program's been upgraded. Also, they're likely going to be some of the largest accounts.

[2018-12-04 18:14] garious commented on #1530
I think we can optimize for blacklisted account keys. It's not a route I'm really excited about, but feels least bad at the moment.

[2018-12-04 19:10] #1975 closed

[2018-12-04 19:14] #1950 closed

[2018-12-04 19:19] rob-solana commented on #1432
this should be covered by db_ledger

[2018-12-04 22:23] mvines commented on #1495
#2005 may be an alternative to this issue

[2018-12-04 23:20] pgarg66 opened #2010 "Launch vote signer service as part of testnet"
#### Problem
The vote signer service is a separate daemon. It needs to be started as part of testnet.
Also, the nodes need to be configured with the network address of the signer service.

[2018-12-05 06:03] jackcmay commented on #1805
Fixed: https://github.com/solana-labs/solana/pull/2012

[2018-12-05 06:03] #1805 closed

[2018-12-05 15:51] mvines commented on #1993
Also note that the `ProgramError` from #2003 confusingly contains error codes that can be produced by the runtime.  That should be cleaned up as a part of this issue

[2018-12-05 16:23] garious commented on #1409
Proposed changes:

* Look closely at things with a Program suffix. If it interprets instructions, rename the suffix to Interpreter. If it represents the state that's stored in an account's userdata (and not executable), rename the suffix to State.
* Rename every "program" directory and "*-program" crate to "interpreter".
* Rename every variation of program ID to interpreter ID
* Rename `Transactio

[2018-12-05 17:20] mvines commented on #2004
Turns out we can't have system_program can't be written in BPF yet due to `SystemInstruction::CreateAccount`.  This instruction wants to allocate the account userdata such that it persists once the instruction exits, and we can't do that in BPF right now without a new runtime facility.

[2018-12-05 18:49] #1928 closed

[2018-12-05 18:54] mvines opened #2016 "Adapt net/ for leader rotation"
The net/ scripts currently only support restarting a cluster from genesis.  We need to do better, specifically:
* [ ] The ability to restart a cluster with an existing ledger
* [ ] With leader rotation enabled, sequentially update each node in a running cluster

[2018-12-05 21:48] rob-solana commented on #1990
#1995 binds the word "block" to the thing on which nodes vote (vote period), and leaves "slot" for leader period

[2018-12-05 22:06] #1474 closed

[2018-12-05 22:21] rob-solana opened #2020 "No on-chain cluster configuration"
#### Problem
 over time, network parameters (e.g. hashes per tick) will need to be changed and the changes need to be agreed by stake holders.  no mechanism exists for this today.

#### Proposed Solution
build a parameters program?

[2018-12-05 22:35] #1990 closed

[2018-12-06 01:07] aeyakovenko commented on #1409
@garious a transaction script calls multiple interpreters?

[2018-12-06 01:16] garious commented on #1409
Correct, a script can piece together instructions that are interpreted using different interpreters

[2018-12-06 03:25] garious opened #2026 "Rename NCP to CPG"
#### Problem

The control plane gateway is called the network control plane.

#### Proposed Solution

Rename the network control plane (NCP) to control plane gateway (CPG)

[2018-12-06 06:00] mvines opened #2027 "Extend net/ to support launching a testnet on multiple cloud providers"
net/ currently only supports launching a testnet in a single region of a single cloud provider.  This limits our ability to create very large testnets due to cloud provider quotas.  We’d also like to create testnet consisting of nodes about the globe.

[2018-12-06 06:02] mvines opened #2028 "Add Azure support to net/"
Should just be a matter of writing a cloud provider plugin like the existing AWS and GCP providers

[2018-12-06 15:33] garious commented on #2026
A few more related name changes. I'd like to describe a fullnode has the composition of a 5 primary components: TPU, TVU, RPU, CPG, and DPG, where those are acronyms for the Transaction Processing Unit, Transaction Validation Unit, Request Processing Unit, Control Plane Gateway and Data Plane Gateway respectively.

So I propose the following changes:

* JSON RPC Service -> RPU
* NCP -> CPG
* Broad

[2018-12-06 15:40] garious commented on #2026
@sagar-solana, @rob-solana, thoughts on names here? NCP is a terrible name. If we're going to change it, I'd like to use this as an opportunity to add consistency with other components.

Also, gossip is technically a form of broadcasting. Is there something more precise we can use to describe that data plane gateway? Maybe MulticastService? I'm looking for a word that is clearly *not* gossip or *n

[2018-12-06 15:56] aeyakovenko commented on #2005
@garious not sure this will work for that well outside of rust.  The return value would require an allocation, or be preallocated with space from an account and passed to the program.  If it is the latter, might as well just have the user do that directly as an account parameter.

[2018-12-06 16:08] mvines commented on #1560
I've not seen this in a while, if another occurrence is not reported this week the issue can be closed.

[2018-12-06 16:09] mvines commented on #1926
I've not observed this issue recently, it can be closed if not observed again in a couple days of CI runs.

[2018-12-06 16:09] mvines commented on #1934
I've not observed this issue recently, it can be closed if not observed again in a couple days of CI runs.

[2018-12-06 17:49] pgarg66 commented on #1560
👍

[2018-12-06 19:03] rob-solana commented on #2026
could call it avalanche or whatever the new name is

[2018-12-06 19:04] rob-solana commented on #2026
NCP port could just be renamed to "gossip"

[2018-12-06 19:10] aeyakovenko commented on #2005
@garious I feel like there are two kinds of programing problems here (1. there is only 1 lame joke about programming)
 * operations that can be performed by the client in several transactions that result in the same state transition
*

[2018-12-06 19:54] aeyakovenko commented on #2005
@garious what about the space to actually store the vec?  or is this a pointer to account data that is passed in?

[2018-12-06 20:08] garious commented on #2005
A pointer

[2018-12-06 21:32] aeyakovenko commented on #2005
@garious Cool, that would work! My only concern is with hardware of-load.  I am not sure how those pointer off-sets would be looked up on a GPU.  Maybe BPF can translate those looks up back into an account index.

[2018-12-06 22:48] #2026 closed

[2018-12-06 22:49] sakridge opened #2038 "[storage mining] Validator needs to respond to RPC request for storage last id"
#### Problem

Validator needs to respond to RPC request for storage last id so validators can use it to pick the block to store.

#### Proposed Solution

Add shared storage state to the bank and add RPC interface to query for storage mining last id.

[2018-12-06 22:51] sakridge opened #2040 "[storage mining] Validator needs to respond to RPC request for storage entry_height"
#### Problem

Replicators need to know the max ledger entry_height.

#### Proposed Solution

Validator would respond to this over the RPC interface.

[2018-12-06 22:54] sakridge opened #2041 "[storage mining] Validator needs to look for storage mining poreps and maintain map to pubkeys"
#### Problem

Nodes need to find where the ledger is.

#### Proposed Solution

Validators could store a map based on submitted storage proofs which map ledger entries to respond to an RPC request which takes an entry height and then returns a list of IDs that could be storing it.

[2018-12-06 22:56] sakridge commented on #1269
Closing this for individual issues.

[2018-12-06 22:56] #1269 closed

[2018-12-06 22:57] sakridge commented on #1267
Closing for individual issues.

[2018-12-06 22:57] #1267 closed

[2018-12-06 22:58] garious opened #2042 "RocksDB slows down build and adds system dependencies"
#### Problem

RocksDB slows down build and adds system dependencies

#### Proposed Solution

Add a pure Rust key-value store such as [sled](https://github.com/spacejam/sled). Use that by default. Only build against RocksDB if a feature flag enables it.

[2018-12-06 23:05] sakridge opened #2043 "[storage mining] Replicator needs to query for block and entry_height"
#### Problem

The replicator needs to figure out what block it needs to replicate and what encryption key to use.

#### Proposed Solution

Ask a validator for the storage last id and the entry_height of that id.

[2018-12-06 23:46] sakridge opened #2048 "[storage mining] Validator doesn't pick what storage proofs it will verify"
#### Problem

A validator needs to pick some set of proofs to verify each storage epoch and then submit a ProofValidation transaction which enumerates which proofs are chosen and valid. A single validator probably does not have the capacity to verify the full set of storage proofs on chain in a given epoch, and it needs to reduce this set.

#### Proposed Solution

Implement what is described in th

[2018-12-07 06:17] carllin opened #2050 "Failing to load vote program"
#### Problem
Seeing the following error when trying to load the vote program from the native_loader after running net.sh on gce: /home/solana/.cargo/bin/libsolana_vote_program.so: cannot open shared object file: No such file or directory

#### Proposed Solution

[2018-12-07 06:20] mvines commented on #2050
@carllin - could you please share the exact net.sh command you’re using?

[2018-12-07 06:30] carllin commented on #2050
Sure thing, ./net.sh restart -o noValidatorSanity -o noLedgerVerify

[2018-12-07 17:14] mvines commented on #2050
Ah, https://github.com/solana-labs/solana/blob/master/net/net.sh#L145 probably needs to run in the MAYBE_DOCKER block.   I assume you were running `./net.sh` natively on macOS

[2018-12-07 19:24] garious commented on #1409
Proposed changes:

Leave program alone. Only these:

* Rename Transaction::instructions to Transaction::script
* Rename Instruction::userdata to Instruction::argdata
* Rename Account::userdata to Account::data

Also, rename ReplicateStage to ReplyStage to free up term "replicate" for exclusive use in replicator work.

[2018-12-07 19:32] #2050 closed

[2018-12-07 21:18] pgarg66 opened #2056 "Lower cyclomatic complexity for bin/fullnode main()"
#### Problem
The cyclomatic complexity for fullnode/src/main.rs has grown to 31 with voting changes.

#### Proposed Solution
Break main() into smaller functions and move non-CLI functions into src/fullnode.rs, where one would expect to find that function's unit tests.
Also remove clippy override from fullnode/src/main.rs:main()

[2018-12-07 23:20] #2038 closed

[2018-12-07 23:27] sakridge opened #2060 "[storage mining] Validator should post storage last_id and entry_height in an Account state"
#### Problem

Storage last_id and entry_height values are not signed by the validator or visible to the rest of the network on-chain.

#### Proposed Solution

Validator signs the value it is using and sends a transaction with the values serialized in the userdata.

[2018-12-08 12:45] carllin opened #2065 "Failing to load vote_program when running test net on gce"
#### Problem
The testnet on gce is failing to load the vote_program from the native_loader, @sambley was also seeing this error.

Steps for repro.

1) Change this line: https://github.com/solana-labs/solana/blob/master/programs/native/native_loader/src/lib.rs#L97 from warn! to println!
warn! is not logging to the log for some reason.

Ssh into a gce instance, run the following from console:

2) ./

[2018-12-08 18:33] mvines opened #2068 "Unable to connect a locally build validator to the edge testnet"
This sequence of commands:
[code]
fails in the leader log with errors like:
[code]

The problem is that `cargo build` places the native shared objects under `target/debug/deps/` but native-loader wants to find them in the same directory as the executable (ie, `target/debug/`).  We dance around this in the various bash wrapper and packaging scripts that run after `cargo build` but it's sad that thi

[2018-12-09 00:31] #2065 closed

[2018-12-09 00:31] #2068 closed

[2018-12-09 06:19] #1406 closed

[2018-12-09 15:41] aeyakovenko commented on #1409
@garious

That is pretty good!

[2018-12-09 15:44] aeyakovenko commented on #2005
@garious I've had another though.
[code]

[2018-12-09 15:44] #2005 closed

[2018-12-09 17:40] mvines opened #2072 "wallet.rs::send_and_confirm_tx() should not retry on AccountInUse"
Once a transaction errors with AccountInUse, resending the same transaction will result in DuplicateSignature errors.  It's necessary to fetch a new lastId and resign/send the transaction.

src/wallet.rs currently erroneously [continues retrying](https://github.com/solana-labs/solana/blob/0ef099421cadc597c7533d6a4556c08d509b458f/src/wallet.rs#L751-L753) in this case, and eventually times out.

The

[2018-12-09 21:42] mvines opened #2073 "Flaky CI test: test test_replicator_startup"
Failure observed on stable-perf: https://buildkite.com/solana-labs/solana/builds/5890#c7312b28-4242-42dd-9762-450881c3d2fe

[2018-12-10 00:52] mvines commented on #2072
https://buildkite.com/solana-labs/solana/builds/5893#e2acd183-12b6-4457-b562-f96ac7ec7874

[2018-12-10 03:39] mvines opened #2075 "Dashboard vote metrics have been renamed (or removed?)"
The following metrics are no longer present in `master`, which breaks the "Votes" and "Vote Stage Per Count" graphs on the metrics dashboard:
* [vote_stage-peer_count](https://github.com/solana-labs/solana/blob/v0.10/src/vote_stage.rs#L75)
* [vote_stage-leader_sent_vote](https://github.com/solana-labs/solana/blob/v0.10/src/vote_stage.rs#L132)
* [vote_stage-peer_count](https://github.com/solana-lab

[2018-12-10 04:10] mvines opened #2077 "Bootstrap leader can't be restarted due to insufficient tokens"
STR:
[code]

This causes `net.sh -r`, added in #2076, to fail when it would otherwise succeed.

Blocks: #2016

[2018-12-10 16:07] mvines commented on #1926
Not observed recently in CI

[2018-12-10 16:07] #1926 closed

[2018-12-10 16:08] mvines commented on #1560
Not observed recently in CI

[2018-12-10 16:08] #1560 closed

[2018-12-10 17:02] garious commented on #2056
Does this really need to be pushed out? Is it more than 30 minutes of work?

[2018-12-10 19:20] #2072 closed

[2018-12-10 19:30] jackcmay opened #2086 "BPF implementation does not support BPF to BPF function calls"
#### Problem

In order to support multi-file BPF programs and linking in/with libraries, our BPF implementation must support BPF to BPF calls.

#### Proposed Solution

* [x]  BPF to BPF function calls
  * [x] Add BPF symbol resolutions (intra ELF)
  * [x] Handle BPF subroutine return
  * [x] Support BPF subroutine stack frames

Depends on
* [x] Build system support for multi-file projects
       h

[2018-12-10 19:47] pgarg66 commented on #2056
I'll include it in the current PR #2009 . Let me fix the current failures.
Also, this issue will only be introduced if I landed #2009.

[2018-12-10 20:16] pgarg66 commented on #2075
vote_stage-leader_sent_vote is not valid anymore, since leader is not voting. We can leave it in the dashboard, as beta testnet can still populate these values.

[2018-12-10 20:19] #2073 closed

[2018-12-10 20:19] mvines commented on #2075
Ah, ok.  We can remove vote_stage-leader_sent_vote  from `metrics/testnet-monitor.json` on the master branch (edge dashboard) then.  As edge -> beta -> stable, vote_stage-leader_sent_vote will then get naturally flushed from dashboards at the right time.

[2018-12-10 21:35] mvines opened #2089 "Can we speed up the GCP interconnect for testnet-perf?"
One guess is that our TPS on testnet-perf is getting maxed out due to GCP interconnect speed.   Is this true?  If so can we do anything about it?

[2018-12-10 21:57] pgarg66 opened #2091 "Broken dashboard counters"
#### Problem
Some stages got renamed/deprecated. So missing/renamed counters and data derived from these counters is not showing up in the dashboard.

#### Proposed Solution
1. Find alternate counters to use for the dashboard.
2. Remove obsolete counters and data from the dashboard.

[2018-12-10 23:50] rob-solana opened #2095 "clean up Entry new variants"
#### Problem
 a lot of Entry construction code exists merely for tests, causing confusion and code bloat

 #### Proposed Solution(s)
consolidate Entry construction to a single function and/or move constructors into cfg(test) blocks across the codebase

[2018-12-11 00:10] #2091 closed

[2018-12-11 17:06] jackcmay commented on #1802
Fixed in #2100

[2018-12-11 17:06] #1802 closed

[2018-12-11 17:06] jackcmay commented on #1803
Fixed in #2100

[2018-12-11 17:06] #1803 closed

[2018-12-11 19:00] jackcmay opened #2108 "C++ BPF programs generate eh_frame containing relocations"
#### Problem

C++ modules are producing an `.eh_frame` section that contains a relocation.  Exception and exception unwinding are not supported so don't need `.eh_frame`.

#### Proposed Solution

We could add the `.eh_frame` section to the list sections relocated and passed to the vm but that's something that we can do if necessary later.

Another solution is to eliminate the generation of the `.e

[2018-12-11 20:16] jackcmay commented on #2108
Fixed by https://github.com/solana-labs/solana/pull/2109

[2018-12-11 20:16] #2108 closed

[2018-12-11 23:00] rob-solana opened #2112 "blobs are weird, complicated..."
#### Problem
leaders don't sign their transmissions, providence can't be established, byzantine behavior can't be detected or punished

Blobs carry id (would-be signer), index, slot, and flags hidden in an opaque byte array instead of being out in the Entry or another type

the complication extends to blob_fetch which has its own special definitions for Blobs that differ from Packet

#### Proposed