[2022-10-12 15:40] thelemurcodes commented on #25955
Hi, I've been having this issue when calling 'createMint()' from spl-token. Sometimes it will return and sometimes I receive 'TransactionExpiredBlockheightExceededError: Signature XYZ has expired: block height exceeded'. I see ya'll are working on it, but I just wanted to notify.

[2022-10-12 19:08] eeexception opened #28366 "Illegal instruction (core dumped) 1.10.43/1.10.45"
Hi. I've tried to build the new versions (`1.10.43` and `1.10.45`) of the Solana for the testnet.
I'm running the build on a VM machine on the ESXi server. The CPU is ivybridge:
`~$ cat /sys/devices/cpu/caps/pmu_name
ivybridge`
This CPU does not support AVX2 instructions and I'm building the node from the source code.
And the build `1.10.40` for the mainnet works fine.

Here are the logs with the

[2022-10-12 21:13] eloylp commented on #27318
Hello :wave: newcomer here. I would like to work on this one. If that is possible, feel free to assign myself to it :+1:

[2022-10-13 13:58] nixxholas commented on #25287
Can we close this? It's done!

[2022-10-13 14:02] ripatel-fd opened #28376 "Packet meta struct is not stable"
#### Problem

Interoperability with C (Firedancer) requires a stable ABI.
One of the core types `solana_sdk::packet::Meta` contains `std::net::IpAddr`  which has unknown size and undefined binary layout.

https://github.com/solana-labs/solana/blob/84acef007cb7560f61c4e2b4753b0ed76342ebf5/sdk/src/packet.rs#L33

#### Proposed Solution

- Define a replacement IP address type with `#[repr(C)]` as `str

[2022-10-13 14:10] jstarry commented on #25287
Closed by https://github.com/solana-labs/solana/pull/28249

[2022-10-13 14:10] #25287 closed

[2022-10-13 15:28] hspy commented on #28320
I have same issue with  url (https://api.mainnet-beta.solana.com/), my toolkit release version is mainnet v1.10.41

[2022-10-13 16:37] steviez commented on #28366
@eeexception - Given your typos about the versions you were trying (your logs state v1.14.5), could you please reconfirm which version did work and which versions did not? Note that the latest v1.10 tag is v1.10.41 so building from source might show v1.10.42

[2022-10-13 16:55] eeexception commented on #28366
I've used these tags to build Solana:
v1.14.5 - not working
v1.14.3 - not working
v1.10.40 - working

[2022-10-13 17:16] KirillLykov commented on #27834
In the documentation, we have `The solana deploy and solana program deploy CLI commands use the upgradeable BPF loader.`
But in fact, for `solana deploy` we use non-upgradeable loader, see https://github.com/solana-labs/solana/blob/master/cli/src/program.rs#L1721
Since the consensus is to remove`solana deploy` , this will not be a problem.

My understanding is that currently `solana deploy` and `s

[2022-10-13 17:33] #28321 closed

[2022-10-13 18:42] jarry-xiao opened #28380 "Last Restart Slot Sysvar"
#### Problem
Solana makes a tradeoff between security and liveness in favor of security. If you can't have both, this is clearly the right decision (despite what naysayers on Twitter will have to say). The biggest issue with network restarts is for DeFi protocols that have stale prices, as the state on restart is representative of the chain state prior to halting.

While liveness issues are obviou

[2022-10-13 21:06] jarry-xiao commented on #28380
An alternative solution would be to have the first `N` slots on a restart be vote-only. The basic idea is that programs need to be able to utilize context from the chain to infer liveness issues, and this context should affect the way protocols handle new interactions. I don't really care how we get there

[2022-10-13 22:01] mschneider commented on #28380
i definitely like this idea, we do see a lot of first slot arbitrage. i don't know how we can solve this though practically in a way that it handles all possible scenarios.

[2022-10-13 22:07] jarry-xiao commented on #28380
Yeah there's no foolproof solution, but implementing program heartbeats seems like a reasonable way to address part of the problem. Something is better than being completely in the dark

[2022-10-14 00:36] wen-coding opened #28384 "Add verification check to make sure shreds come from Turbine"
If someone bypass Turbine and send shreds directly to different parts of the network, it's possible to send different shreds to different people in an attempt to divide the network. We should add some check to verify the shreds come from Turbine.

[2022-10-14 00:37] wen-coding commented on #28384
@behzadnouri please ping me when the redundant shreds propagation path is dropped from turbine

[2022-10-14 00:41] buffalu commented on #28384
fwiw we and a few others (@brianlong bloxroute) have systems that bypass turbine for low latency access to shreds. this would interfere with those systems, so we'd just rip it out

[2022-10-14 00:53] wen-coding commented on #28384
Do you have pointers and/or code what you are doing and what you are trying to accomplish so I can take a look?

[2022-10-14 00:55] brianlong commented on #28384
We'd rip it out of some, but not all, of our servers too. In our case, we are retransmitting to nodes that we control.

I understand that you are trying to suppress malicious shreds, and that sounds good. Please include a startup parameter that we can use to shut off those checks.

[2022-10-14 00:56] buffalu commented on #28384
we hook into broadcast and retransmit and send to our rpc servers for low latency access to shreds

[2022-10-14 01:50] steviez commented on #28366
Got it, thanks for confirming. There are a lot of commits between these versions so hard to say what might have done it. Running a `git bisect` would be pretty straight forward and would yield the commit that breaks things.

I'm not sure I can easily get access to an ivybridge machine, and even if I could, this really isn't high priority item for us given that ivybridge is > 10 years old. If you w

[2022-10-14 01:59] steviez commented on #26856
Assuming you figured this out; but if not, checkout #validator-support on our Discord: https://solana.com/discord

[2022-10-14 01:59] #26856 closed

[2022-10-14 02:03] steviez commented on #26764
Cleaning up old issues - support for running a node is handled on Discord: https://solana.com/discord

[2022-10-14 02:03] #26764 closed

[2022-10-14 02:16] wen-coding commented on #28384
If you use it mostly for RPC servers that's fine, we will give you a flag to turn it off.

[2022-10-14 02:18] carllin commented on #28384
@t-nelson private p2p soooooonn

[2022-10-14 07:19] steviez commented on #27729
Got pulled off again, but the other item that was preoccupying me is seemingly done.

In any case, this change wasn't going to land in v1.10, so we need mnb to v1.13 as a pre-req. Currently running some nodes to collect data with my change cherry-picked on top of v1.14.

You can follow along in https://github.com/solana-labs/solana/pull/28069 if you'd like

[2022-10-14 10:23] 11nx commented on #28338
The problem presented before the start of epoch 358. At 46% through epoch 358, the problem was still present. I had a hot standby, also v1.13.2, and switched over to it without loss of voting.

The problem did not reoccur.

The only difference between the two servers is that there was a difference in size between the two full snapshots used for a restart with a deleted rocksdb. Since I have never

[2022-10-14 14:04] losman0s commented on #28380
At first glance less in favour of this than the original proposal. The sysvar practically enables protocols to introduce liveness failure circuit breakers which is quite flexible, and allows both logic-based and manual resets (which avoids a time constraint like with the N vote-only slots, for instance).

[2022-10-14 14:15] jarry-xiao commented on #28380
I believe there is push back from the core team to add in a new sysvar. I do agree that it is the most unambiguous way to solve the problem (that I can think of). Not sure how else the VM can get context about the runtime environment status.

[2022-10-14 15:00] jeffwashington opened #28400 "Invalid vote account owner error during reserialize bank"
#### Problem
local cluster test fails
https://discord.com/channels/428295358100013066/560503042458517505/1030369022463717407
https://buildkite.com/solana-labs/solana/builds/83743#0183d475-7ece-4f4b-9f23-35a0c204f8c9
[code]

#### Proposed Solution
debug/fix

[2022-10-14 16:07] CriesofCarrots opened #28401 "Improve TpuConnectionCache and finish splitting quic and udp clients"
#### Problem
#28080 landed, but some tasks still remain to be able to pull in only a quic or a udp client (separately).

#### Proposed Solution

- [ ] Improve TpuConnectionCache apis:
  - [ ] convert to fallible methods and use errors appropriately
  - [x] Remove Default implementations for TpuConnectionCache and TpuConfig #28788
  - [ ] Streamline connection "Result" structs
  - [ ] Return future

[2022-10-14 16:12] jeffwashington opened #28402 "change slot # and hash of ancient accounts"
#### Problem
When we stop doing rewrites on accounts, we will begin to accumulate a sparse set of ancient slots which contain the most recent store to some accounts.
These will be accumulated in ancient append vecs. We currently aren't storing the slot# per entry in ancient append vecs. To do so would require a change to the append vec file format most likely.

As more accounts are added to the sy

[2022-10-14 16:36] steviez opened #28403 "LedgerCleanupService reads the entire SlotMeta column with frequency"
#### Problem

`LedgerCleanupService` works by scanning the `SlotMeta` column family and counting the number of shreds that have been received by each slot (slight approximation here but besides the point). This scan occurs when the latest observed root is >= 512 slots since the last scan.

This is how often it happens based on some slot times:
400ms slot time ==> scan every ~3.5 minutes
500ms slot

[2022-10-14 16:38] godmodegalactus commented on #28191
After checking into validator logs I have following logs :
[code]

So tpu is : `127.0.0.1:1027`

But when TPU client is trying it tries to connect to another port :
```[2022-10-02T20:24:01.438554026Z INFO  solana_tpu_client::nonblocking::quic_client] Made connection to 127.0.0.1:1033 id 140151359788848 try_count 0```

And I get following error :
`Cannot make connection to 127.0.0.1:1033, error tim

[2022-10-14 16:41] jeffwashington opened #28404 "remove slot# from account's hash"
#### Problem

tl;dr:
Including the slot # in an account's hash is unnecessary and inefficient.
Let's remove the slot # from an account's hash calculation (using a feature).
prototype: #28405

Details:

It is inefficient to keep track of an account's hash. It increases appendvec sizes (and thus snapshot size and ramdisk size) and reduces compress-ability. The hash can be recalculated today, given t

[2022-10-14 18:11] 11nx commented on #28338
Can someone add the community label to this issue please. Not allowed to change label after creation of issue.

[2022-10-14 18:39] CriesofCarrots commented on #28191
The node's quic port is configured as tpu+6, hence 1033, so the client is using the correct port. Is that port being blocked on your machine for some reason?

[2022-10-14 19:12] jeffwashington commented on #28400
maybe?
https://github.com/solana-labs/solana/blob/31c2b2994149a56edb5440e1d7923c3de00257e7/runtime/src/serde_snapshot/newer.rs#L394

[2022-10-14 21:08] jeffwashington commented on #28400
retried the ci and it passed
running it locally passed

[2022-10-14 22:15] jeffwashington commented on #28400
[code]
we are doing a shutdown and this join is happening.

[2022-10-14 22:21] jeffwashington commented on #28400
I was wrong. This should be the failure:
https://github.com/solana-labs/solana/blob/31c2b2994149a56edb5440e1d7923c3de00257e7/runtime/src/serde_snapshot/newer.rs#L357

[2022-10-15 09:50] godmodegalactus commented on #28191
Ok good to know. I will debug more to understand whats going on.

[2022-10-16 13:33] Erfankam commented on #27594
@0xBreath No, I still have problem in my environment during building, while all components are up to date.

[2022-10-16 13:55] Erfankam commented on #15215
I worked on this issue for a while by reading source codes and config files in samples and at end of the day, by trying to change some metrics command s function signature.
I think decoupling metrics logs from `RUST_LOGS` is possible through out these solutions:

1. Using **per module logging** mechanism: As `metrics` is a module, we can decouple metrics logs from general logs (containing other mo

[2022-10-16 18:23] jeffwashington opened #28420 "Feature Gate: account_hash_ignore_slot"
### Description

see issue #28404

Remove `slot` from the calculation of an account's hash.

### Feature ID

SVn36yVApPLYsa8koK3qUcy14zXDnqkNYWyUh1f4oK1

### Activation Method

Single Core Contributor

### Minimum Beta Version

v1.16.0

### Minimum Stable Version

_No response_

### Testnet Activation Epoch

493

### Devnet Activation Epoch

_No response_

### Mainnet-Beta Activation Epoch

_No re

[2022-10-16 23:08] eloylp commented on #27318
Hello ! After studying a bit the code, i have the following thoughts/doubts i would like to share with you, so we can decide how to move forward. Please, i would be probably doing some assumptions here, correct me at any point.

#### Batch the processing of allocations

Initially, i thought it would be a good idea to batch the entire [distribute_allocations](https://github.com/solana-labs/solana/b

[2022-10-17 01:01] jstarry commented on #27834
It's possible but they can find another way to deploy with that loader if they really need it. Most users should be fine using the upgradeable loader.

[2022-10-17 01:58] jstarry commented on #28376
cc @behzadnouri

[2022-10-17 02:02] jstarry commented on #28273
Why is it an issue that users think an empty account with no SOL exists on chain? I recently expanded the fields of empty accounts to also say that there is no allocated data and the owner is the system program, does that help or make this worse?

https://explorer.solana.com/address/AVpktMrf8bHHDfQrh8XMtEwUnfB2YxnM7Rw1dyNspRCV
<img width="754" alt="Screen Shot 2022-10-17 at 10 01 59 AM" src="https

[2022-10-17 06:18] steveluscher opened #28426 "[web3.js] Protect against overflowing `_rpcWebSocketGeneration`"
Here's a new take on #26198. What if the actual problem is that we max out `_rpcWebSocketGeneration` such that it can't be incremented any more? After all, it has a ceiling of `Number.MAX_SAFE_INTEGER`.

#### Suggested fixes

* Replace this with a `bigint`.
* Implement wraparound logic.

[2022-10-17 06:33] #28426 closed

[2022-10-17 15:37] offerm commented on #27729
Thanks @steviez will follow-up

when this started there was a comment that problem show itself only when Solana starts with a remote snapshot. Is that correct?

[2022-10-17 16:14] aimxhaisse opened #28434 "GetInflationReward to add delegated address"
#### Problem

Currently, there is no way to know on which validator address a staking rewards at an epoch was generated :

- you can get the rewards by epoch via [GetInflationReward](https://docs.solana.com/developing/clients/jsonrpc-api#getinflationreward)
- you can get the list of delegators on a validator via [getProgramAccount](https://docs.solana.com/developing/clients/jsonrpc-api#getprograma

[2022-10-17 17:16] godmodegalactus commented on #28191
Hey @CriesofCarrots @mschneider ,

After lot of debugging and testing i found the cause. It is the rust compiler, quinn 0.8.3 is no more compatible with latest stable and nightly. When i installed `rustc 1.60.0` and compiled solana and it works as expected.

To solve the issue I compiled repo of quinn and the basic example was not working. With version `quinn 0.8.4` examples were working but the `

[2022-10-17 17:29] CriesofCarrots commented on #28191
Aha, mystery solved. Thanks for digging!

We do actually define the supported rust versions (stable and nightly) for each branch of the repo in this file: https://github.com/solana-labs/solana/blob/master/ci/rust-version.sh
And you can use the supported version by default by running the `./cargo` script in the repo's top level in place of your linked `cargo`: https://github.com/solana-labs/solana/

[2022-10-17 17:29] #28191 closed

[2022-10-17 17:49] godmodegalactus commented on #28191
Ok i understand it is better to do `./cargo build` and `./cargo test`.

[2022-10-17 18:41] KirillLykov commented on #27834
I've updated tests for immutable deploy (`solana deploy` -> `solana program deploy` code path). To be sure that everything is as expected, I should say that there are some, probably minor, differences in behavior: https://github.com/solana-labs/solana/pull/28398
When these tests are upgraded, I will finalize the the follow up https://github.com/solana-labs/solana/pull/28399 which removes `solana d

[2022-10-18 07:25] offerm commented on #27729
@steviez @carllin @t-nelson @yhchiang-sol

as a followup on this comment https://github.com/solana-labs/solana/pull/27786#issuecomment-1247369996
I checked v1.13.3 when starting Solana:
a. form local snapshot
b. from remote snapshot with an empty ledger folder (and account db).

I can confirm that the problem exists for these cases. Hence the comment

may not be correct.

[2022-10-18 09:28] steviez commented on #27729
The short answer is no, combinations of wiping ledger + starting from remote/local snapshot will not make a difference. I think my writeup in https://github.com/solana-labs/solana/issues/27820 should explain why this is the case. Essentially, if your node hasn't processed every block from genesis without wiping the blockstore, your node will not have is_connected set.

[2022-10-18 11:01] 1scriptz commented on #19744
This would be a greatly appreciated feature/bit of documentation - being I somehow installed v1.15 of the CLI.

Zero clue how to uninstall it.

[2022-10-18 11:24] offerm commented on #27729
Sorry @steviez I missed that.

Anyway, I think it is fair to say that ALL validators are impacted.
With that in mind and your comment https://github.com/solana-labs/solana/pull/28069#issuecomment-1282109862 - shouldn't we reconsider my original PR for this which is riskless, and has no dependency on Quic, SlotMeta, etc.

As the impact is huge (in milliseconds) I stongly suggest you consider that (

[2022-10-18 17:51] jeffwashington commented on #28404
This will work as expected.

We will still maintain and verify that we will correctly answer the question: what is the most recent account data for any pubkey as of slot X, if slot X = the restoration slot.

[2022-10-18 19:26] gitmalong commented on #23557
clap v2.34.0
├── solana-clap-utils v1.14.5 (*)
├── solana-client v1.14.5 (*)
└── solana-faucet v1.14.5 (*)

clap v3.2.22
└── solana-net-utils v1.14.5 (*)

[2022-10-18 20:09] offerm opened #28460 "High number of UDP connections"
#### Problem
  Once updated to 1.13.3. I see a high number of UDP connections.
  These connections binds with 0.0.0.0.
  Ports in use are outside of --dynamic-port-range 8002-8020

[code]

number of connections looks stabled

[code]

Don't see this with `--tpu-disable-quic` so I guess it has to do with QUIC and with QUIC being enabled by default.

BTW - I see decrease of 5GB in memory when staring

[2022-10-19 02:46] losman0s commented on #28380
Would love to hear the specific concerns with this.

[2022-10-19 09:40] hongquan commented on #14005
How to do with Zsh: https://quan.hoabinh.vn/blog/2022/10/104-enable-auto-completion-for-solana-cli

[2022-10-19 13:55] KirillLykov commented on #27834
Done

[2022-10-19 13:55] #27834 closed

[2022-10-19 14:10] brooksprumo opened #28478 "Detecting incremental snapshot hashes for bootstrap is hard"
Following on https://github.com/solana-labs/solana/issues/26180 and https://github.com/solana-labs/solana/pull/28284 and https://github.com/solana-labs/solana/pull/26256#issuecomment-1167870423 ...

Is there a way to detect/known if a known validator has incremental snapshots disabled or not?

_Originally posted by @t-nelson in https://github.com/solana-labs/solana/pull/28284#pullrequestreview-114

[2022-10-19 14:12] JonathanStables opened #28479 "."
.

[2022-10-19 16:36] ryleung-solana commented on #28460
Hi offerm, yes, the UDP ports being opened in a range outside of --dynamic-port-range 8002-8020 is normal. dynamic-port-range is if I'm not mistaken the range of ports for the validator to bind for it listening ports (e.g. one such port might be the port on which it listens for incoming transactions). Most of the ports you're seeing are for outgoing connections, which are within the range VALIDATO

[2022-10-19 18:53] calypso-it opened #28485 "Validator Delinquency after reprocessing already voted on slots"
#### Problem
Mainnet Beta Validator panicked and went into a delinquent state (recovered from it automatically after ~30min).

Error Log:
[code]

Version: `1.13.3` on Ubuntu 20.04
Metrics: https://metrics.solana.com:3000/d/monitor-beta/cluster-telemetry-beta?orgId=1&refresh=5m&var-datasource=InfluxDB_main-beta&var-testnet=mainnet-beta&var-hostid=FdRZaVGSJ8QBdnhyX8ZGfRUEs4tBHUKYEHADL4Vo3JWc

#### P

[2022-10-19 21:40] joncinque commented on #28320
Hi there, thanks for reaching out -- this issue belongs in the solana-program-library repo: https://github.com/solana-labs/solana-program-library, so could you add it there?

Very quickly, I'm surprised that this is giving a 429 since it's just doing one call to `getTokenAccountsByOwner`.  You might simply need to use a different endpoint unfortunately.

[2022-10-19 21:40] #28320 closed

[2022-10-20 04:13] StarSapien opened #28497 "curve25519-dalek dependency causing compilation errors when compiling Solana with libraries of other ecosystems"
curve25519-dalek depends on zeroize which they have to update to zeroize >= to 1.5.4 to resolve this issue. I opened an issue on curve25519-dalek git and they stated that curve25519-dalek v4.0.0-pre.2 resolves the compatibility issue.

Surely Solana can’t use a pre-release version of a dependency such as curve25519-dalek in an official release, and curve25519-dalek is taking considerable time to r

[2022-10-20 04:43] pieceofr opened #28498 "Doc: "Optimistic Concurrency Control" link is no longer valid"
#### Problem
In solana documentation  [Synchronization](https://docs.solana.com/cluster/synchronization
) section, the link to [Optimistic Concurrency Control](http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.65.4735) is invalid.

#### Proposed Solution
Find a trusted explaining webpage about Optimistic Concurrency Control

[2022-10-20 13:11] akingweb opened #28504 "error: linking with `cc` failed: exit status: 1. And other message upon build"
Greetings,

I am in part  3. of installing the Solana blockchain
$ cargo build

After about 30 minutes of compiling i get the following errors:

error: linking with `cc` failed: exit status: 1

this is followewd by a bunch of directory listings, the more error messages:

 = note: collect2: fatal error: ld terminated with signal 9 [Killed]
          compilation terminated.

error: could not compile

[2022-10-20 13:20] steviez commented on #28485
@AshwinSekar - Is this the same issue as https://github.com/solana-labs/solana/pull/22551 right?

Initially reported in Discord here:
https://discord.com/channels/428295358100013066/560174212967432193/1032180845676609548

A previous exchange in Discord that led me to the linked PR:
https://discord.com/channels/428295358100013066/560496939779620864/1022893252065640568

[2022-10-20 13:58] injaan commented on #28320
@joncinque Ok thank you

[2022-10-20 15:07] apfitzge commented on #27787
Yeah, seems like a pretty natural place to do it if we're adding per-file hash verfication. Just return (Self, Hash) pair, otherwise we'd just have to scan through it again.

A note for the future: when you're working with individual appendvec files and testing the hashing you may find `store-tool` useful (`runtime/store-tool`). Would be great to add the hash as an output there too as you do this

[2022-10-20 16:07] #28166 closed

[2022-10-20 17:08] lijunwangs commented on #28479
@JonathanStables Which build did you actually reproduce the issue?

[2022-10-20 18:17] AshwinSekar commented on #28485
yep looks like the same issue

[2022-10-20 19:01] AshwinSekar opened #28511 "Kill validator after certain number of repair/purge loop failures"
#### Problem

Validators can get stuck in repair/purge loop failures if they have bugs in runtime code. This situation is not automatically recoverable, kill after a certain # of attempts to save resources.

#### Proposed Solution
10 attempts seems reasonable resulting in
6.756×10^-9% chance of false positive

[2022-10-20 20:58] #28504 closed

[2022-10-20 21:32] someonewhoneedu opened #28522 "solana build error"
im new in rust and solana,
im trying to build this solana example project:
use solana_program::{
    account_info::AccountInfo,
    entrypoint,
    entrypoint::ProgramResult,
    msg,
    pubkey::Pubkey,
};

entrypoint!(process_instruction);
fn process_instruction(
    program_id: &Pubkey,
    accounts: &[AccountInfo],
    instruction_data: &[u8],
) -> ProgramResult {

    msg!("Hello Solana! (Fro

[2022-10-20 21:42] steviez commented on #28485
Ok, close this one as dup then? If I understand correctly, this is a known issue that we currently have to live with for the moment.

[2022-10-20 22:01] #28485 closed

[2022-10-20 22:35] t-nelson commented on #15215
i was thinking along the lines of an analog to `RUST_LOG`, but for metrics. probably falling back to `RUST_LOG` if not specified.

so i could have something like
[code]

is that your proposal 1?

[2022-10-20 22:51] t-nelson commented on #27820
regarding avoiding the struct layout change avoidance, the existing field is a `bool` which encodes to a `u8` where `false` is strictly `0x00u8` and `true` `0x01u8`, so we have some free bits to play with.

* treat it as an `#[repr(u8)]` enum, and reserve variants `0` and `1` as legacy values
* treat it as a `bitflags!{struct Flags: u8 { ... }}` from the [`bitflags` crate](https://docs.rs/bitflags

[2022-10-21 01:41] #28265 closed

[2022-10-21 12:26] #28498 closed

[2022-10-21 12:28] gitmalong commented on #23557
I wanted to point out that there still clap v2 dependencies which leads to several clap versions in the dependency tree if one relies on those Solana packages.

[2022-10-21 15:03] blackghost1987 commented on #25145
Yeah, this is a serious limitation! I'm not even sure why `Signers` is implemented on stuff like `Vec<Box<dyn Signer>>` and `[Box<dyn Signer>]` if you can't use it with trait objects anyway?

I'll probably open a PR with this change soon.

[2022-10-21 16:35] yahya-cloud commented on #28273
Is  zero-lamport  balance enough to identify that account no longer exists on chain?

[2022-10-21 19:46] jeffwashington opened #28541 "Feature Gate: on bank load account, do not try to fix up rent_epoch"
### Description

There was a bug that got opened when the activation of feature #26509 occurred.
On mnb, this caused 1.14 nodes to fail with a bank hash mismatch.
On testnet, all nodes were running 1.14, so the network followed the bug and defined 'correct' as updating the rent_epoch on bank load of accounts.
For mnb, the fix is to remove the code that updated the rent_epoch incorrectly. mnb and 1

[2022-10-22 20:13] godmodegalactus opened #28549 "Difference in reliability between QUIC vs UDP"
#### Problem

We have made a project to benchmark mango-v3 on solana. We tested our benchmark with UDP vs QUIC and we found out using TPUClient in UDP mode on low tps all our transactions are confirmed but in QUIC mode only 25% are confirmed and others are lost (timeouts). 75% of transaction are never added in the transaction queue of the TPU.

Please check the following project for reference :
`h

[2022-10-23 11:48] Erfankam commented on #15215
Yeah. exactly. But my **first proposal** is to just using RUST_LOG like following:
`export RUST_LOG=solana=warn,solana-metrics=debug`

I think this given requirement (Decouple metrics submission from RUST_LOG) **_is already provided_** by using suitable SOLANA_LOG environment variable value and **without need to define any other configuration or environment** variable like witch you mentioned. Doe

[2022-10-23 16:01] #27395 closed

[2022-10-24 07:57] jstarry commented on #27736
https://github.com/solana-labs/solana/pull/28430 adds the `stack_height` for inner instructions. It would still be nice to record return data and compute units used for each instruction

[2022-10-24 08:07] ripatel-jump opened #28551 "cargo run poh-bench fails to detect AVX2/AVX512F"
#### Problem

When building and running `solana-poh-bench` locally on a machine with AVX512F support, the binary fails to test the `cpu_simd_avx2` and `cpu_simd_avx512f` code paths.

[code]

#### Proposed Solution

Fix x86 SIMD detection and run `cpu_simd_avx2` and `cpu_simd_avx512` bench too.

[2022-10-24 08:25] ripatel-jump commented on #28551
Nevermind, my perf-libs were missing.

[2022-10-24 08:25] #28551 closed

[2022-10-24 08:28] KirillLykov commented on #28551
I confirm that it works for me -- I've tried on amd and intel cpus.

[2022-10-24 14:34] ripatel-jump commented on #28551
Odd -- I still cannot get AVX2/AVX512F to run even with locally-built perf-libs. But if it works for others, must be on my end.

[2022-10-24 14:48] KirillLykov commented on #28551
I should say that I've tried with solana built from master as of today. ubuntu 20.04

[2022-10-24 16:18] StarSapien commented on #17687
Can anyone here offer advice how to compile Solana from source on Apple M1?

I've tried what every blog, forum, video available suggests and non of it works.

The error message is too long to post here.

[2022-10-24 16:21] jeffwashington opened #28554 "Sequence for rent_epoch testnet fix"
#### Problem
Complex sequencing of a testnet fix.

https://discord.com/channels/428295358100013066/910937142182682656/1033137858493562911

- [x] build a 1.14 release that should NOT be used for mnb or devnet (only testnet) but that includes #28543 (@willhickey)
version: 1.14.
- [x] update testnet to use the new 1.14 release with #28543
- [x] once enough is updated, activate the feature (@jeffwashi

[2022-10-24 16:24] #17687 closed

[2022-10-24 22:40] t-nelson commented on #15215
what is `SOLANA_LOG`?  it hasn't been introduced by that name here, nor does it exist in the codebase today.

i honestly have no idea what your proposal is, practically speaking

[2022-10-25 00:13] t-nelson opened #28576 "docs: transaction format overview doesn't mention versioned transactions"
#### Problem
The [transaction overview docs](https://edge.docs.solana.com/developing/programming-model/transactions) make no mention of versioned transactions, for which there's an entire page

#### Proposed Solution

Add a short blurb and link out to the full versioned transaction docs

[2022-10-25 00:17] bji commented on #28576
Something more than a link out is needed in my opinion. That page gives a detailed explanation of the binary format of a transaction.  The page I've seen about v0 transactions does not include anything like this, instead being a list of "programming for dummies" links.

[2022-10-25 00:18] bji commented on #28576
That is assuming that there has been a change to the binary format, which is not at all clear to me.

[2022-10-25 00:23] bji commented on #28576
This page has a Rust description of the version transaction format:

https://edge.docs.solana.com/proposals/versioned-transactions

I think that the Rust part is mostly noise given that
https://docs.solana.com/developing/programming-model/transactions

is complete, clear, and language-agnostic.  I think that the following text:

"Size changes[#](https://edge.docs.solana.com/proposals/versioned-tra

[2022-10-25 00:26] bji commented on #28576
Looks to me like the simplest way to convert legacy transactions to v0 transactions assuming that no address table lookups are being used, is to add a single 0 byte to the beginning and a single 0 byte to the end of the message.

[2022-10-25 00:36] t-nelson commented on #28576
no one should be converting anything and the docs ought not be suggesting otherwise

[2022-10-25 00:43] bji commented on #28576
Sorry "convert" is the wrong word.  What I meant is, converting code that generates transaction bytes.  Not all of it is done in Rust or Javascript using Solana's code.  Any code generating legacy transactions can, assuming that Address Table Lookup stuff is not needed, just prepend 0xF0 to the message (which is high bit set, version number v0) and appending 0 (which is "no Address Table Lookup en

[2022-10-25 02:30] t-nelson commented on #28576
i would simply build a legacy transaction should i not need any ALTs. they're legacy, not deprecated

[2022-10-25 04:31] Erfankam commented on #15215
Sorry. It was my fault and It was just a misspelling. I revised that. Would you please to read it again?

[2022-10-25 11:53] KirillLykov commented on #28549
Very interesting, thanks for sharing! I will check this out in the next couple of weeks if it is fine

[2022-10-25 12:24] KirillLykov commented on #28549
@godmodegalactus could you share instructions how to run tool on localnet?

[2022-10-25 13:40] godmodegalactus commented on #28549
Hey there is a project configure mango here: https://github.com/godmodegalactus/configure_mango

This project will configure the local cluster and give as output all the necessary files.

Check the readme file. Let me know if something is unclear. Should be pretty smooth.

[2022-10-25 14:49] taozhu-chicago commented on #26015
Multi Iterator implemented in https://github.com/solana-labs/solana-ghsa-qrp2-62qh-jgfc/pull/6 addressed this.

https://github.com/solana-labs/solana/pull/28577 proposed another possibility.

Close this issue.

[2022-10-25 14:49] #26015 closed

[2022-10-25 16:54] taozhu-chicago commented on #26818
@pieceofr wdyt if above data good starting point? I put them together at https://metrics.solana.com:8889/sources/5/dashboards/82?refresh=Paused&lower=now%28%29%20-%2015m.

[2022-10-25 17:59] jeffwashington opened #28585 "set rent_epoch to Slot::MAX for rent exempt accounts"
#### Problem

#26509 got activated on mnb.
we can no longer create rent paying accounts.
`rent_epoch` will become meaningless once there are no longer rent paying accounts.
#26509 causes us to 'freeze' `rent_epoch` where it is when rewrites occur.
It would be helpful to freeze `rent_epoch` at a known sentinel value which is consistent for all rent exempt accounts.
Slot::MAX is such a sentinel valu

[2022-10-25 20:56] brooksprumo opened #28591 "Spurious failures in test_snapshots_with_background_services"
#### Problem

`test_snapshots_with_background_services` is failing spuriously. Here's an example:
https://buildkite.com/solana-labs/solana/builds/84385#01841041-4b55-417a-8a92-3b7559d763a5

I thought this was happening during test cleanup, and therefore not germane to the actual test. I tried fixing this already here:
https://github.com/solana-labs/solana/pull/28480

Seems that there is another is

[2022-10-26 05:38] enzoampil commented on #26385
hope this is out soon, badly needed for our side as well

[2022-10-26 08:57] KirillLykov commented on #28549
@godmodegalactus I didn't manage to launch mango using provided scripts, see https://github.com/godmodegalactus/configure_mango/issues/1

[2022-10-26 10:13] pengten commented on #27369
No,Maybe this is a bugfix.

[2022-10-26 14:36] Lichtso opened #28600 "Feature Gate: Check syscall outputs do not overlap"
### Description

See #28599.

### Feature ID

3uRVPBpyEJRo1emLCrq38eLRFGcu6uKSpUXqGvU8T7SZ

### Activation Method

Single Core Contributor

### Minimum Beta Version

1.14.7

### Minimum Stable Version

1.13.5

### Testnet Activation Epoch

397

### Devnet Activation Epoch

439

### Mainnet-Beta Activation Epoch

403

[2022-10-26 15:19] KirillLykov commented on #28063
@joncinque anything to be done here?

[2022-10-26 15:26] KirillLykov commented on #28549
To document the way mango_bench was launched:
[code]

[2022-10-26 16:43] sakridge opened #28604 "Revisit block CU limits"
#### Problem

Banking stage has added 2 new threads. Should the block size increase to account for that change.

#### Proposed Solution

Take a look at replay stage timing with larger block sizes to see if there is enough margin to increase it. How often we are hitting the block size limits today?

[2022-10-26 17:02] brooksprumo opened #28606 "Indicate that using the Index for accounts hash calculations is for testing/debugging"
#### Problem

See https://github.com/solana-labs/solana/pull/28584#discussion_r1005874874 for context.

#### Proposed Solution

Add comments to document.

[2022-10-26 17:11] brson opened #28607 "AccountInfo::assign is unsound"
#### Problem

Here's the definition:

[code]

This is not allowed in Rust and causes undefined behavior. It's not clear what `write_volatile` is doing here, but it's probably not what is intended.

#### Proposed Solution

I don't see any way to do this without changing the definition of `AccountInfo`.

[2022-10-26 17:24] jackcmay commented on #28607
Right, we are not able to change `AccountInfo`, but is being replaced as part of the ABIv2 effort

https://github.com/solana-labs/solana/issues/27384

[2022-10-26 17:57] taozhu-chicago commented on #26818
Dan Saber shared some charts: https://dune.com/crypto_notte/solana-additional-fee-analysis, and https://dune.com/crypto_notte/solana-additional-fee-analysis

[2022-10-26 18:56] CriesofCarrots commented on #27369
[code]
If your original account is the fee payer for the transaction, it needs to have 5000 lamports (transaction fee) + 890880 lamports (rent-exempt minimum for new account) = 895880. You'll need to use a different fee-payer to empty an account with that balance.

This could have been answered more quickly on Solana Stack Exchange. Cheers.

[2022-10-26 23:15] pgarg66 commented on #23481
@alessandrod can this issue be closed. The last update says it was moved to done.

[2022-10-26 23:18] pgarg66 commented on #23486
@dmakarov can this be closed since SBFv2 tools changes have been made.

[2022-10-26 23:20] pgarg66 commented on #23487
@alessandrod can this be closed?

[2022-10-26 23:26] pgarg66 commented on #23711
@dmakarov can this be closed?

[2022-10-26 23:42] nikhayes commented on #28604
Would be great to see these metrics on the public validator grafana. It is currently shown in a private grafana instance (might belong to Labs).

The graph looks like the one shown below
![unknown-39](https://user-images.githubusercontent.com/63567985/198158843-2efe813a-37c5-4efe-9346-cc5ca2613863.png)

SolanaCompass also posted some data in mb validators that indicates skip rate decreases as of l

[2022-10-26 23:47] #23711 closed

[2022-10-26 23:49] #23486 closed

[2022-10-27 00:38] #24718 closed

[2022-10-27 05:49] #28171 closed

[2022-10-27 07:27] alessandrod commented on #23487
Closing as this was fixed a while ago. The feature is planned to be enabled once we roll out ABIv2.

[2022-10-27 07:27] #23487 closed

[2022-10-27 07:28] alessandrod commented on #23481
Yep closing as this is done. The feature is planned to be enabled once ABIv2 is rolled out.

[2022-10-27 07:28] #23481 closed

[2022-10-27 10:46] jstarry opened #28627 "Feature Gate: Add `SetAuthorityChecked` instruction to bpf upgradeable loader"
### Description

It's easy to fat-finger the `set-upgrade-authority` CLI command and accidentally assign the authority of a bpf upgradeable loader account to an incorrect address. This feature adds a new `SetAuthorityChecked` instruction that checks that the new authority has signed the transaction to add more safety to upgrade authority handling.

### Feature ID

5x3825XS7M2A3Ekbn5VGGkvFoAg5qrRWk

[2022-10-27 11:40] janlegner opened #28628 "Commission rugs"
#### Problem
Validators can change commission at any time to any value. How to rug:
1) Be a validator with 0 % commission, who has attracted some stake (e.g. from stake pools)
2) Wait for final slots of the epoch and change commission to 100 %
3) Wait for the first slots of the epoch and change commission to 0 %
...
4) Profit

Let's say a validator does this in epoch `N` and stakers notice in epoc

[2022-10-27 17:25] sakridge opened #28633 "start signature and poh verify as soon Entry is deserializeable"
#### Problem

Shreds are received out-of-order and so are FEC sets. There could be some time between when a consecutive set of Entry is received and any give Entry.

#### Proposed Solution

As soon as the FEC set is deserializeable into an Entry, then a thread could start PoH and signature verify of that before consecutive entries are received. This could lower verify latency and also potentially

[2022-10-27 17:27] sakridge opened #28634 "async coding shred recovery outside of insert_shred"
#### Problem

Coding shred recovery is done synchronously inside insert_shred and blocks other shred inserts while it's happening. There may be other data shreds in the pipeline that would obviate the need for even recovering those shreds as well. Coding recovery is quite CPU intensive.

#### Proposed Solution

Asynchronous service which gets fed the conditions for shred recovery from insert_shred

[2022-10-27 18:08] t-nelson commented on #28628
the best approach today is public ~shaming~ awareness.  [track offenders](https://www.validators.app/commission-changes?locale=en&network=mainnet) and make a stink

there are no free bits in the stake state today to epoch-gate commissions changes. there has been consideration for this taken in a proposed next-generation stake account format, https://github.com/joncinque/solana/blob/83ffb25bd06396c

[2022-10-27 18:27] janlegner commented on #28628
Sadly, ~shaming~ awareness is not really good enough as this kind of rug can be quite profitable. Tracking offenders is difficult (e.g. the case I presented here is not even visible in validators.app) and once they change identity? Nothing to be really done. Luckily, Marinade's new dashboards (coming soon :tm:) will provide accurate insight.

Thanks for pointing me at the stake v2, I was not aware

[2022-10-27 18:27] #28628 closed

[2022-10-27 18:32] behzadnouri opened #28636 "Use QUIC for repair"
#### Problem
UDP lacks features to effectively support QoS.

#### Proposed Solution
* Investigate using QUIC for repair.
* May also use 2-way connections for receiving repair shreds.

[2022-10-27 18:58] behzadnouri opened #28637 "Debug slots repaired ~100% by majority of the cluster"
#### Problem
* From `shred_insert_is_full` metric we sometimes observe slots which the majority (if not almost all) of the cluster repair ~100% of data shreds in that slot.
* Given the randomized shuffling of nodes for each shred propagated through Turbine tree, no single node in the cluster other than the leader itself can cause such degradation.
* Therefore this is most likely not a problem with

[2022-10-27 19:13] behzadnouri opened #28638 "Debug why nodes have to repair shreds despite large erasure batches"
#### Problem
Sherds are propagated using 32:32 data:code erasure batches.
Despite that even at times that the delinquent stake is pretty low and the cluster is working fine, we still observe very small yet non-zero repair shreds on the cluster.
Similarly on a small GCE cluster, repair metrics are yet non-zero.

One possibility is that repair is too aggressive and some repaired shreds are ultimatel

[2022-10-27 19:53] behzadnouri opened #28639 "Eliminate/reduce redundant load from zero-stake RPC nodes on gossip"
#### Problem
Zero stake RPC nodes do not contribute to consensus, yet they add to gossip load both by increasing CRDS table size and bandwidth use since there are more messages that need to be propagated across cluster.

#### Proposed Solution
* Investigate ways to eliminate or reduce redundant load from zero-stake RPC nodes on.
* Alternative might be to better utilize zero stake nodes for Gossip

[2022-10-27 20:06] behzadnouri opened #28641 "Stop gossip bandwidth usage growth as the cluster gets bigger"
#### Problem
As the cluster gets bigger more entries are stored in CRDS table and so more messages are passed between nodes. Also number of pull requests increases by the size of CRDS table. This results in more and more bandwidth being used for gossip as the cluster gets bigger.

#### Proposed Solution
Investigate ways to limit gossip bandwidth use per node regardless of cluster size. Some ideas:

[2022-10-27 20:12] behzadnouri opened #28642 "Debug why gossip push messages are not propagated effectively enough"
#### Problem
Metrics indicate that we still rely more than desired on pull request to propagate CRDS values. Pull requests are slow and have significant overhead on bandwidth use.

#### Proposed Solution
Investigate why messages are not propagated effectively through push.
* Something wrong with prune messages preventing active push from working properly?
* Push active set is shuffled too frequent

[2022-10-27 20:17] behzadnouri opened #28643 "Reduce lock contention on gossip CRDS table"
#### Problem
Metrics and runtime profiles indicate lock contention on gossip CRDS table.

#### Proposed Solution
Split gossip CRDS table into shards with separate RwLock for each shard: #26625

[2022-10-27 20:20] behzadnouri opened #28644 "Use QUIC for gossip"
#### Problem
UDP lacks features to effectively support QoS.

#### Proposed Solution
* Investigate using QUIC for gossip.
* Potentially may also use 2-way connections for sending pull request and receiving response

[2022-10-27 20:30] brooksprumo opened #28645 "Add verification of the EAH in snapshots"
#### Problem

If a snapshot includes an incorrect EAH, the node that loads from this snapshot will not find out until potentially much later. Worst case, being half an epoch later.

Full context: https://github.com/solana-labs/solana/pull/27801#discussion_r1003901797

#### Solution

When a snapshot is taken within the EAH calculation interval, the EAH itself should be hashed into the snapshot hash

[2022-10-27 20:33] steviez commented on #25367
Duplicate of https://github.com/solana-labs/solana/issues/28634, leaving that one and closing this one since this one is buried by 100's of other issues and we really should do this

[2022-10-27 20:33] #25367 closed

[2022-10-27 20:50] AshwinSekar opened #28647 "Add more metrics for vote dedup"
#### Problem

The vote optimizations in gossip and banking stage allow us to drop votes in case of multiple from the same pubkey. Lets add more metrics.

#### Proposed Solution
Add metrics for the gossip pipeline as well as reinserted retryable votes in banking stage

[2022-10-27 20:52] AshwinSekar opened #28648 "Propagate dumps from ancestor hashes service back to repair subtrees"
#### Problem

Right now when ancestor hashes decides to dump a block, repair is not notified and the block might still be present in subtrees. If we are to utilize the repair subtrees for redacted we should make sure that they are up to date.

#### Proposed Solution
dump or split the subtree in question

[2022-10-28 00:42] c3pko commented on #28628
@janlegner one non technical addition you could make to marinade's delegation strategy is requiring that the validators you stake to have at least X amount of stake from other delegators. this would've caught vote account 9eG63CdHjsfhHmobHgLtESGC8GabbmRcaSpHAZrtmhco--they had 0 external delegations. it would not have caught 44H7DtZPMDxK2siQoGhDGeVNutWfYNi7XZenuPDrc97Y but it's at least a start.

[2022-10-28 01:15] apfitzge opened #28654 "ThreadLocalUnprocessedPackets::process_packets does not preserve queue capacity."
#### Problem
Writing some testing that calls into `process_packets`. I'm logging the initial and final buffer sizes:

<details>
      <summary>Modified Function</summary>

          fn process_packets<F>(&mut self, batch_size: usize, mut processing_function: F)
          where
              F: FnMut(&Vec<Arc<ImmutableDeserializedPacket>>) -> Option<Vec<usize>>,
          {
              error!(

[2022-10-28 03:06] #28511 closed

[2022-10-28 07:05] yihau commented on #28210
just found this. is it the same thing? https://github.com/solana-labs/solana/pull/28176

[2022-10-28 11:40] ryleung-solana commented on #26340
@pgarg66 just wanted to follow up on this. Is there anything left to do on this? The server seems to already compute the max allowed uni streams and set this on the quinn connection, and of course the client already limits the chunk size as well. Is there any other work that needs to be done on this, or can we close this out?

[2022-10-28 13:40] joeaba commented on #28210
lol yes, closing this

[2022-10-28 13:40] #28210 closed

[2022-10-28 14:35] apfitzge commented on #28654
Just confirmed it's an issue in other tests as well (on v1.14 and likely v1.13) - I added an assert in consume_buffered_packets :
[code]
which fails in several tests.

[2022-10-28 15:32] taozhu-chicago commented on #28604
Making a public dashboard for cost/fee stats is in the pipeline: https://github.com/solana-labs/solana/issues/26818

[2022-10-28 15:32] taozhu-chicago opened #28662 "Cleanup banking-stage metrics"

[2022-10-28 15:51] taozhu-chicago commented on #28662
brain dump of what could be helpful information to collect for block producing:

- for each `receive` call,
    - changes to buffer: priority fee, most contended account(s), tx count, drop count, total CUs in buffer, ...
- for each `consume` call,
    - changes to buffer: count of filtered txs, counted of retries, count of failed/dropped, count of *what would be included but didn't, and due to ...

[2022-10-28 15:56] pgarg66 commented on #26340
The peers with low stake might still be limited to lower stream count compared to unstaked peer. I think the equation to compute max allowed streams needs to be reevaluated. The comments referenced in the issue description have more details on it.

[2022-10-28 15:57] taozhu-chicago commented on #28662
Also wish metrics collecting has smaller footprint in code, and possibly to avoid embedding actual code in data collecting code. The aim is to avoid obscuring execution path

[2022-10-28 16:31] overclock-validator commented on #26818
Down to give feedback if I can get access :) I'm probably one of the most picky/interested people in this stuff -7Layer

[2022-10-28 17:21] taozhu-chicago commented on #26818
What access do you need?

Well, transactions are not dropped due to limits, but being put back to queue for retry. There is a separate "drop" count for transactions are too old (or already executed etc)

Agree, some kind of fee distribution would be useful.

[2022-10-28 17:55] overclock-validator1 commented on #26818
Just the dashboard but nbd if you can't share. https://metrics.solana.com:8889/sources/5/dashboards/82?refresh=Paused&lower=now%28%29%20-%2015m.

Ohh I see, so retry for the next slot then I'm guessing.

The only other thing I can think of which could be cool would be some measure of how effective priority is. Idk how to encapsulate that though. I guess you'd need to look at priority spread across

[2022-10-28 18:03] IntokuSatori opened #28666 "Add an RPC API that can query the list of "Top N" secondary index keys and their sizes."
Secondary account indexes can become quite large for certain keys which have many associated accounts in the system and thus require many GB of ram to store and can cause the validator to OOM. When the RPC call is made to the validator it also will just spin in a core and allocate memory and the resulting request will be too large to transmit over a single RPC request requiring many seconds and hi

[2022-10-28 18:12] IntokuSatori opened #28667 "Add pagination support for large secondary index RPC queries."
Secondary account indexes can become quite large for certain keys which have many associated accounts in the system and thus require many GB of ram to store and can cause the validator to OOM. When the RPC call is made to the validator it also will just spin in a core and allocate memory and the resulting request will be too large to transmit over a single RPC request requiring many seconds and hi

[2022-10-28 18:15] IntokuSatori opened #28668 "Page-out infrequently-used secondary indexes to disk."
Secondary account indexes can become quite large for certain keys which have many associated accounts in the system and thus require many GB of ram to store and can cause the validator to OOM. When the RPC call is made to the validator it also will just spin in a core and allocate memory and the resulting request will be too large to transmit over a single RPC request requiring many seconds and hi

[2022-10-28 18:23] IntokuSatori commented on #27661
Addressed in: https://github.com/solana-labs/solana/pull/28383

[2022-10-28 18:27] t-nelson commented on #28667
fwiw, we should generally be pushing people _away_ from using `gPA` and secondary indexes, instead towards a geyser plugin based DB solution.  incentivizing use of `gPA` through improvements should be discouraged

[2022-10-28 19:10] IntokuSatori commented on #28667
So... basically saying not to do this?

[2022-10-28 22:23] joncinque commented on #28063
Yes actually! It looks like we have a pretty good idea of the relationship between transaction size and TPS. Here's the graph:

![image](https://user-images.githubusercontent.com/934662/198740635-352d0c76-8147-4a69-abd1-3fc8352ee2e0.png)

I'd like to get a few extra tests:

* two around the boundary where the transaction requires 2 MTUs. It looks like a basic serialized transfer with one signer ta

[2022-10-29 12:55] #28606 closed, assigned to brooksprumo

[2022-10-29 18:45] brooksprumo opened #28677 "EAH + Snapshots is broken for short epochs"
### Problem

When epochs are short (slots-per-epoch is low), it's possible for a snapshot to contains a _different_ EAH than what was frozen into the Bank at `stop slot`.

#### Example

Assume there are 32 slots per epoch
- `start slot` is 8 and `stop slot` is 24
- When Bank 24 is frozen, an EAH for this epoch has not been calculated yet, so Bank 24 will include the EAH from the previous epoch
- W

[2022-10-30 00:02] bji commented on #19002
Epoch 364:

https://www.shinobi-systems.com/timely_voting_proposal/364/v_3_10_1.html
https://www.shinobi-systems.com/timely_voting_proposal/364/d_3_10_1.html

I might be wrong but it looks like more validators have chosen to lag for more credits.  I see a few in the top 10 that are clearly lagging with > 3 avg latency.

[2022-10-31 15:42] jeffwashington opened #28683 "Feature Gate: set rent_epoch to Slot::MAX for rent-exempt accounts"
### Description

#26509 got activated on mnb.
we can no longer create rent paying accounts.
`rent_epoch` will become meaningless once there are no longer rent paying accounts.
#26509 causes us to 'freeze' `rent_epoch` where it is when rewrites occur.
It would be helpful to freeze `rent_epoch` at a known sentinel value which is consistent for all rent exempt accounts.
Slot::MAX is such a sentinel v

[2022-10-31 15:42] jeffwashington commented on #28585
#28683

[2022-10-31 15:42] #28585 closed

[2022-10-31 17:23] godmodegalactus opened #28685 "Add a native solana instruction to check ordering."
#### Problem
Currently for mango, marker makers used a special program which checks the ordering of transactions. The transaction is canceled if the order in the program is not greater than the expected order.
We have write lock contention most of the transactions take a write lock and fail because of the incorrect ordering. Market makers spam the cluster and most of these transactions are failed

[2022-10-31 18:04] apfitzge commented on #28654
This bug in not-preserving capacity will limit the number of packets we will accept in any `receive_and_buffer_packets` call:
[code]
we won't drop packets that exceed our lower capacity, but we will stop the `receive_until` early if we receive at/over the `capacity - len`.

[2022-10-31 18:10] godmodegalactus commented on #28685
Having this feature is very important before : https://github.com/solana-labs/solana/issues/21883#issuecomment-1227251352

[2022-10-31 19:15] t-nelson commented on #28667
more of a "what problem is this solving that a geyser-based solution can't?"

[2022-10-31 19:28] apfitzge commented on #28685
Link to the code is not working for me

[2022-10-31 19:31] godmodegalactus commented on #28685
Could you check now, Go to https://anchor.projectserum.com/build/313 and then its programs/sequence_enforcer/src/lib.rs

[2022-10-31 19:39] godmodegalactus commented on #28685
@apfitzge saw your message on the tx-scheduler channel, I do not have permission to reply. But you are correct about not locking write accounts if the transaction is going to fail because of sequencing. We can still take a small transaction fee for reading the account for example. I am still thinking of a better solution for removing the need for an `SequenceAccount` account as searching the accou

[2022-10-31 19:43] apfitzge commented on #28685
Yeah that was one of my initial concerns. Other being that until we get central scheduler we'd probably have to check the sequence multiple times - once when we put it into a batch, then again *after* locking. That's better once we only have a single thread doing the "locking".

Going to have to think about it more in general as well. Not gonna happen in the next few days, and I'm trying to wrap s

[2022-11-01 04:53] datphamcode295 opened #28696 "Can not deploy Solana Program: Error Waiting for next block"
I have a problem when trying to deploy a solana program. It repeat
`0.0% | Waiting for next block, 196 pending...   [block height 162745398; re-sign in 257 blocks]
`
until
`Error: Data writes to account failed: Custom error: Max retries exceeded
`
the version I use:
[code]
![image](https://user-images.githubusercontent.com/55711201/199160233-e14a8847-3362-4c66-a698-3f8d7cf2ea04.png)

I tried chang

[2022-11-01 08:09] datphamcode295 commented on #28696
I fixed it by update solana-cli version to v1.13.3
`sh -c "$(curl -sSfL https://release.solana.com/v1.13.3/install)"`
[https://solana.stackexchange.com/questions/4083/blockhash-expired-5-retries-remaining](url)

[2022-11-01 08:09] #28696 closed

[2022-11-01 12:29] arielsegura opened #28702 "Infinite loop error ws error: connect ECONNREFUSED when sending and confirming raw transactions"
#### Problem
SDK Version: 1.66.2

I'm using a `solana-test-validator` along with [test-containers ](https://github.com/testcontainers/testcontainers-node) and the problem is that the test-validator shuts down without properly closing the connection (I can't signal the validator to shut down nicely, it also happens while running the test-validator on the terminal without docker). This can happen re

[2022-11-01 12:56] bmeeder22 commented on #26391
Did this ever get activated?

[2022-11-01 13:37] #26509 closed

[2022-11-01 14:33] lincot commented on #27598
removing `$HOME/.cache/solana` fixed this for me

others should be careful when removing `$HOME/.config/solana` because it contains `id.json` keypair

[2022-11-01 20:45] ozgb opened #28711 "Building for BPF fails using the latest mainnet release"
#### Problem

Building with the latest Solana (v1.13.4) causes a dependency-not-found issue. Tested on **Linux & Windows toolchains locally** and **Github Actions Ubuntu-latest**, building a new project causes this issue:

[code]

Reverting to e.g. Solana version v1.9.29 fixes this. I tried v1.10.40 and it has the same issue.

I was building using [this repo+commit](https://github.com/oscarbailey-

[2022-11-02 01:24] overclock-validator commented on #27608
Will this include charging for the amount of cu requested? i.e. request 1 million cu and pay for the 1 million cu according to some base fee per cu cost? Right now larger cu transactions pay the same as very small cu transactions -- it just takes more $ to prioritize them, but given that it's still not that clear whether or not priority is helping on mainnetbeta yet I think it makes sense that lar

[2022-11-02 06:10] UMANGAWASTHY opened #28718 "passing minContextSlot value in getTokenAccountsByOwner, but it’s always return same result"
Hello Solana Team,

I am passing minContextSlot value in getTokenAccountsByOwner, but it’s always return same result.
 Here is my curl query
curl --location --request POST 'https://solana-api.projectserum.com' \  --header 'Content-Type: application/json' \ --data-raw '
  {  "jsonrpc": "2.0",  "id": 1, "method": "getTokenAccountsByOwner",  "params": [ "5Xm6nU1Bi6UewCrhJQFk1CAV97ZJaRiFw4tFNhUbXy3u",

[2022-11-02 07:42] Lichtso commented on #20323
I finished the task "Restrict the callx jump targets to only allow known symbols": https://github.com/solana-labs/rbpf/pull/397

However, there are some new ideas what to add to SBFv2:
- BTF for type tracking at load time. Can potentially be used for skipping memory access checks at runtime.
- Restricting jumps to their local function.
- Removing `sub imm` or swapping the register and immediate op

[2022-11-02 08:27] ryoqun commented on #28685
@godmodegalactus hey, I'm another scheduler guy.

just curious. why not just continuously out-bid your own older txes by small increment of `SetComputeUnitPrice`?

from validator's perspective, they just want to maximize tx fees. so, they just pack txes as much as possible, not caring tx fails or not. Prioritization doesn't incur incentive misalignment, so that works as best-effort basis. but, seq

[2022-11-02 08:31] ryoqun commented on #28685
also, note that a bit convoluted but you can use ephemeral barely-funded fee payer accounts as a nonce. so, once the highest tx got included into a block, all other stale txes of the some kind of same generation or older won't get included due to unfunded transactionerror.

[2022-11-02 08:47] a26nine commented on #26391
Yes, it did. A few weeks ago...

[2022-11-02 08:53] IsaGULER commented on #23128
facing the same issue on testnet, are there any update or solution for this error?

[2022-11-02 11:58] mschneider commented on #28685
let me give a bit of background on the use-case:

A reasonable update frequency for HFT traders is around 10hz, so they sign and submit a transaction every 100ms. The desired logic here is that when the cluster process a new update (t=0), that prevents any update (t<0) from ever getting processed as it contains stale data. In the current forwarding scheme with RPCs resubmitting transactions or lea

[2022-11-02 13:54] rabbygit commented on #25069
Is there any update about this issue?

[2022-11-02 14:03] ryoqun commented on #28685
@mschneider thanks for detailed explanation. love to see concrete use case of solana for hft.

well, I wanted to say that you can just continue to use the sequence-enforcer program as before with some tweaks.

Given the explanation, I'm still thinking the status quo solution is the best for market-maker's interest (desired strict enforcement of sequencing). I'm not sure adjusting something at prot

[2022-11-02 14:15] steveluscher commented on #25069
Hey! No update, no. Still worth doing though! We just have to do it thoughtfully. I haven't sat down to really think about whether making the Agent an explicit input is the right thing to do (breaking change) or whether to add a destructor (not effective unless people use it).

[2022-11-02 15:46] brooksprumo opened #28722 "When getting the EAH for snapshots/to serialize, we MUST wait for in-flight EAH calculations to finish"
### Problem

If a snapshot request for a bank comes in very soon after an EAH request, it is possible that the EAH calculation is in-flight (i.e. *not* complete) (in AHV) by the time the snapshot request is handled and needs it (in ABS, when adding bank snapshot). This means the bank snapshot would have the *wrong* EAH!

### Proposed Solution

Snapshot requests in the EAH calculation window *must*

[2022-11-02 16:59] aeyakovenko commented on #21366
Fixed in https://github.com/solana-labs/solana/pull/27456

[2022-11-02 17:11] kpaddy commented on #24871
@lijunwangs  wondering if this functionality has been implemented? if not any ETA?

[2022-11-02 17:47] kpaddy opened #28727 "GeyserPlugin Account updatess"
#### Problem

Geyser plying account update event sends accounts  , event if the state is not changed. We notice thousands of account events even if there is no change in data buffer nor lamports. Is it sage to assume all accounts loaded as part of a transaction is sent as events?
We are saving the accounts updates to a database. By receiving only modified accounts update, we can avoid unnecessary

[2022-11-02 19:05] totikom commented on #28366
I am working on ivy bridge and building `v1.14.7` right now.
I report, if this (or other above-mentioned releases) will work and I'll try to bisect the problematic commit.

[2022-11-02 19:14] grimAgent commented on #21366
It's a Breakpoint miracle! 🙌

Jokes aside, thank you so very much to everyone who worked on this.  ❤️

[2022-11-02 20:12] dahifi commented on #21366
ZOMG thank you so much.

[2022-11-02 20:17] CriesofCarrots commented on #28718
Hi @UMANGAWASTHY . That parameter guarantees that the result is from a slot greater than or equal to the value passed. Otherwise, you will receive an error. With a slot value so far in the past, any current block will meet the criteria.
I'm closing this, since there's no bug here. But if you need more support in using this parameter, please ask on Solana Stack Exchange https://solana.stackexchange

[2022-11-02 20:17] #28718 closed

[2022-11-02 21:46] steviez commented on #28366
Given that v1.14.3 didn't work for the person who opened the issue, I wouldn't expect any subsequent v1.14 release to work either.

Sounds good

[2022-11-03 04:24] CriesofCarrots commented on #26344
I'm disinclined to send 100+ more bytes per status over the wire. Given that the order will always be respected, it should be straightforward to build objects like your example from the list of signatures and the response.
Closing this as not planned for now.

[2022-11-03 04:24] #26344 closed

[2022-11-03 04:32] CriesofCarrots commented on #26384
@kevinheavey , I believe your use-case is addressed with the `solana-rpc-client-api` crate that will come with v1.15: https://github.com/solana-labs/solana/tree/master/rpc-client-api
Can you confirm? Thanks!

[2022-11-03 04:38] CriesofCarrots commented on #26374
@kevinheavey, you're just talking about input fields that get sent to the RPC server, correct?
If so, I think we could actually do this. I'd review a PR to do this, if you're still willing after all this time!

[2022-11-03 08:34] kevinheavey commented on #26384
@CriesofCarrots I will check and confirm but iirc the reqwest dependency there is enough to break portability

[2022-11-03 09:34] 0xMQQ commented on #21366
This is AWESOME! Thank you so much for working on this!

[2022-11-03 12:14] UMANGAWASTHY commented on #28718
Hi @CriesofCarrots. do we have chanse to pass blockno in query, so i can get token account balance up to that particular block height.

[2022-11-03 12:45] #26340 closed

[2022-11-03 16:11] vladwix commented on #23613
Wouldn't it be better to separate address space by some flag? One bit or one byte of an address would determine whether it's a keypair or PD address. It could probably even be backwards compatable if new addresses are extended and not shrunk.

[2022-11-03 16:24] vladwix commented on #23613
Regarding current approach: it's still possible that some set of seeds with all possible bumps would lie on the curve, making some program broken. That probability is somewhat around private key guessing. Are there any plans to make it zero as well?

[2022-11-03 17:09] CriesofCarrots commented on #26384
I do have removing reqwest on the radar here: https://github.com/solana-labs/solana/issues/27352
This issue only refers to `solana-streamer` by name, however, so not clear to me what else is a blocker. Thanks!

[2022-11-03 17:43] godmodegalactus commented on #28685
@ryoqun : In a distributed system we cannot guarantee that the current leader has knowledge of all the transactions. In your example if the current leader is only aware of txA and txB it will execute txB as it is unaware of txC. The next leader cannot execute txC as there are insufficient funds in nonce but the MM wants to execute txC as it is most recent price. MM only care if all txA, txB and tx

[2022-11-03 18:00] NAJIB-B opened #28740 "Issues with solana test validator"
#### Problem

I am new to solana, when I ran solana-test-validator on my wls ubuntu  it's was saying Aborted (core dumped)
So download the source code from
`git clone https://github.com/solana-labs/solana.git`
I built it using this commad
`cargo build --bin solana-test-validator --release`
and I ran it using
`./target/release/solana-test-validator`
But I am still getting this error

Ledger locatio

[2022-11-03 18:06] NAJIB-B commented on #28740
this is the log
`
[2022-11-03T18:05:04.738486300Z INFO  solana_test_validator] solana-validator 1.15.0 (src:devbuild; feat:2215009844)
[2022-11-03T18:05:04.742613000Z INFO  solana_test_validator] Starting validator with: ArgsOs {
        inner: [
            "./target/release/solana-test-validator",
            "--log",
        ],
    }
[2022-11-03T18:05:04.754092800Z WARN  solana_perf] CUDA is di

[2022-11-03 19:53] totikom commented on #28366
I've found the commit, there the problem was introduced: 85f4a3e4c4ca1c6f2977644fd53edc789b5eb581
The problem is in [reed-solomon-erasure](https://github.com/rust-rse/reed-solomon-erasure) crate, which uses explicit AVX2 code. In the docs the authors state, that setting the `RUST_REED_SOLOMON_ERASURE_ARCH` variable can help. I'll try it and report the results.

[2022-11-03 20:43] ARitz-Cracker opened #28743 "Solana 1.13 (stable) branch uses an outdated rustc"
(According to [this](https://github.com/solana-labs/sbf-tools/issues/38#issuecomment-1067387386), I should open an issue here)
Hey there, I'd like to use some features available in the last couple versions of rust, Most notably workspace-wide dependencies, and `if let else`. I'm currently using the "stable" branch which currently serves 1.13.x as we're targeting mainnet.

I've discovered that the

[2022-11-03 21:10] totikom commented on #28366
I've successfully compiled `solana-test-validator` with:
[code]
it works without any problems.

Btw, this variable is passed as a `-march={}` flag to CC, so any `march` value should work.
This behavior is introduced in this [PR](https://github.com/rust-rse/reed-solomon-erasure/pull/98/commits/aa1bf493931db04fb5044409a1bb5a3aa0e06a22).

Maybe we should add a note in "Building from source" section f

[2022-11-03 21:13] eeexception commented on #28366
Thank you much for the solution. I'll try it then.

[2022-11-06 16:18] taozhu-chicago opened #28751 "Promote transactions with requested CU"
#### Problem

Need to promote users to start setting accurate compute-unit-limit (aka requested CU) for their transactions.

#### Proposed Solution
Sort transactions with same priority by lowest requested CU first.

[2022-11-06 16:19] taozhu-chicago commented on #28751
tag @aeyakovenko @apfitzge

[2022-11-06 16:44] majchrzamemil commented on #28711
I've encountered the same issue with version 1.10.35

[2022-11-06 17:32] Lichtso opened #28755 "ABIv2 road map"
The performance optimizations we have been working on inside the runtime under the ABIv2 project the past year will be deployed separately as ["account data direct mapping"](https://github.com/solana-labs/solana/pull/28053). The redesign of the ABI between runtime and on-chain program is pushed out further as we changed the goals again. A discussion with @alessandrod and @pgarg66 led to the follow

[2022-11-07 00:11] DavidPesta commented on #25069
Thanks for working on this. Looking forward to this being resolved. :+1:

[2022-11-07 04:27] steviez commented on #28740
I see that your machine lacks `AVX2` so this is seemingly a duplicate of https://github.com/solana-labs/solana/issues/28366; someone seemingly found a workaround here https://github.com/solana-labs/solana/issues/28366#issuecomment-1302667020.

Going to close this issue as I'm pretty confident about this being the same issue, but feel free to reopen if that ends up not being the case

[2022-11-07 04:27] #28740 closed

[2022-11-07 04:34] #28743 closed

[2022-11-07 04:36] steviez commented on #28743
As the bot message says, can you please ask this on stack exchange (or maybe even check if this has already been asked / answered).

If this question has not been asked/answered yet, post the stack exchange link here and I will answer it if someone doesn't beat me to it

[2022-11-07 08:37] #28153 closed

[2022-11-07 12:36] steviez commented on #28634
@linuskendall - Per our conversation, this is not staffed but you may be interested in playing around with this on your side

[2022-11-07 16:45] steviez commented on #25818
Just ran `solana-ledger-tool analyze-storage` on some recent blocks:
[code]
Row refers to kv whereas val refers to just v; k is 16 bytes (u64 for slot && u64 for shred_id). So
[code]
And then
[code]
Need to double check this, but seems like the significant drop in network bandwidth could warrant the additional overhead that would be incurred by the process that @behzadnouri mentioned above. Not a

[2022-11-07 16:56] ruuda commented on #23133
This also relates to #20593 — it is implementation-dependent how these multiple config accounts are handled. A proper solution would be to abandon the config accounts and put the validator details in the identity account; it would also sidestep a few current footguns in the current design.

[2022-11-07 17:10] vbstreetz commented on #21366
@jordansexton looking forward to seeing this working in the adapter lib..

[2022-11-07 20:16] ARitz-Cracker commented on #28743
@steviez How is this a question applicable for the stack exchange? My issue is that the version of rustc and cargo that ships with the 1.13 solana program toolchain is outdated and prevents me from using newer rust features I'd like to use.

Even though I have rustc 1.65.0 installed on my system, I am limited to 1.59 features as that's the version of rust `cargo build-bpf` calls upon.

[2022-11-08 04:11] michaelh-laine commented on #23133
Is this possible with the identity account currently being a "standard" account owned by the system program? one thing to consider, albeit minor and solvable, is that stake pools use the config program/validator info methodology to publish pool name, etc for use on third party tracking sites, by using the pool manager's key

[2022-11-08 04:20] metaproph3t opened #28763 "Inconsistency w.r.t. determining if an instruction is top-level"
#### Problem

In [invoke_context.rs](https://github.com/solana-labs/solana/blob/0347d9cf78847d4a4f572fa9d2c52edd2927c0db/program-runtime/src/invoke_context.rs#L663-L666), the following is written:

[code]

In [transaction_context.rs](https://github.com/solana-labs/solana/blob/0347d9cf78847d4a4f572fa9d2c52edd2927c0db/sdk/src/transaction_context.rs#L260-L264), the following is written:

[code]

In [

[2022-11-08 05:44] choldas-rwaltz opened #28764 "Error: Data writes to account failed: Custom error: Max retries exceeded"
#### Problem
I am trying to deploy the smart contract on Solana but getting an error. I followed all the required steps.
Even though I have created a new wallet and new program Id but still not able to deploy.

I have contacted to support team but they said
"I saw ping times going up a few hours ago in the Devnet cluster. Temporary network degradations could be the cause of the issue https://explo

[2022-11-08 11:14] z3000z3000z3000 commented on #28764
update solana to 1.14 ?

[2022-11-08 18:46] #28764 closed

[2022-11-08 22:26] CriesofCarrots commented on #23133
The right answer is probably to transition to an on-chain validator info program that stores the details in a PDA derived from the identity account. The existing system predates PDAs 😅

[2022-11-09 01:23] adrianperreault commented on #27902
This fixed it for me (on an M1 macOS 13.0) :
[code]

[2022-11-09 01:27] adrianperreault commented on #22404
This fixed it for me (on an M1 macOS 13.0) :
[code]

[2022-11-09 04:14] oscarbailey-tc commented on #28711
[Looks like a potential solution is to use the solana 14.4.7 tools](https://github.com/pyth-network/pyth-sdk-rs/pull/85)

Solana version 1.13.4 in dependencies, compilation now works for me

[2022-11-09 15:05] carllin opened #28774 "Prevent unstaking past leader schedule computation for next epoch"
#### Problem

#### Proposed Solution

[2022-11-09 15:06] #28774 closed

[2022-11-09 23:24] nyunyunyunyu commented on #26622
Hi @ryoqun @CriesofCarrots I'm wondering the expected behavior of `getStakeActivation` because I saw your conversation at #13605.
Let's assume a stake account becomes active at epoch X with 100 active stake and it earns 5 rewards each epoch. In my understanding the expected response of `getStakeActivation`  for this stake account be:
[code]

But based on [this test](https://github.com/solana-labs/

[2022-11-10 02:55] dump-block opened #28780 "How to calculate the next nonce without requesting RPC ？"
## How to calculate the next nonce without requesting RPC ？

[2022-11-10 06:38] samuelmaina commented on #11245
Hello @jstarry.
I am not able to comprehend what you mean by map card. Please can you explain?

[2022-11-10 11:16] manuelmanx commented on #28061
I get the same issue right now, how to fix it?

[2022-11-10 13:29] DaveWK commented on #28061
^^ As stated in my last reply, my system clock had drifted about 1 minute into the future. make sure chrony is configured properly, and restart the chronyd service to see if it makes an adjustment.

[2022-11-10 15:28] KirillLykov commented on #28063
To document how I run these tests:
[code]

[2022-11-10 15:33] KirillLykov commented on #28063
Case with 2249 fails with error `Transport error: Custom("\"WriteError(Stopped(0))\"")`

[2022-11-10 15:55] KirillLykov commented on #28063
padding size | tx count / batch | TPS
---|---|---
0 | 50k | 17919
1017 | 50k | 6172
1018 |  50k | 6276
1633 | 50k | 4508 |
2200 | 50k | 3649 |
2245 | 50k | x |

[2022-11-10 17:58] steveluscher opened #28783 "web3.js Roadmap – November 2022 – Discussion thread"
What do you want to see accomplished in `@solana/web3.js` in the month of November 2022?

Milestone: https://github.com/solana-labs/solana/milestone/202

[2022-11-10 17:59] steveluscher commented on #28180
I'll parcel these out in to issues so they don't get lost, @mschneider. Thanks for the contributions!

[2022-11-10 17:59] #28180 closed

[2022-11-10 19:11] KirillLykov commented on #28063
Script for the plot

[code]

[2022-11-10 19:11] behzadnouri commented on #25818
An alternative way to address this issue is to optimize the coalescing/buffering of entries here:
https://github.com/solana-labs/solana/blob/628ac0d4e/core/src/broadcast_stage/broadcast_utils.rs#L34-L98
before `[Entry]` is converted to shreds.
The larger `[Entry]` is, the smaller zero padded buffer is per shred (i.e. amortized).
The trade-off is obviously how long it takes since entries are genera

[2022-11-10 20:55] taozhu-chicago commented on #27608
Good point. Requesting more CUs does increase transaction fee rn, perhaps just not significant enough.

Transaction_fee = signature_fee + write_lock_fee + prioritization_fee + compute_fee. (https://metrics.solana.com:8889/sources/5/dashboards/82?refresh=Paused&lower=now%28%29%20-%2015m), where prioritization_fee = compute_unit_limit * compute_unit_price. (eg. requested CU * priority rate). Since t

[2022-11-10 23:58] taozhu-chicago commented on #28685
@godmodegalactus can you elaborate proposed solution? Does the new ix provide to leader the sequence number of transaction, and _if_ leader keeps the last sequence number as a local state, then it _could_ drop transactions that satisfy condition of `tx.ix.sequence_number < leader.local_state.last_packed_tx.ix.sequence_number`?

[2022-11-11 01:30] phoenixeliot commented on #27832
Just chiming in to say I would like this too. I create one nonce per [thing] and then close out the nonce account once the transaction goes through; this setup is to make the transactions preparable ahead of time and still idempotent. But I don't want to be slowly bleeding sol to rent fees on nonce accounts. I can just close the nonce account after this transaction but it's not ideal because that'

[2022-11-11 06:53] godmodegalactus commented on #28685
@taozhu-chicago yes exactly. But this sequence number is different for each user. After some thoughts we could incentivize validators more to process these transactions.

[2022-11-11 10:54] KirillLykov commented on #28063
To simulate a realistic TPS(tx size), we need to set up machines from different datacenters talking to each other and relaunched the script above

[2022-11-11 15:36] taozhu-chicago commented on #28685
Makes sense sequence_number is per user_id. I'm wondering, since you are preparing to incentivize validators to allocate cpu/memory to honor the ordering, would it be possible to do this during packet receiving, before sending to validator? My initial thoughts are similar to @ryoqun's that modifying protocol  may not be the best course, but I need to understand the issue more.

[2022-11-11 15:38] apfitzge commented on #28685
@godmodegalactus trying to think through how this would work from a malicious point of view, and I'm not sure this really solves a problem in a satisfying way once we have a scheduler.

I think the ideal case for the *user* is that a scheduling algo would only keep & process the most up-to-date (highest seqnum) transaction: in your example txC. With txA, txB being dropped either with no fee or sma

[2022-11-11 18:55] taozhu-chicago commented on #28751
Would like to hear more inputs. I had a comment here: https://github.com/solana-labs/solana/pull/28791#discussion_r1020484409

[2022-11-11 19:28] apfitzge commented on #28751
Yeah, let's move the discussion of that here instead of in the PR.

Having a bool and using that for ordering would make it strictly only prioritize those txs with requested CUs, which seems more fair. If we go by lower CU limits, then heavier transactions are pushed lower into the queue.

[2022-11-11 21:05] taozhu-chicago commented on #28751
yeah, then we need to update `compute-budget` to let call site know if `set_compute_unit_limit` instruction was present in transaction. Currently default 200KK is used if compute-unit-limit is not requested explicitly.

[2022-11-11 21:06] taozhu-chicago commented on #28751
@t-nelson @jstarry @carllin wdyt?

[2022-11-11 21:40] steviez commented on #23248
On the next v1.13 release, things should be significantly better with:
https://github.com/solana-labs/solana/pull/28721

[2022-11-11 23:32] #28146 closed

[2022-11-12 00:51] overclock-validator commented on #28751
If you charge a base fee per cu that should incentivize more accurate estimation right? How nuanced will the compute request get btw? If compute requested is used later on for bankless leaders and block packing (vs estimation) then nuanced requested compute seems like it'll be needed.

[2022-11-12 02:51] taozhu-chicago commented on #28751
Yep, part of transaction fee charged is prioritization `= requested_cu * compute-unit-price`. It just the `compute-unit-price` isn't high enough in mainnet-beta right now, so it doesn't make too much a difference in charged prioritization fee. Hope it'll change when more user bidding for priority, with more accurate CUs.

Absolutely good point.

This is something worth consider for sure. I wish to

[2022-11-12 03:07] overclock-validator commented on #28751
Right right. So in some future where block packing is based on scheduling based on requested compute vs estimated, compute estimations will will naturally become better when demand rises (because people will want to avoid excess fees).

What if you just start with the compute requested defaulting to something lower than 200k? 5k for example

[2022-11-12 08:43] godmodegalactus commented on #28685
@apfitzge @taozhu-chicago We can wait and check the performance difference after releasing the first scheduler implementation. This feature will help to prefilter the transactions so that we avoid extreme write lock contention on the market accounts like event queue, asks and bids when there is a lot of congestion. But I agree this problem will be less important (impacting) if the scheduling stage

[2022-11-12 11:14] dancamarg0 commented on #28479
Just to add to this issue we see it on v1.13.3 as well, and immediately after getting all the behavior described above we see also CPU time going up for the `tokyo-runtime-rw`
![image](https://user-images.githubusercontent.com/67828229/201471272-0c61e66f-b7b5-4c27-ad14-44f800809d70.png)

Here are some quic stats at the time
![image](https://user-images.githubusercontent.com/67828229/201471346-f046

[2022-11-12 15:37] 0xCactus commented on #27859
Bump on this as Solend often sees this error

[2022-11-14 17:02] taozhu-chicago commented on #28751
Yea, thought that's a good alternative too. By shrinking default from 200K to much smaller size, many transactions currently not requesting CUs will fail until start requesting.

@jackcmay @Lichtso do you think OK to reduce default CU from 200K to 5K?

[2022-11-14 17:34] #28722 closed, assigned to brooksprumo

[2022-11-14 18:46] Lichtso commented on #28751
That would pretty much kill the network instantly. IMO, the only way to do it is slowly, decreasing it over many epochs.

[2022-11-14 19:25] overclock-validator commented on #28751
I think all the MEV people would be aware pretty quickly if their transactions aren't going through. Transfers and basic functions would still work, along with simpler oracle updates. There probably needs to be clear announcements around it though such as on twitter and discord.... a lot of this stuff seems way to hidden and hard to find in github. Wallets also still haven't added any priority fun

[2022-11-14 20:48] brooksprumo opened #28804 "The EAH Invalid state should be guaranteed to not be allowed"
EAH has three states: Valid, In-Flight, and Invalid. The Invalid state occurs when (1) starting from genesis, before an EAH has been taken. This also is the case for many tests, or (2) when loading from a snapshot that does not contain an EAH. (2) will happen commonly, as half the epoch will not require an EAH in the snapshots.

Since snapshots now are required to wait for EAH calculations to comp

[2022-11-14 21:02] #28645 closed, assigned to brooksprumo

[2022-11-14 21:14] Vovans commented on #19985
I've got the same

`[2022-11-14T14:31:23.923761809Z ERROR solana_metrics::metrics] datapoint: panic program="validator" thread="solana-bg-accounts" one=1i message="panicked at 'capitalization_mismatch. slot: 160996216, calculated_lamports: 533492921110225899, capitalization: 533492921110225915', runtime/src/bank.rs:6217:13" location="runtime/src/bank.rs:6217:13" version="\"1.13.3 (src:3271b83d; fe

[2022-11-14 21:47] steviez commented on #19985
The difference in these two numbers is 16 (base 10), so it follows that they only differ by one bit in binary
[code]

[2022-11-14 23:39] #20336 closed

[2022-11-15 13:54] rozum-dev opened #28811 "snapshot finder"
#### Problem
At the start of running node process it is not clear from where and what snapshot is downloaded, at what speed etc. The download status is not obvious as a result the process may hang downloading the snapshot for more than an hour.
On the other hand, a community member has developed a useful tool for downloading snapshots, which is actively used by validators. It has a large number of

[2022-11-15 14:07] KirillLykov commented on #28811
The default way of loading snapshots is:
* time consuming
* time to download is unpredictable, sometimes it just takes too long and user restarts the process

To address these problems, an alternative tool is available: https://github.com/c29r3/solana-snapshot-finder
It allows to
* setup constraints (min download speed, etc)
* find the best node to download
* download snapshot from this node using

[2022-11-15 15:45] michaelh-laine commented on #28479
Having enabled full-rpc-api on our staked validator last Friday we saw a massive spike in skip rate, with about 30% of leader slots being skipped. After disabling full-rpc-api we resumed normal skip rate.

We did not advertise the RPC port in gossip and it was exposed to a single sender via IP whitelist only, so it seems more likely just having the flag set rather than anything else triggering it,

[2022-11-15 17:37] steviez commented on #28811
I just booted up a node so I could remind myself about these things.

Running v1.14.7, `solana-validator monitor` displays this information
[code]
As to "what snapshot", once a node has been selected, their latest snapshot is chosen for download.

It could be nice to have download speed bubbled up to `solana-validator monitor` (not sure how invasive that would be), but this information is present

[2022-11-15 17:38] matt-allan commented on #25314
Hey there,

Before finding this issue I was thinking about spinning out an unofficial "web3-lite" package based on a lot of these same principles. Some thoughts on how this could be done below:

Something that I think may be helpful for this effort that I haven't seen mentioned elsewhere is starting with an [interface description language](https://en.wikipedia.org/wiki/Interface_description_langua

[2022-11-15 18:26] #28677 closed, assigned to brooksprumo

[2022-11-15 18:29] steveluscher commented on #25314
If you could see my screen right now, you'd see a bunch of stuff open to autogenerate TypeScript interfaces from the Rust implementation of the RPC. I'm 100% with you, and working on this now.

100%.

I'm going to do one better; the JSON RPC API is going to become all types and almost no implementation, yet with the same ergonomics as people are used to today. Take a look at how I implemented the

[2022-11-15 19:55] #26607 closed

[2022-11-15 21:58] #26834 closed

[2022-11-16 01:33] overclock-validator commented on #28811
It works pretty well but one of the issues has been that it grabs 1.10 snapshots from some old rpcs apparently and this leads to an incompatibility like this:
[2022-11-08T23:41:32.156396684Z WARN  solana_runtime::snapshot_utils] Snapshot Error: "invalid snapshot data file: /mnt/md0/solana-mainnet/ledger/snapshot/tmp-snapshot-archive-2FV9Pz/snapshots/160037629/160037629 has 495007557 bytes, however

[2022-11-16 05:56] michaelh-laine commented on #28479
Perhaps I misunderstood the implications of this bug but given the connection between enabling RPC and extremely high skip rate and seeing this issue my first thought is that enabling RPC is somehow affecting the validator's ability to transmit it's shreds timeously.

[2022-11-16 08:43] oscarbailey-tc commented on #28711
More info on this, building with new tools you should still use the `cargo build-bpf` command - I got this error when using `cargo build-sbf`:

[code]

[2022-11-16 09:22] tazhate opened #28829 "Method not found"
#### Problem

When i try to curl node i am receiving this error. How do i fix it or enable this method?

[code]

[2022-11-16 09:39] KirillLykov commented on #28811
@overclock-validator Having a PR would really help, any ideas about this matter (or related) are appreciated

[2022-11-16 11:21] yahya-cloud opened #28830 "Explorer: Multiple phantom debug logs"
#### Problem
- There is a Phantom Debug console log only in Firefox browser whenever a component is rendered. I've also attached the photo below.

#### Proposed Solution
- Either we eliminate phantom console log completely or only allow it at the start of the application

![Screenshot (295)](https://user-images.githubusercontent.com/59670962/201358928-b34060a9-1bf5-4a76-b3b2-ae651062c407.png)

[2022-11-16 14:01] bonedaddy opened #28832 "Solana Client Crate In 1.14.X Emits Needless Information Logs"
# Overview

The `1.14.X` series of releases for `solana-client` and `solana-metrics` emit a large number of logs at the `info` level, which are quite useless as information logs, and instead should be debug logs:

For example consider the following snippet, none of these are what I would consider `info` logs, and instead are suitable as debug level logs.

[code]

# Solution

Tag the logs at the `d

[2022-11-16 16:42] dmakarov commented on #28711
Interesting. Underneath `cargo build-bpf` invokes `cargo build-sbf` to build a crate.

[2022-11-16 21:35] #25869 closed

[2022-11-17 00:05] overclock-validator commented on #27608
Thanks for the input.

Unfortunately I can't see those grafana metrics :/ Perhaps that and the compute related metrics would be really nice to see on the public grafana dashboard. There was the issue of oracle transactions going stale last week and I think people might have noticed earlier had we seen that account/block compute limits were close to saturation.

[2022-11-17 04:43] 1saf commented on #28156
Did you manage to solve this? Having the same problem

[2022-11-17 04:47] Alwin24 opened #28849 "v0 transactions don't have partialSign method available"
#### Problem
I am trying to replicate the following with VersionedTransaction - Backedend API -

[code]
Frontend -
[code]
But with versioned transactions @solana/web3.js library there is no partialSign method or serialize without requiring all signatures, so when I try to deserialize it I get an error saying **signatures.length does not match**
#### Proposed Solution
Implementing **transaction.par

[2022-11-17 05:48] archseer commented on #28180
Can you link to these follow-up issues?

[2022-11-17 05:49] #28591 closed, assigned to brooksprumo

[2022-11-17 09:06] motoras commented on #28156
No. I just avoided using musl, by using  a more recent cargo lambda and compiling for arm.

[2022-11-17 16:01] #28804 closed, assigned to brooksprumo

[2022-11-17 16:51] #28829 closed

[2022-11-17 16:53] steveluscher commented on #20743
Closing this on the basis of #23720 having been merged; please reopen if there's more work to be done!

[2022-11-17 16:53] #20743 closed

[2022-11-17 17:03] apfitzge opened #28853 "MultiIteratorScanner - check read-locks"
#### Problem
Currently the `should_process` function passed to the MultiIteratorScanner only considers write-locks for accounts. It should consider read-locks in order to make sure we don't create conflicting batches.

#### Proposed Solution
Add read-locks to the `should_process` function used by MultiIteratorScanner

[2022-11-17 17:06] #28849 closed

[2022-11-17 17:07] steveluscher commented on #28849
Hey there! I think your problem stems from some confusion about the API. Can you tag me after you post this as a Stack Exchange question, and I'll hop in and answer it? The answer will go on to help others that have the same trouble.

[2022-11-17 17:10] martincik commented on #25955
Any update on this one?

[2022-11-17 17:17] steveluscher commented on #28180
Batching: #28785
Confirmation improvements: #25955

Regarding a combined send and confirm function, we [have one](https://github.com/solana-labs/solana/blob/master/web3.js/src/utils/send-and-confirm-transaction.ts), and it _should_ inherit the confirmation improvements from #25955.

[2022-11-17 17:28] steveluscher commented on #25955
#28290 is basically ready to ship. Things I want to do before shipping it:

1. Test it more
2. Contact RPC operators and double check with them that adding one `getSignatureStatuses` call to _every_ transaction confirmation is something that the clusters can absorb.

[2022-11-17 21:18] taozhu-chicago opened #28863 "Identify the default value for transaction account data size limit"
#### Problem

#27840 introduced a new compute-budget instruction to set max account data size limit per transaction, transactions try to load more than the limit will fail (https://github.com/solana-labs/solana/blob/master/docs/src/developing/programming-model/runtime.md#accounts-data-size-limit).

The default limit currently sets to 10MiB (defined [here](https://github.com/solana-labs/solana/blob

[2022-11-17 21:18] taozhu-chicago opened #28864 "Not to load builtin programs and their accounts into memory"
#### Problem

Builtin programs have their accounts that contain their name, and are stored in AccountsDB to make sure the owner field is `native_loader`. Builtin programs are loaded during transaction loading only to resolve the executable chain. By loading these program into memory, they unnecessarily consume transaction's account data size limit.

#### Proposed Solution
- not to load builtin pro

[2022-11-17 21:22] taozhu-chicago commented on #28863
tag @jstarry @Lichtso @brooksprumo @sakridge

[2022-11-17 21:23] taozhu-chicago commented on #28864
tag @jstarry @Lichtso @brooksprumo @sakridge

[2022-11-18 00:53] 1saf commented on #28156
@steveluscher would it be possible to support MUSL rust by implementing the change to use .into() ?

[2022-11-18 01:01] frbrkoala opened #28866 "Switch integration with BigTable from gRPC-based to ODBC-based to remove vendor lock-in"
#### Problem
Solana RPC/Warehoise nodes use Google’s BigTable service as their primary store for [Long term RPC Transaction History feature](https://docs.solana.com/implemented-proposals/rpc-transaction-history) (https://docs.solana.com/implemented-proposals/rpc-transaction-history). There are two consequences of this decision:

* The costs of BigTable service is quite expensive for majority of po

[2022-11-18 03:52] steveluscher commented on #28156
I don't know, but feel free to open an issue here, phrased as a feature request!

[2022-11-18 08:39] linuskendall commented on #28866
@frbrkoala Triton along with a few others have a shared slack space where we're discussing a replacement. If you e-mail me lk@triton.one with a little introduction I can add you to it.

[2022-11-18 08:49] linuskendall opened #28871 "Geyser interface seems to not notify slots / block metadata on startup correctly"
#### Problem

We have been observing that the Geyser interface does not report metadata and slot notifications during start up.  In particular, it looks like there is about 100-150 slot gap where we are not receiving slot updates or block metadata updates but we _are_ getting account updates.

Here's an example slot for which no slot or block metadata update was sent (the `geyser_pg::postgres` log

[2022-11-18 08:50] linuskendall commented on #28871
This might be a duplicate of issue: https://github.com/solana-labs/solana/issues/27842

[2022-11-18 09:23] KirillLykov commented on #28401
One thing I thought might be generally useful is to place wrapper for all three clients (now in bench-tps) to a common place in solana repo so that it can be accessible by clients

[2022-11-18 15:56] taozhu-chicago commented on #27608
Right, an issue https://github.com/solana-labs/solana/issues/26818 is in the queue to make a public dashboard for these metrics.

[2022-11-18 17:08] roguzh commented on #21366
I have been following your suggestions but got confused at the part about requiring signature from an account public key that you can't have the private key.

Would it be possible to verify the actual wallet's (user's) signature?

[2022-11-18 17:50] #21366 closed

[2022-11-18 19:15] #28830 closed

[2022-11-18 19:21] taozhu-chicago commented on #28863
Yep, the default is currently allowing create an account with max size, as in this test (https://github.com/solana-labs/solana/blob/master/runtime/src/bank.rs#L18543-L18557).

[2022-11-19 06:39] jia-ayo commented on #27598
i got this error after running cargo-build-sbf
[code]

[2022-11-19 11:28] c410-f3r commented on #27598
This `getrandom` error is unrelated. The Solana team didn't reply this thread so you are probably better off asking the responsible people through other channels or opening a new issue.

[2022-11-19 11:33] jia-ayo opened #28892 "cargo-build-sbf runtime error"
i got this error after running cargo-build-sbf

[code]

[2022-11-19 11:34] jia-ayo commented on #27598
thanks i have done just that

[2022-11-19 18:13] apfitzge opened #28894 "Multi-Iterator: Partially resetting iterators"
#### Problem
The current 'should_consume' used by multi-iterator implicitly assumes that if A and B conflict, and, B and C conflict, that A and C conflict. Can lead to ineffective iteration for these skipped txs.

https://discord.com/channels/428295358100013066/987445907031199844/1043573217547276469

#### Proposed Solution
Check if this is happening in reality.
Reset the iterator to last iterator

[2022-11-19 18:14] apfitzge commented on #28894
@HaoranYi tagging you

[2022-11-19 21:26] apfitzge opened #28896 "Missing snapshot slot error message"
####
Error message should be more clear, and not panic.

https://discord.com/channels/428295358100013066/916393201772929065/1043637552684482601

#### Proposed Solution
Improve error message. Don't panic

[2022-11-20 02:56] dmakarov commented on #28892
I don't know what dependencies your project is using, but `getrandom` can be compiled to SBF only with `features = ["dummy"]`

[2022-11-20 14:26] LukasDeco commented on #28576
Does it still make sense to add this given the page is the very next page in documentation? Just double checking.

[2022-11-20 14:31] LukasDeco commented on #22485
Is this the kind of script we would add the tag to? https://github.com/solana-labs/solana/blob/master/sdk/docker-solana/build.sh Seems like there are a few of these scripts. Or am I looking in the wrong place.

[2022-11-20 21:38] bezrazli4n0 opened #28899 "Can't start solana-test-validator"
#### Problem

Trying to start `solana-test-validator`, but it closes unexpectedly without meaningful errors.

- Logs:
[code]

- Error:
[code]
- OS: macOS 13.0.1
- CPU: Apple M1 Pro
- bzip2: 1.0.8
- solana-test-validator: 1.13.6(also tried from latest master-commit)

[2022-11-20 22:44] vovacodes opened #28900 "[web3.js] Discrepancy between legacy Transaction API and new VersionedTransaction API"
#### Problem

Version: `@solana/web3.js@1.66.2`

Combination of `VersionedTransaction.deserialize` and `TransactionMessage.decompile` produces different result from the legacy `Transaction.from` API when deserializing the same exact transaction.

Reproduction below (note the difference in the `isWritable` flag of the last `key`)
<img width="1140" alt="Screenshot 2022-11-20 at 23 31 41" src="https:

[2022-11-21 15:04] apfitzge commented on #28654
Fix has been merged in above PRs.

[2022-11-21 15:04] #28654 closed

[2022-11-21 16:55] Lichtso opened #28909 "Feature Gate: enable_alt_bn128_syscall"
### Description

See #27961

### Feature ID

A16q37opZdQMCbe5qJ6xpBB9usykfv8jZaMkxvZQi4GJ

### Activation Method

Single Core Contributor

### Minimum Beta Version

1.15.0

### Minimum Stable Version

_No response_

### Testnet Activation Epoch

_No response_

### Devnet Activation Epoch

_No response_

### Mainnet-Beta Activation Epoch

_No response_

[2022-11-21 17:19] steviez commented on #28899
This is a duplicate of:
https://solana.stackexchange.com/questions/4258/getting-error-when-running-solana-test-validator

[2022-11-21 17:19] #28899 closed

[2022-11-21 17:59] KirillLykov commented on #28899
@bezrazli4n0 could you post your question to stackexchange (with all the versions etc) because original post is missing this information. On mac 12.2 I could not reproduce (`./validator/solana-test-validator`)

[2022-11-21 21:07] steveluscher commented on #28900
Thanks for this! Super helpful. I'll take a look in a bit.

[2022-11-21 21:43] mschneider opened #28918 "solana-core unit fails on m1 MBA due to illegal instruction"
#### Problem

[code]

#### ENV

MacBook Air (M1, 2020)
macOS 12.5
rustup 1.25.1 (bb60b1e89 2022-07-12)
active toolchain nightly-x86_64-apple-darwin
rustc 1.66.0-nightly (470e518c4 2022-09-27)

[2022-11-21 23:32] bezrazli4n0 commented on #28899
Moved to [solana stackexchange](https://solana.stackexchange.com/questions/4499/cant-start-solana-test-validator).
System reboot with `test_ledger` deletion doesn't work in my case :(

@KirillLykov @steviez

[2022-11-22 05:19] frbrkoala commented on #28866
Hi Linus. Thank you for your comment. Sent you e-mail from my work address. Will be happy to join the conversation.

[2022-11-22 10:21] KirillLykov opened #28924 "Clean up after anchor > 0.25 is released"
#### Problem

Anchor v0.25 depends on solana-program 1.10. This prevents using openbook in `build-downstream-projects.sh`
To overcome this problem we use anchor from master for now in:
* https://github.com/solana-labs/solana/blob/master/scripts/build-downstream-projects.sh#L93
* https://github.com/solana-labs/solana/blob/master/scripts/build-downstream-projects.sh#L97

#### Proposed Solution

Remo

[2022-11-22 10:28] #23643 closed

[2022-11-22 10:59] KirillLykov opened #28925 "Add market maker benchmark to test testnet cluster performance"
#### Problem

Current status: we test performance of the cluster using different bench programs such as bench-tps which are to test the cluster under specific load pattern, but we don't have bench programs to test more real-life scenarios.
Goal: introduce benchmarking scripts to test cluster behavior under different realistic loads. In particular, Market making on DEX.

#### Proposed Solution

For

[2022-11-22 12:37] Henry-E commented on #28711
FYI this also breaks one of anchor's CI tests. I'm playing around with some of the solutions suggested here, like changing versions but not having any luck yet.

[2022-11-22 15:39] KirillLykov commented on #28918
Looks similar to https://solana.stackexchange.com/questions/3640/solana-test-validator-illegal-hardware-instruction?rq=1

[2022-11-22 16:02] #28896 closed

[2022-11-22 18:03] taozhu-chicago commented on #27608
#28281 merged to master

[2022-11-22 18:03] #27608 closed

[2022-11-22 19:04] godmodegalactus commented on #28925
Great I will fix all the issues that are cited over here so that we can integrate into solana.

[2022-11-22 21:14] JonCognioDigital commented on #21366
For those of us running a site which uses the Solana Wallet Adapter library supporting Phantom and Solflare, do we need to do anything to implement this? DO we have to wait for Phantom/Solflare/Ledger to add something or do we need to do anything ourselves?

[2022-11-22 22:01] jordansexton commented on #21366
@JonCognioDigital yes, this is primarily on Phantom, Solflare, and other wallets to add support for.

It's also important to note that messages signed this way have a specific format, described here: https://github.com/solana-labs/solana/blob/e80f67dd58b7fa3901168055211f346164efa43a/docs/src/proposals/off-chain-message-signing.md

Wallets and apps will both need to update how they handle message s

[2022-11-22 22:07] fragosti commented on #21366
We will be adding support for this at Phantom :)

[2022-11-23 00:44] jeffwashington opened #28934 "Feature Gate: on accounst hash calculation, do not try to rehash accounts"
### Description

#28541 was created and activated (on testnet) to restore compatibility of testnet with mnb and master.
#28541 did not cover the case where we rehash accounts with an expected `rent_epoch` field during accounts hash calculation. As a result, the feature activation was not sufficient to restore compatibility. We have to disable the rehashing with a feature as well on testnet.
This f

[2022-11-23 14:35] ADBalici commented on #26385
Yeah also hope this is deployed soon.

[2022-11-23 14:53] jeffwashington opened #28942 "Sequence for testnet rehash fix"
#### Problem
Complex sequencing of a testnet fix #28934
- [x] test #28935 against testnet
- [x] review #28935 (@brooksprumo)
- [x] merge #28935 (anyone)
- [x] build a 1.14 release that should NOT be used for mnb or devnet (only testnet) but that includes #28935 (@willhickey)
version: 1.14.
- [x] update testnet to use the new 1.14 release with #28935
- [x] once enough is updated, activate the featu

[2022-11-23 15:37] VinceJTorrel commented on #28751
Be careful with the design considerations here. Very careful. If I could pick one improvement that would make or break Solana, especially given current events, it would be this one and any others related to fee computation.

What I think is missing here is the network effect of write target contention. It's more quadratic than linear in the number of competitors (especially if we're talking DDoS),

[2022-11-23 19:53] mottaghipour opened #28947 "Solana development"
I am a new developer in blockchain and I know programming and other concepts of blockchain. I want to know how to learn Solana architecture and how to contribute to this project? Do you have a roadmap?

[2022-11-24 13:34] mschneider commented on #28918
alright, i noticed that the active toolchain was still set to x86, can try arm64

[2022-11-24 17:31] mschneider commented on #28918
got another test failure, instead 🙃

[code]

[2022-11-25 10:27] KirillLykov commented on #28918
@mschneider Could not reproduce (mac 12.2.1, m1 proc, Rosetta installed, 1.65.0-aarch64-apple-darwin (default), rustc 1.65.0 (897e37553 2022-11-02))

[code]

[2022-11-25 12:08] mschneider commented on #28918
1.65 works

[2022-11-25 12:08] #28918 closed

[2022-11-26 03:35] amorriscode commented on #28947
@mottaghipour there are a ton of great resources provided by Solana: https://solana.com/developers

[2022-11-26 11:57] dovahcrow commented on #28743
Right I have the same feeling that having every question on stakeoverflow is a very bad idea.

[2022-11-26 19:00] overclock-validator commented on #28751
Supposedly Quic will be much better for handling spam but you can still get line link saturation (hard to prevent this if it's purely an attack?).

But yeah, I think charging for the base compute of transactions should still happen. i.e. charge 0.000001 lamport per compute unit. Those with low latency access to the beginning of the block might be able to slip in very large mev transactions for the

[2022-11-27 00:05] VinceJTorrel commented on #28751
I don't disagree with stale transaction fees.

The crux of the write-contention problem is this: the players in the game don't know, and can't quickly discover, how much contention actually exists. So you get a million of them bidding the minimum, 700K bidding double that, 300K bidding triple that, etc. in some sort of power-law decay. Some of these players have ways, potentially via validator "fr

[2022-11-28 07:52] linuskendall opened #28959 "Geyser to include previous owner on account delete/owner change"
#### Problem

It is currently problematic to detect 'deletion' of accounts in Geyser. If we want to filter for 'all accounts owned by X' and we also want to detect whenever any of those accounts are deleted then we need to keep a local state cache of all accounts we have previously seen/subscribed to and as soon as any of those show up as

AFAICT, in websockets logSubscribe will emit a transaction

[2022-11-28 17:11] brennanwatt commented on #28811
Agree with the general sentiment that making snapshot download faster, more consistent, more reliable, etc. would be a great thing. It looks like @steviez covered things really well but I'll add a couple comments:

1. Both #27154 and https://github.com/c29r3/solana-snapshot-finder are only looking at a single archive format for testing download speed. #27154 looks at TarZstd while snapshot finder

[2022-11-28 17:23] #28853 closed

[2022-11-28 17:25] sakridge commented on #28634
cc @yhchiang-sol

[2022-11-28 18:40] KirillLykov commented on #28811
@brennanwatt
1. Do you propose to have an option to select archive format or just do more experiments to find the best one? I wonder what could be relevant metrics beside of compression rate: do we care about mem/cpu load on rpc machines?
2. My understanding is that we want to solve something like the following:
[code]
Assuming that we can download incremental snapshots from somewhere with speed `

[2022-11-28 18:46] behzadnouri commented on #20969
duplicate issue: https://github.com/solana-labs/solana/issues/28384

[2022-11-28 22:36] brennanwatt commented on #20969
Adding some more color, #28384 proposes a solution to verify peers based on IP. Pre-requisite for this solution would be QUIC turbine so that IP cannot be spoofed.

Overhead of SigVerify an extra 64B signature per shred would have to be evaluated relative to overhead of QUIC server

[2022-11-29 00:56] CriesofCarrots opened #28967 "Admin RPC service --> solana-rpc"
#### Problem

It's easy to miss the Admin RPC service tucked away in `/validator`

#### Proposed Solution
Move it to the `solana-rpc` crate

[2022-11-29 01:32] CriesofCarrots commented on #28967
Unfortunately, it's not a straight drag-and-drop, as `admin_rpc_service.rs` depends on `solana-core`, which is downstream of `solana-rpc`

[2022-11-29 03:13] #28947 closed

[2022-11-29 03:13] steveluscher commented on #28947
The Solana Discord is the right place to ask questions like this: https://solana.com/discord

[2022-11-29 06:46] #25303 closed

[2022-11-29 07:29] #25648 closed

[2022-11-29 10:40] KirillLykov commented on #28811
@brennanwatt for 1, I guess there are two ways to support different formats -- one is to link with corresponding compression library, another is to run a process to compress a snapshot. I guess you have in mind the second to avoid introducing additional dependencies.

For 2, because we need to estimate each RPC node download speed your approach makes sense. Do we want to download using something l

[2022-11-29 22:03] apfitzge opened #28985 "Reconsider UnprocessedPacketBatches Design"
#### Problem
Current `UnprocessedPacketBatches` stores a priority queue of the original packets, as well as a map from message hash to `DeserializedPacket`. Design is inconvenient for use, has led to bugs such as #28978

#### Proposed Solution
Discuss alternatives here

[2022-11-29 22:03] apfitzge commented on #28985
Tagging @taozhu-chicago

[2022-11-29 22:07] apfitzge commented on #28985
Some initial thoughts:
1. Remove the message hash map, and have the priority-queue store `DeserializedPacket`s directly.
2. 1 + store SanitizedTransactions in priority queue, a struct wrapping `(DeserializedPacket, Arc<SanitizedTransaction>)`

Map from message hash to deserialized packet does not seem necessary, as duplicates are already prevented in the deduper.
If we store sanitized transactions

[2022-11-29 22:20] taozhu-chicago commented on #28985
Here is another proposal to refactor banking_stage buffer: #28577

[2022-11-29 22:36] apfitzge commented on #28985
Another buffer idea was included in: #26362 (global priority-queue + priority sorted account queues)

account specific priority queues enable blocking by the lowest-priority conflicting tx.

[2022-11-29 22:42] joncinque commented on #25550
Added with https://github.com/solana-labs/solana/pull/26921

[2022-11-29 22:42] #25550 closed

[2022-11-29 23:18] brennanwatt commented on #27480
I've been seeing `test_check_account_subscribe` fail with essentially this same signature. The changes from #27481 are ensuring the setup is complete, but there is still a race condition with actually processing the Subscribed notification before the bank transaction is completely processed. Adding a short delay in `fn process_notifications` can force this test to timeout

[2022-11-29 23:33] steviez commented on #28634
I had hacked together a branch to get some data on this. The idea is track the source of every data shred (turbine/recovery/repair), and then if we see that data shred come through insertion chain again, update a counter that corresponds to the initial insertion source and the duplicate source.The branch is [here](https://github.com/steviez/solana/tree/dup_shreds_data).

I let this run for about 2

[2022-11-30 01:46] taozhu-chicago commented on #28092
tag @overclock-validator.

[2022-11-30 05:12] steveluscher commented on #28900
Found the bug. I'm so grateful for your find!

[2022-11-30 10:21] billythedummy commented on #28551
Am running on v1.13.5. Think theres a bug / documentation inconsistency in `perf/src/perf_libs::locate_perf_libs()`. Running `solana-poh-bench` with `RUST_LOG=info TEST_PERF_LIBS=1` shows the following warning

[code]

Probably because `exe.parent()` in `let perf_libs = exe.parent().unwrap().join("perf-libs");` on line 102 returns `target/debug/` instead of `target/`, which is what the README on `

[2022-11-30 11:17] bguillaumat opened #28993 "Allow CPI call for BPF Upgradeable Loader ::close()"
**Problem**

Right now the close() function of the BPF Upgradeable Loader Program is protected to not be used via CPI calls.

In the case of Squads we're permitting program management and so the program upgrades, we would like to be able to close some buffer if they're not used and so the rent can be claimed back.
Seems a similar issue was found on the SetUpgradeAuthority months ago and solved.

I

[2022-11-30 17:57] #28900 closed

[2022-11-30 19:19] 0xripleys commented on #28711
running into the same issue with 1.10.29

[2022-11-30 19:26] mvines commented on #28711
We don't support obsolete branches like the v1.10 release line. Please use the latest 1.14 release and if the problem persists then it can be looked at

[2022-11-30 19:53] ProfMoo commented on #28783
Hi! Please let me know if this isn't the correct forum for this ask :).

It seems like some important JSON RPC parameters are missing from the library. Most impactful off the top of my head would be the `transactionDetails` configuration for the `getBlock` call. Without this, it's impossible to use TypeScript to get block information without receiving every transaction in the block. Receiving ever

[2022-11-30 20:55] steveluscher opened #28999 "web3.js: Add `transactionDetails` config to `getBlock`"
#### Problem

This code throws:

[code]

#### Proposed Solution

Implement the missing config.

[2022-11-30 20:55] steveluscher commented on #28783
Absolutely the right place! You've caught me fixing bugs this week, so I'll do this now, #28999.

[2022-11-30 21:19] ProfMoo commented on #28783
Wow thanks for the quick response! While you're working on this, it might be worthwhile adding other optional params for `getBlock`, such as the `rewards` config option as well. As is, this is the type:

[code]

It's missing a few options from the JSON-RPC endpoint: https://docs.solana.com/developing/clients/jsonrpc-api#getblock.

Of course, the additional asks don't need to be in the same fix/iss

[2022-11-30 23:36] 0xripleys commented on #28711
yeah using 1.14 works. fyi i think a lot of people are blocked because the latest anchor release only supports 1.10. i think that'll be fixed soon though